@import '/assets/colors';
@import '/assets/types';

$block: 'dropdown';
.#{$block} {
  position: relative;
  border: 1px solid $main-light;
  border-radius: 4px;

  &__check {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
    &:checked~.#{$block}__panel {
      display: block;
      box-shadow: 0 10px 15px $shadow-light-hard;
    }
    &:not(:checked)~.#{$block}__panel {
      display: none;
      box-shadow: none;
    }
    &:focus~.#{$block}__expand-more::before {
      color: $font-dark;
    }
  }

  &__expand-more {
    position: absolute;
    right: 0;
    min-width: 42px;
    min-height: 42px;
    cursor: pointer;

    &::before {
      @include icon-type;

      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 42px;
      min-height: 42px;
      color: $font-medium;
      font-size: -0.1px;
      background-color: transparent;
      content: 'expand_more';
    }
  }

  &__expand-more_hovered::before,
  &__expand-more:hover::before {
    color: $font-dark;
  }

  &__panel {
    position: absolute;
    left: -1px;
    z-index: 1;
    display: none;
    min-width: calc(100% + 2px);
    background-color: $bg-main;
    border: 1px solid $main-light;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &_independent {
      top: 50px;
      z-index: 2;
      border: none;

      @media only screen and (max-width: 400px) {
        position: static;
        min-width: 200px;
        border-top: 1px solid $main-light;
      }
    }

    &_align_right {
      right: -1px;
      left: auto;
    }
  }

  &_expanded {
    border-color: $main-medium;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    .#{$block}__panel {
      display: block;
      border-color: $main-medium;
    }
  }

  &_hovered,
  &:hover,
  &_focused,
  &:focus {
    border-color: $main-medium;
  }

  &:not(:hover) {
    border-color: $main-light;
    .#{$block}__panel {
      border-color: $main-light;
    }
  }
}
