include ../field/field.pug

mixin dropdown(value, type)
  .dropdown
    if type
      if type == 'filter'
        +field('default', 'text', value, '', '', true)
      else
        +field('default', type, value)
    else
      +field('default', 'text', value)
