include ../field/field.pug

mixin dropdown(dropdown)
  .dropdown
    case dropdown.mode
      when 'date'
        +field({ value: dropdown.value, type: 'date' })
      when 'filter'
        +field({ value: dropdown.value, disabled: true })
      default
        +field({ value: dropdown.value })