include ../expandable-list/expandable-list.pug
include ../link/link.pug

mixin nav-link(options = {})
  - const blockName = "nav-link";
  - const { isDropdown, list, name } = options;

  if isDropdown
    SECTION(class=blockName, class=`js-${blockName}`)
      +link(options)
      +expandable-list({ list, name })
  else
    P(class=blockName, class=`js-${blockName}`)
      +link(options)
