.headers-and-footers {
  display: flex;
  flex-direction: column;
  padding: 32px 0 140px;

  &__unit {
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin-top: 40px;

    &_first {
      margin-top: 0;
    }

    &_last {
      align-self: center;
      width: 100%;
      min-width: min-content;
      max-width: 768px;
    }
  }
}
