.headers-and-footers {
  display: flex;
  flex-direction: column;
  padding: 32px 0 140px;
  background: #f4f4f6;

  &__unit {
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin-top: 40px;

    &_first {
      margin-top: 0;
    }

    &_last {
      align-self: center;
    }
  }
}
