extends ../../../layout

include ../../../components/logo/logo.pug
include ../../../components/header/header.pug
include ../../../components/footer/footer.pug

block variables
  - var title = 'TOXIN - UI kit'
  - var page = 'page_headers-and-footers'

block content
  +logo
  .headers-and-footers
    +header
    +header('Юлий Цезарь')
    +footer
    +footer('creative')