.page {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;

  &__header {
    padding: 30px;
  }
  &__main {
    padding: 32px 0px 140px;
  }
  &_gray {
    background: #F4F4F6;
  }
}

.headers-and-footers {
  display: flex;
  flex-direction: column;
  &__unit {
    margin-top: 40px;
    &_first {
      margin-top: 0;
    }
    &_last {
      align-self: center;
    }
  }
}