.page {
  width: 100%;
  min-width: 320px;
  height: max-content;
}

.registration {
  position: relative;
  z-index: 0;
  display: flex;
  padding: 19px 10px;

  &__card {
    display: flex;
    justify-content: center;
    min-width: 100%;
  }
}
