extends ../../../layouts/website/website

include ../../../components/card/card.pug
include ../../../components/card-form/card-form.pug
include ../../../components/carousel/carousel.pug

block variables
  - const options = { 
  -   title: "TOXIN - Registration",
  -   description: "Пример страницы регистрации",
  -   keywords: "toxin, registration",
  - }

block content
  .registration
    .registration__background
      +carousel({
        slides: [ "../assets/images/log-room-2.jpg", "../assets/images/log-room-1.jpg" ],
        delaySec: 10,
      })
    .registration__card
      +card({ title: "Регистрация аккаунта" })
        +card-form({ type: "check-in" })