extends ../../../layout

include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/card/card.pug
include ../../../components/card-form/card-form.pug
include ../../../components/carousel/carousel.pug

block variables
  - const title = "TOXIN - Registration"
  - const descr = "Пример страницы регистрации"
  - const keywords = "toxin, registration"

block content
  HEADER.page__header
    +header
  MAIN.page__main
    .registration
      .registration__background
        +carousel({
          slides: [ "../images/log-room-2.png", "../images/log-room-1.png" ],
          delaySec: 10,
        })
      .registration__card
        +card({ title: "Регистрация аккаунта" })
          +card-form({ for: "check-in", id: "check-in-form" })
  FOOTER.page__footer
    +footer