.page {
  min-width: 320px;
  width: 100%;
  height: fit-content;
}

.registration {
  position: relative;
  z-index: 0;
  padding: 19px 10px;
  display: flex;
  &__card {
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
}