.page {
  min-width: 320px;
  width: 100%;
  height: fit-content;
}

.registration {
  position: relative;
  z-index: 0;
  padding: 19px;
  display: flex;
  &__card {
    flex-basis: 380px;
    margin: auto;
  }
}