@import '/assets/colors';
@import '/assets/types';

$block: 'pagination';

.#{$block} {
  &__items {
    display: flex;
    min-width: 241px;
    max-width: 241px;
    min-height: 40px;
  }

  &__item {
    @include icon-type;

    display: flex;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    background: none;
    border-radius: 20px;

    &_hovered,
    &:hover,
    &:focus {
      outline: none;
      opacity: 0.5;
    }

    &_current {
      background: linear-gradient(180deg, $color-purple 0%, $color-purple-end 100%);
      .#{$block}__value {
        color: white;
        font-weight: bold;
      }
    }

    &_next {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background: linear-gradient(180deg, $color-green 0%, $color-green-end 100%);
      border-radius: 20px;
    }
  }

  &__value {
    width: 100%;

    @include h3-type;

    color: $color-50per;
    font-weight: normal;
  }

  &__description {
    margin-top: 8px;
    padding: 5px;
  }
}
