@import '@comp/colors-style/colors-style.scss';
@import '@comp/type-style/type-style.scss';

$block: 'pagination';

.#{$block} {
  &__items {
    min-width: 241px;
    max-width: 241px;
    min-height: 40px;
    display: flex;
  }
  &__item {
    @include icon-type;
    min-width: 40px;
    min-height: 40px;

    display: flex;
    align-items: center;

    background: none;
    border-radius: 20px;
    &_hovered,
    &:hover {
      opacity: 0.5;
    }
    &_current {
      background: linear-gradient(180deg, $color-purple 0%, $color-purple-end 100%);
      .#{$block}__value {
        color: white;
        font-weight: bold;
      }
    }
    &_next {
      background: linear-gradient(180deg, $color-green 0%, $color-green-end 100%);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
  &__value {
    width: 100%;
    @include text('mod_pagination')
  }
  &__description {
    margin-top: 5px;
    padding: 5px;
  }
}