@import '/styles/colors';
@import '/styles/types';

$block: 'pagination';

.#{$block} {
  &__items {
    display: flex;
    min-width: 241px;
    max-width: 241px;
    min-height: 40px;
  }

  &__item {
    @include icon-type;

    display: flex;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    padding: 0;
    background: none;
    border: 0;
    border-radius: 20px;
    cursor: pointer;

    &_hovered,
    &:hover,
    &:focus {
      outline: none;
      opacity: 0.5;
    }

    &_current {
      background: $brand-gradient;
      .#{$block}__value {
        color: $font-inverse;
        font-weight: bold;
      }
    }

    &_next {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $font-inverse;
      background: $accent-gradient;
      border-radius: 20px;
    }
  }

  &__value {
    width: 100%;

    @include h3-type;

    color: $font-medium;
    font-weight: normal;
  }

  &__description {
    margin-top: 8px;
    padding: 5px;
  }
}
