mixin toggle-group(toggle, id)
  .toggle-group
    if toggle.checked
      input.toggle-group__input(type='checkbox' id=id checked)
    else
      input.toggle-group__input(type='checkbox' id=id)
    label.toggle-group__label(for=id)=toggle.label