.landing {
    &__main {
        min-height: 830px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 70px 134px 21px 140px;
        background: no-repeat url('pages/website/landing-page-1/landing__room_3.png');
        background-size: cover;
        // background-position: 0px -70px;
    }
    &__text {
        align-self: flex-end;
        max-width: 297px;
        font-family: $font-main;
        font-size: 14px;
        line-height: 24px;
        text-align: right;
        color: $color-75per;
    }
}

@media only screen and (max-width : 660px) {
    .landing {
        &__main {
            padding: 40px;
        }
    }
}

@media only screen and (max-width : 460px) {
    .landing {
        &__main {
            padding: 40px 10px;
            .card {
                align-self: center;
            }
        }
        
    }
}

@media only screen and (max-width : 410px) {
    .card {
        width: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        &__block_row:nth-child(2) {
            flex-direction: column;
            & > :last-child {
                margin-left: 0;
                margin-top: 5px;
            }
        }
        height: 433px;
    }
}

@media only screen and (max-width : 380px) {
    .card {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        align-self: flex-start;
        &__title {
            padding-right: 5px;
        }
        height: 470px;
    }
}