mixin total-rate(sum = 0)
  - const blockName = "total-rate";
  - const lastDigit = +sum.toString()[sum.toString().length - 1];
  - const penultDigit = +sum.toString()[sum.toString().length - 2];
  - let wordForm = "голосов";
  - const isNominative = lastDigit == 1 && penultDigit != 1;
  if isNominative
    - wordForm = "голос";
  -
    const isGenitive = penultDigit != 1 
      && (lastDigit == 2 || lastDigit == 3 || lastDigit == 4)
  if isGenitive
    - wordFrom = "голоса";

  H3(class=blockName)
    SPAN(class=`${blockName}__number`)= sum
    SPAN(class=`${blockName}__text`)= wordForm
