@import '/assets/colors';
@import '/assets/types';

.total-rate {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__number {
    @include h1-type;

    color: $font-brand;
  }

  &__text {
    @include h3-type;

    color: $font-brand;
  }
}
