include ../form-set/form-set.pug
include ../rate-button/rate-button.pug
include ../reviews-counter/reviews-counter.pug
include ../wishes/wishes.pug
include ../check-in/check-in.pug
include ../room-booking/room-booking.pug
include ../log-in/log-in.pug

mixin card-form(options = {})
  - const blockName = "card-form";
  - const { type, custom } = options;

  FORM(class=blockName, class=`js-${blockName}`)
    case type
      when "wishes"
        +wishes(custom)
      when "check-in"
        +check-in
      when "room"
        +room-booking
      when "log-in"
        +log-in
      when "room-rate"
        -
          const formSetOptions = {
            isGrouped: true, 
            isInlined: true, 
            withLine: true, 
            isAligned: true,
          }
          const rateButtonOptions = {
            name: `${custom.number}-rate`, 
            value: custom.rate,
          }
        +form-set(formSetOptions)
          .form-set__element
            +rate-button(rateButtonOptions)
          .form-set__element
            +reviews-counter(custom.reviews)
