include ../radio-group/radio-group.pug

//-
  options.value

mixin rate-button(options)
  if !options
    - options = {}
  - options.isRate = true
  if !("value" in options)
    - options.value = 0
  - const set = []
  - let i = 0
  while i <= 5
    - set[i] = i <= options.value ? {isChecked: true} : {isChecked: false}
    - i = i + 1
  - options.options = set
  +radio-group(options)