@import '../colors-style/colors-style.scss';

.rate-button {
  min-width: 120px;
  max-width: 120px;
  min-height: 24px;
  display: flex;
  position: relative;
  &__box {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:not(:checked)~.rate-button__label::before {
      background-image: url('./rate-star.png');
    }
    &:checked~.rate-button__label::before {
      background-image: url('./rate-star-border.png');
    }
    &:checked+.rate-button__label::before {
      background-image: url('./rate-star.png');
    }
  }
  &__label {
    margin-left: 24px;
    position: relative;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background: no-repeat url('./rate-star-border.png');
      background-position: 4px;
    }
    &_checked {
      &::before {
        background-image: url('./rate-star.png');
      }
    }
    &_first {
      display: none;
    }
    &_second {
      margin-left: 0;
    }
  }
}