include ../radio-group/radio-group.pug

//-
  options.id
  options.rate

mixin rate-button(options)
  if !options
    - options = {}
  - options.isRate = true
  if !("value" in options)
    - options.value = 0
  - set = []
  - i = 0
  while i <= 5
    - set[i] = i <= options.value ? {checked: true} : {checked: false}
    - i = i + 1
  - options.options = set
  +radio-group(options)