$star: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='10' y1='-2' x2='10' y2='22' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
$star-border: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 13.4219L13.75 15.6719L12.7656 11.4062L16.0938 8.5L11.6875 8.125L10 4.09375L8.3125 8.125L3.90625 8.5L7.23438 11.4062L6.25 15.6719L10 13.4219ZM19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='10' y1='-2' x2='10' y2='22' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E ");
$block: 'rate-button';

.#{$block} {
  position: relative;
  display: flex;
  min-width: 120px;
  max-width: 120px;
  min-height: 24px;

  &__box {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:not(:checked)~.#{$block}__label::before {
      background-image: $star;
    }
    &:checked~.#{$block}__label::before {
      background-image: $star-border;
    }
    &:checked+.#{$block}__label::before {
      background-image: $star;
    }
    &:focus+.#{$block}__label::before {
      outline: none;
      transform: scale(1.2);
      transition: all 0.1s ease-out;
    }
  }

  &__label {
    position: relative;
    margin-left: 24px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background: no-repeat center $star-border;
      content: '';
    }

    &_checked {
      &::before {
        background-image: $star;
      }
    }

    &_first {
      display: none;
    }

    &_second {
      margin-left: 0;
    }
  }
}
