$block: 'rate-button';
.#{$block} {
  position: relative;
  display: flex;
  min-width: 120px;
  max-width: 120px;
  min-height: 24px;

  &__box {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:not(:checked)~.#{$block}__label::before {
      background-image: url('images/star.svg');
    }
    &:checked~.#{$block}__label::before {
      background-image: url('images/star-border.svg');
    }
    &:checked+.#{$block}__label::before {
      background-image: url('images/star.svg');
    }
    &:focus+.#{$block}__label::before {
      outline: none;
      transform: scale(1.2);
      transition: all 0.1s ease-out;
    }
  }

  &__label {
    position: relative;
    margin-left: 24px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background: no-repeat center url('images/star-border.svg');
      content: '';
    }

    &_checked {
      &::before {
        background-image: url('images/star.svg');
      }
    }

    &_first {
      display: none;
    }

    &_second {
      margin-left: 0;
    }
  }
}
