@import '../../../components/logo/logo.scss';
@import '../../../components/check-section/check-section.scss';
@import '../../../components/section/section.scss';

@import '../../../components/slider/slider.scss';
@import '../../../components/button/button.scss';
@import '../../../components/pagination/pagination.scss';
@import '../../../components/field/field.scss';
@import '../../../components/dropdown/dropdown.scss';

.form-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .logo {
        position: absolute;
        left: 30px;
        top: 30px;
    }
    
    .inputs {
        margin: 143px 141px;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        // border: 1px solid red;
        .fields {
            width: 320px;
            height: 633px;

            & > * {
                margin-top: 20px;
                &:first-child {
                    margin-top: 0;
                }
            }
            & > :nth-child(5) {
                display: flex;
                justify-content: space-between;

                margin-top: 40px;
                & ~ * {
                    margin-top: 40px;
                    width: 266px;
                }
            }
            
            // border: 1px solid black;
        }
        .checks {
            margin-left: 126px;
            width: 260px;
            height: 537px;
            & > :first-child {
                width: 222px;
            }
            & > * {
                margin-bottom: 36.5px;
            }
            //border: 1px solid black;
        }
        .buttons {
            margin-left: 132px;
            width: 320px;
            height: 503px;
            & > :first-child {
                max-width: 266px;
            }
            & > * {
                margin-bottom: 40px;
            }
            // border: 1px solid black;
        }
    }
    
    .dropdowns {
        margin: 100px 140px;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        // border: 1px solid red;
        .dropdowns_section_1 {
            width: 266px;
            height: 266px;

            & > * {
                margin-top: 20px;
                &:first-child {
                    margin-top: 0;
                }
            }
            // border: 1px solid black;
        }
        .dropdowns_section_2 {
            margin-left: 181px;
            width: 320px;
            height: 222px;
            // border: 1px solid black;
        }
        .dropdowns_section_3 {
            margin-left: 72px;
            width: 320px;
            height: 222px;
            // border: 1px solid black;
        }
    }
    
    .check-lists {
        margin: 54px 140px;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        border: 1px solid red;
        .check-lists_section_1 {
            width: 266px;
            height: 268px;
            border: 1px solid black;
        }
        .check-lists_section_2 {
            margin-left: 181px;
            width: 266px;
            height: 145px;
            border: 1px solid black;
        }
        .check-lists_section_3 {
            margin-left: 126px;
            margin-right: 28px;
            width: 292px;
            height: 147px;
            border: 1px solid black;
        }
    }
    
    .others {
        margin: 100px 140px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        border: 1px solid red;
        .extras {
            width: 280px;
            height: 158px;
            border: 1px solid black;
        }
        .comments {
            margin-left: 167px;
            width: 711px;
            height: 133px;
            border: 1px solid black;
        }
    }    
}