extends ../../../layout
include ./field-elements/field-elements.pug
include ./check-elements/check-elements.pug
include ./button-elements/button-elements.pug

include ./dropdowns/dropdowns.pug

include ./lists/lists.pug

include ../../../components/logo/logo.pug

include ../../../components/section/section.pug

block variables
  - var title = "TOXIN - UI kit"

block content
    HEADER.page__header
      +logo
    MAIN.page__main
      .form-elements
        .form-elements__section
          .same-type-elements
            .same-type-elements__section
              +field-elements
            .same-type-elements__section.same-type-elements__section_shrunken
              +check-elements
            .same-type-elements__section
              +button-elements
        .form-elements__section.form-elements__section_margin_to-dropdowns
          .same-type-elements
            .same-type-elements__section
              +dropdowns
            .same-type-elements__section
              +dropdowns("fullset")
            .same-type-elements__section
              +dropdowns("fullset-example")
      .form-elements__section.form-elements__section_margin_to-check-lists
          .same-type-elements
            .same-type-elements__section
              +lists
            .same-type-elements__section
              +lists("rich-checks")
            .same-type-elements__section
              +lists("bullet")
      .form-elements__section.form-elements__section_margin_to-others
          .others
            .extras
              +section({
                content: {
                  type: 'extra-list',
                  list: [
                    {
                      name: 'Комфорт',
                      details: 'Шумопоглощающие стены'
                    },
                    {
                      name: 'Удобство',
                      details: 'Окно в каждой из спален'
                    },
                  ]
                }
              })
            .comments
              +section({
                content: {
                  type: 'comment',
                  id: 'comment1',
                  username: 'Мурад Сарафанов',
                  src: '../images/murad.png',
                  datetime: '5 дней назад',
                  text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                  likes: 12,
                  liked: true
                }
              })
