extends ../../../layouts/ui-kit/ui-kit

include sections/field-elements/field-elements.pug
include sections/check-elements/check-elements.pug
include sections/button-elements/button-elements.pug
include sections/dropdowns/dropdowns.pug
include sections/lists/lists.pug
include sections/others/others.pug

block variables
  -
    const options = {
      title: "TOXIN - UI kit",
      description: "Элементы форм",
      keywords: "toxin, ui-kit, form, elements",
    }

block content
  .form-elements
    SECTION.form-elements__section.form-elements__section_first
      ARTICLE.form-elements__column
        +field-elements
      ARTICLE.form-elements__column.form-elements__column_shifted
        +check-elements
      ARTICLE.form-elements__column
        +button-elements
    SECTION.form-elements__section
      ARTICLE.form-elements__column
        +dropdowns
      ARTICLE.form-elements__column.form-elements__column_shifted
        +dropdowns("full-set")
      ARTICLE.form-elements__column
        +dropdowns("full-set-example")
    SECTION.form-elements__section.form-elements__section_neared
      ARTICLE.form-elements__column
        +lists("expandable-checks")
      ARTICLE.form-elements__column.form-elements__column_shifted
        +others("rich-checks")
      ARTICLE.form-elements__column
        +lists("bullet")
    SECTION.form-elements__section
      ARTICLE.form-elements__column.form-elements__column_shrunken
        +lists("extra")
      ARTICLE.form-elements__column.form-elements__column_wide
        +others("comment")
