extends ../../../layout

include ../../../components/logo/logo.pug

block variables
  - var title = 'TOXIN - UI kit'

block content
  .form-elements
    +logo
    .fields
    .checks
    .buttons
    .dropdowns_section_1
    .dropdowns_section_2
    .dropdowns_section_3
    .check-lists_section_1
    .check-lists_section_2
    .check-lists_section_3
    .extras
    .comments
