@import '../../../components/section/section.scss';

@import '../../../components/slider/slider.scss';
@import '../../../components/button/button.scss';
@import '../../../components/pagination/pagination.scss';
@import '../../../components/field/field.scss';
@import '../../../components/dropdown/dropdown.scss';
@import '../../../components/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../../components/checkbox-group/checkbox-group.scss';
@import '../../../components/radio-group/radio-group.scss';
@import '../../../components/toggle-group/toggle-group.scss';
@import '../../../components/like/like.scss';
@import '../../../components/rate-group/rate-group.scss';
@import '../../../components/bullet-list/bullet-list.scss';
@import '../../../components/extra-list/extra-list.scss';
@import '../../../components/comment/comment.scss';

@import './field-elements/field-elements.scss';
@import './check-elements/check-elements.scss';
@import './button-elements/button-elements.scss';

.form-elements-page {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  &__logo {
    padding: 30px;
  }
  &__form-elements {
    padding: 35px 141px;
  }
}

.form-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &__section {
    max-width: 1158px;
    min-width: 900px;
    width: 100%;

    &_margin {
      &_to-dropdowns {
        margin-top: 100px;
      }
      &_to-check-lists {
        margin-top: 173px;
      }
      &_to-others {
        margin-top: 94px;
        margin-bottom: 131px;
      }
    }
  }
}

.simple-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__section {
    max-width: 320px;
    width: 100%;
  }
}


.form-elements {        
    .dropdowns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
        .dropdowns_section_1 {
            flex-grow: 1;
            
            margin-right: 42px;
            .section {
                max-width: 266px;
                min-width: 266px;
                width: 100%;

                margin-top: 20px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        .dropdowns_section_2 {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            margin-right: 30px;
            .section {
                align-self: flex-end;
                max-width: 320px;
                min-width: 266px;
                width: 100%;
            }
        }
        .dropdowns_section_3 {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            .section {
                align-self: flex-end;
                max-width: 320px;
                min-width: 266px;
                width: 100%;
            }
        }
    }
    .check-lists {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
        .check-lists_section_1 {
            flex-grow: 1;
            margin-right: 42px;
            .section {
                max-width: 266px;
                min-width: 266px;
                width: 100%;

                margin-top: 44px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        .check-lists_section_2 {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            margin-right: 30px;
            .section {
                align-self: flex-end; 
                max-width: 320px;
                min-width: 266px;
                width: 100%;
            }
        }
        .check-lists_section_3 {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            .section {
                align-self: flex-end; 
                max-width: 320px;
                min-width: 266px;
                width: 100%;
            }
        }
    }
    .others {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
        .extras {
            flex-grow: 1;
            .section {
                max-width: 280px;
                min-width: 266px;
                width: 100%;
            }
        }
        .comments {
            align-self: center;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            margin-bottom: 5px;
            margin-left: 42px;
            .section {
                align-self: flex-end;
                max-width: 711px;
                min-width: 266px;
                width: 100%;
            }
        }
    }    
}

@media only screen and (max-width : 950px) {
    .form-elements {
        .inputs {
            flex-wrap: wrap;
            min-width: 600px;
            margin-top: 110px;
            .fields {
                display: flex;
                flex-direction: column;
                .section {
                    align-self: flex-end;
                }
                & > :nth-child(5) {
                    align-self: flex-end;
                }
            }
            .checks {
                margin-right: 0;
                .section {
                    align-self: flex-start;
                }
            }
            .buttons {
                order: 2;
                margin-top: 40px;
                .section {
                    align-self: center;
                    max-width: 586px;
                    width: 100%;
                    &:first-child {
                        padding-right: 0;
                    }
                    &__block_btn {
                        max-width: 100%;
                        width: 100%;
                        & > :last-child {
                            max-width: 100%;
                            width: 100%;
                        }
                    }
                }
            }
            &::after {
                content: '';
                width: 100%;
                order: 1;
            }
        }
        .dropdowns {
            flex-wrap: wrap;
            min-width: 600px;
            margin-top: 50px;
            .dropdowns_section_1 {
                display: flex;
                flex-direction: column;
                margin-right: 54px;
                .section {
                    align-self: flex-end;
                }
            }
            .dropdowns_section_2 {
                margin-right: 0;
                .section {
                    max-width: 266px;
                    align-self: flex-start;
                }
            }
            .dropdowns_section_3 {
                order: 2;
                margin-top: 140px;
                .section {
                    align-self: center;
                    max-width: 586px;
                    width: 100%;
                }
            }
            &::after {
                content: '';
                width: 100%;
                order: 1;
            }
        }
        .check-lists {
            flex-wrap: wrap;
            min-width: 600px;
            margin-top: 21s0px;
            .check-lists_section_1 {
                display: flex;
                flex-direction: column;
                margin-right: 54px;
                .section {
                    align-self: flex-end;
                }
            }
            .check-lists_section_2 {
                margin-right: 0;
                .section {
                    align-self: flex-start;
                }
            }
            .check-lists_section_3 {
                order: 2;
                margin-top: 40px;
                .section {
                    align-self: center;
                    max-width: 586px;
                    width: 100%;
                }
            }
            &::after {
                content: '';
                width: 100%;
                order: 1;
            }
        }
        .others {
            flex-wrap: wrap;
            min-width: 600px;
            margin-top: 50px;
            margin-bottom: 70px;
            .extras {
                display: flex;
                flex-direction: column;
                .section {
                    align-self: center;
                    max-width: 706px;
                    width: 100%;
                }
            }
            .comments {
                margin-left: 0;
                margin-top: 40px;
                .section {
                    align-self: center;
                    max-width: 706px;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width : 630px) {
    .form-elements {
        .inputs {
            flex-wrap: nowrap;
            flex-direction: column;
            min-width: 300px;
            margin-top: 100px;
            .fields {
                align-self: center;
                max-width: 100%;
                width: 100%;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
                & > :nth-child(5) {
                    max-width: 100%;
                    width: 100%;
                    .section {
                        max-width: 100%;
                        width: 100%;
                        flex-grow: 1;
                        &:last-child {
                            margin-left: 20px;
                        }
                    }
                }
            }
            .checks {
                align-self: center;
                max-width: 100%;
                width: 100%;
                margin-top: 40px;
                padding-left: 0;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
            }
            .buttons {
                align-self: center;
                max-width: 100%;
                width: 100%;
                padding-right: 0;
            }
        }
        .dropdowns {
            flex-wrap: nowrap;
            flex-direction: column;
            min-width: 300px;
            .dropdowns_section_1 {
                align-self: center;
                max-width: 100%;
                width: 100%;
                margin-right: 0;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
            }
            .dropdowns_section_2 {
                align-self: center;
                max-width: 100%;
                width: 100%;
                margin-top: 140px;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
            }
            .dropdowns_section_3 {
                align-self: center;
                max-width: 100%;
                width: 100%;
                padding-right: 0;
                margin-top: 180px;
            }
        }
        .check-lists {
            flex-wrap: nowrap;
            flex-direction: column;
            min-width: 300px;
            margin-top: 210px;
            .check-lists_section_1 {
                align-self: flex-start;
                margin-right: 0;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
            }
            .check-lists_section_2 {
                align-self: flex-start;
                margin-top: 40px;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
            }
            .check-lists_section_3 {
                align-self: flex-start;
                padding-right: 0;
            }
        }
        .others {
            flex-wrap: nowrap;
            flex-direction: column;
            min-width: 300px;
            margin-bottom: 30px;
            .extras {
                align-self: center;
                max-width: 100%;
                width: 100%;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
            }
            .comments {
                align-self: center;
                max-width: 100%;
                width: 100%;
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
}