extends ../../../layout

include ./field-elements/field-elements.pug
include ./check-elements/check-elements.pug
include ./button-elements/button-elements.pug

include ./dropdowns/dropdowns.pug
include ./lists/lists.pug
include ./extras/extras.pug

include ../../../components/logo/logo.pug

block variables
  - var title = "TOXIN - UI kit"

block content
  HEADER.page__header
    +logo
  MAIN.page__main
    .form-elements
      SECTION.form-elements__section
        .form-elements-section
          ARTICLE.form-elements-section__column
            +field-elements
          ARTICLE.form-elements-section__column.form-elements-section__column_shifted
            +check-elements
          ARTICLE.form-elements-section__column
            +button-elements
      SECTION.form-elements__section.form-elements__section_margin_to-dropdowns
        .form-elements-section
          ARTICLE.form-elements-section__column
            +dropdowns
          ARTICLE.form-elements-section__column.form-elements-section__column_shifted
            +dropdowns("fullset")
          ARTICLE.form-elements-section__column
            +dropdowns("fullset-example")
      SECTION.form-elements__section.form-elements__section_margin_to-check-lists
        .form-elements-section
          ARTICLE.form-elements-section__column
            +lists
          ARTICLE.form-elements-section__column.form-elements-section__column_shifted
            +lists("rich-checks")
          ARTICLE.form-elements-section__column
            +lists("bullet")
      SECTION.form-elements__section.form-elements__section_margin_to-others
        .form-elements-section
          ARTICLE.form-elements-section__column.form-elements-section__column_shrunken
            +extras
          ARTICLE.form-elements-section__column.form-elements-section__column_wide
            +extras("comment")
