extends ../../../layout

include ../../../components/logo/logo.pug
include ../../../components/field-section/field-section.pug

block variables
  - var title = 'TOXIN - UI kit'

block content
  .form-elements
    +logo
    .inputs
      .fields
        .fields_section
          +field-section('Text Field', 'Default')
          +field-section('Text Field', 'Hover / Focus')
          +field-section('Dropdown', 'Default')
          +field-section('masked text field', 'Default')
        .fields_section.fields_section_date
          +field-section('date Dropdown', '')
          +field-section('date Dropdown', '', '2019-08-19')
        .fields_section
          +field-section('filter date dropdown', '', '19 авг - 23 авг')
        .fields_section
      .checks
      .buttons
    .dropdowns
      .dropdowns_section_1
      .dropdowns_section_2
      .dropdowns_section_3
    .check-lists
      .check-lists_section_1
      .check-lists_section_2
      .check-lists_section_3
    .others
      .extras
      .comments
