.page {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;

  &__header {
    padding: 30px;
  }
  &__main {
    padding: 35px 141px 131px;
  }
}

.form-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &__section {
    max-width: 1158px;
    min-width: 900px;
    width: 100%;

    margin-top: 100px;
    &_first {
      margin-top: 0;
    }
  }
}

.form-elements-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__column {
    min-width: 260px;
    max-width: 320px;
    width: 100%;
    &_shrunken {
      min-width: auto;
    }
    &_shifted {
      margin-left: 55px;
      @media only screen and (max-width : 1440px) {
        margin: 0 30px;
      }
    }
    &_wide {
      max-width: 711px;
      @media only screen and (max-width : 1440px) {
        margin-left: 30px;
      }
    }
  }
}