extends ../../../layout

include ../../../components/logo/logo.pug
include ../../../components/section/section.pug
include ../../../components/form-section/form-section.pug

block variables
  - var title = "TOXIN - UI kit"

block content
  .form-elements-page
    .form-elements-page__logo
      +logo
    .form-elements-page__form-elements
      .form-elements
        .form-elements__section
          .field-elements
            .field-elements__section
              .text-fields
                .fields__section.text-fields__section_first
                  +form-section({
                    title: "Text Field",
                    details: "Default",
                    field: { 
                      id: "text-field-default",
                      placeholder: "Email",
                    },
                  })
                .text-fields__section
                  +form-section({
                    title: "Text Field",
                    details: "Hover / Focus",
                    field: { 
                      id: "text-field-hovered-and-focused",
                      placeholder: "This is pretty awesome",
                      hovered: true,
                      focused: true,
                    },
                  })
                .text-fields__section
                  +form-section({
                    title: "Dropdown",
                    field: {
                      id: "dropdown-default",
                      value: "Сколько гостей",
                      dropdown: true,
                    },
                  })
                .text-fields__section
                  +form-section({
                    title: "Masked Text Field",
                    field: { 
                      id: "text-field-masked",
                      placeholder: "ДД.ММ.ГГГГ",
                      masked: true,
                    },
                  })
                .text-fields__section.text-fields__section_rarefied.text-fields__section_paired
                  .text-fields__subsection.text-fields__subsection_first
                    +form-section({
                      title: "Date Dropdown",
                      field: {
                        id: "date-dropdown-default",
                        type: "date",
                        dropdown: true,
                      },
                    })
                  .text-fields__subsection
                    +form-section({
                      title: "Date Dropdown",
                      field: {
                        id: "date-dropdown-with-value",
                        type: "date",
                        value: '2019-08-19',
                        dropdown: true,
                      },
                    })
                .text-fields__section.text-fields__section_rarefied.text-fields__section_shortened
                  +form-section({
                    title: "Filter Date Dropdown",
                    field: {
                      id: "filter-date-dropdown",
                      type: "date",
                      value: "19 авг - 23 авг",
                      dropdown: true,
                      filter: true,
                    },
                  })
                .text-fields__section.text-fields__section_rarefied.text-fields__section_shortened
                  +form-section({
                    title: "Subscription Text Field",
                    field: { 
                      id: "text-field-subscription",
                      placeholder: "Email",
                      directed: true,
                    },
                  })
            .field-elements__section
              .check-fields
                .check-fields__section.check-fields__section_first
                  +form-section({
                    title: "Checkbox Buttons",
                    fields: [
                      {id: "check-btn-1", label: "Можно курить", check: true},
                      {id: "check-btn-2", label: "Можно с питомцами", check: true, checked: true},
                      {id: "check-btn-3", label: "Можно пригласить гостей (до 10 человек)", check: true, checked: true},
                    ]
                  })
                .check-fields__section
                  +section({
                    title: { name: 'Radio Buttons' },
                    content: { 
                      type: 'radio',
                      id: 'radio1',
                      checks: [
                        {label: 'Мужчина', checked: true},
                        {label: 'Женщина'}
                      ]
                    }
                  })
                .check-fields__section
                  +section({
                      title: { name: 'Toggle' },
                      content: { 
                        type: 'toggle',
                        id: 'toggle1',
                        checks: [
                          {label: 'Получать спецпредложения', checked: true},
                          {label: 'Получать спецпредложения'}
                        ]
                      }
                  })
                .check-fields__section
                  +section({
                    title: { name: 'like button' },
                    content: { 
                      type: 'like',
                      id: 'like1',
                      checks: [
                        {label: '2'},
                        {label: '12', checked: true}
                      ]
                    }
                  })
                .check-fields__section
                  +section({
                    title: { name: 'rate button' },
                    content: { 
                      type: 'rate',
                      id: 'rate1',
                      checks: [{checked: false},{checked: false},{checked: false},{checked: true},{checked: false}],
                      demo: [{checked: false},{checked: false},{checked: false},{checked: false},{checked: true}]
                    }
                  })
            .field-elements__section
              .buttons
                +section({
                  title: { 
                    name: 'Range Slider', 
                    details: '5 000₽ - 10 000₽' 
                  },
                  content: {
                    type: 'slider',
                    min: 31.75,
                    max: 63.5
                  }
                })
                +section({
                  title: { name: 'buttons' },
                  content: {
                    type: 'buttons',
                    buttons: [
                      {text: 'CLICK ME', style: 'blue', demo: true},
                      {text: 'CLICK ME', style: 'border', demo: true},
                      {text: 'CLICK ME', style: 'link', demo: true},
                      {text: 'перейти к оплате', arrow: true}
                    ]
                  }
                })
                +section({
                  title: { name: 'pagination' },
                  content: { 
                    type: 'pagination',
                    last: 15,
                    description: '1 – 12 из 100+ вариантов аренды'
                  }
                })
        .form-elements__section.form-elements__section_margin_to-dropdowns
          .dropdowns
            .dropdowns_section_1
              +section({
                title: { 
                  name: 'dropdown',
                  details: 'Default'
                },
                content: { 
                  type: 'dropdown',
                  value: '2 спальни, 2 кровати...',
                  demo: true
                }
              })
              +section({
                title: { 
                  name: 'dropdown',
                  details: 'expanded'
                },
                content: { 
                  type: 'dropdown',
                  value: '2 спальни, 2 кровати...',
                  list: [
                    { name: 'спальни', count: 2 },
                    { name: 'кровати', count: 2 },
                    { name: 'ванные комнаты' }
                  ],
                  expanded: true
                }
              })
            .dropdowns_section_2
              +section({
                title: { name: 'dropdown' },
                content: { 
                  type: 'dropdown',
                  value: 'Сколько гостей',
                  list: [
                    { name: 'взрослые' },
                    { name: 'дети' },
                    { name: 'младенцы' }
                  ],
                  apply: true,
                  expanded: true
                }
              })
            .dropdowns_section_3
              +section({
                title: { name: 'dropdown' },
                content: { 
                  type: 'dropdown',
                  value: '3 гостя',
                  list: [
                    { name: 'взрослые', count: 2 },
                    { name: 'дети', count: 1 },
                    { name: 'младенцы' }
                  ],
                  apply: true,
                  clear: true,
                  expanded: true
                }
              })
        .form-elements__section.form-elements__section_margin_to-check-lists
          .check-lists
            .check-lists_section_1
              +section({
                title: { name: 'expandable checkbox list' },
                content: { 
                  type: 'expandable-checkbox-list'
                }
              })
              +section({
                title: { name: 'expandable checkbox list' },
                content: { 
                  type: 'expandable-checkbox-list',
                  id: 'checkbox-list',
                  expanded: true,
                  checks: [
                    {label: 'Завтрак'},
                    {label: 'Письменный стол', checked: true},
                    {label: 'Стул для кормления', checked: true},
                    {label: 'Кроватка', checked: true},
                    {label: 'Телевизор'},
                    {label: 'Шампунь'}
                  ]
                }
              })
            .check-lists_section_2
              +section({
                title: { name: 'Rich Checkbox Buttons' },
                content: { 
                  type: 'checkbox',
                  id: 'checkboxrich',
                  checks: [
                    {
                      label: 'Широкий коридор',
                      details: 'Ширина коридоров в номере\nне менее 91 см.'
                    },
                    {
                      label: 'Помощник для инвалидов',
                      details: `На 1 этаже вас встретит специалист\nи проводит до номера.`
                    }
                  ]
                }
              })
            .check-lists_section_3
              +section({
                title: { name: 'Bullet List' },
                content: { 
                  type: 'bullet-list',
                  list: [
                    'Нельзя с питомцами',
                    'Без вечеринок и мероприятий',
                    'Время прибытия — после 13:00,\nа выезд до 12:00'
                  ]
                }
              })
        .form-elements__section.form-elements__section_margin_to-others
          .others
            .extras
              +section({
                content: {
                  type: 'extra-list',
                  list: [
                    {
                      name: 'Комфорт',
                      details: 'Шумопоглощающие стены'
                    },
                    {
                      name: 'Удобство',
                      details: 'Окно в каждой из спален'
                    },
                  ]
                }
              })
            .comments
              +section({
                content: {
                  type: 'comment',
                  id: 'comment1',
                  username: 'Мурад Сарафанов',
                  src: '../images/murad.png',
                  datetime: '5 дней назад',
                  text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                  likes: 12,
                  liked: true
                }
              })
