.page {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  height: max-content;
  margin: 0 auto;

  &__header {
    padding: 30px;
  }

  &__main {
    padding: 35px 141px 131px;

    @media only screen and (max-width: 950px) {
      padding: 35px 40px 70px;
    }

    @media only screen and (max-width: 400px) {
      padding: 20px 20px 40px;
    }
  }
}

.form-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__section {
    width: 100%;
    min-width: 900px;
    max-width: 1158px;
    margin-top: 100px;

    &_first {
      margin-top: 0;
    }

    &_neared {
      margin-top: 54px;
    }

    @media only screen and (max-width: 950px) {
      min-width: 100%;
    }
  }
}

.form-elements-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media only screen and (max-width: 950px) {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -40px;
    margin-left: -30px;
  }

  &__column {
    width: 100%;
    min-width: 260px;
    max-width: 320px;

    &_shrunken {
      min-width: auto;
    }

    &_shifted {
      margin-left: 55px;

      @media only screen and (max-width: 1440px) {
        margin: 0 30px;
      }
    }

    &_wide {
      max-width: 711px;

      @media only screen and (max-width: 1440px) {
        margin-left: 30px;
      }
    }

    @media only screen and (max-width: 950px) {
      width: fit-content;
      margin: 0;
      margin-top: 40px;
      margin-left: 30px;
    }
  }
}
