extends ../../../layout

include ../../../components/logo/logo.pug
include ../../../components/field-section/field-section.pug
include ../../../components/check-section/check-section.pug
include ../../../components/section/section.pug

block variables
  - var title = 'TOXIN - UI kit'

block content
  .form-elements
    +logo
    .inputs
      .fields
        .fields_section
          +field-section('Text Field', 'Default')
          +field-section('Text Field', 'Hover / Focus')
          +field-section('Dropdown', 'Default')
          +field-section('masked text field', 'Default')
        .fields_section.fields_section_date
          +field-section('date Dropdown')
          +field-section('date Dropdown', '', '2019-08-19')
        .fields_section
          +field-section('filter date dropdown', '', '19 авг - 23 авг')
        .fields_section
          +field-section('subscription text field')
      .checks
        +check-section({
          id: 'checkbox1',
          type: 'checkbox',
          title: 'Checkbox Buttons',
          checks: [
            {label: 'Можно курить'},
            {label: 'Можно с питомцами', checked: true},
            {label: 'Можно пригласить гостей (до 10 человек)', checked: true}
          ]
        })
        +check-section({
          id: 'radio1',
          type: 'radio',
          title: 'Radio Buttons',
          checks: [
            {label: 'Мужчина', checked: true},
            {label: 'Женщина'}
          ]
        })
        +check-section({
          id: 'toggle1',
          type: 'toggle',
          title: 'Toggle',
          checks: [
            {label: 'Получать спецпредложения', checked: true},
            {label: 'Получать спецпредложения'}
          ]
        })
        +check-section({
          id: 'like1',
          type: 'like',
          title: 'like button',
          checks: [
            {label: '2'},
            {label: '12', checked: true}
          ]
        })
        +check-section({
          id: 'rate1',
          type: 'rate',
          title: 'rate button',
          checks: [{checked: false},{checked: false},{checked: false},{checked: true},{checked: false}],
          demo: [{checked: false},{checked: false},{checked: false},{checked: false},{checked: true}]
        })
      .buttons
        +section({
          title: { 
            name: 'Range Slider', 
            details: '5 000₽ - 10 000₽' 
          },
          content: {
            type: 'slider',
            min: 31.75,
            max: 63.5
          }
        })
        +section({
          title: { name: 'buttons' },
          content: {
            type: 'buttons',
            buttons: [
              {text: 'CLICK ME', style: 'blue', notArrow: true, demo: true},
              {text: 'CLICK ME', style: 'border', notArrow: true, demo: true},
              {text: 'CLICK ME', style: 'link', notArrow: true, demo: true},
              {text: 'перейти к оплате'}
            ]
          }
        })
        +section({
          title: { name: 'pagination' },
          content: { 
            type: 'pagination',
            last: 15,
            description: '1 – 12 из 100+ вариантов аренды'
          }
        })
    .dropdowns
      .dropdowns_section_1
      .dropdowns_section_2
      .dropdowns_section_3
    .check-lists
      .check-lists_section_1
      .check-lists_section_2
      .check-lists_section_3
    .others
      .extras
      .comments
