extends ../../../layout

include ../../../components/logo/logo.pug
include ../../../components/check-section/check-section.pug
include ../../../components/section/section.pug

block variables
  - var title = 'TOXIN - UI kit'

block content
  .form-elements
    +logo
    .inputs
      .fields
        +section({
          title: { 
            name: 'Text Field',
            details: 'Default'
          },
          content: { 
            type: 'field',
            placeholder: 'Email'
          }
        })
        +section({
          title: { 
            name: 'Text Field',
            details: 'Hover / Focus'
          },
          content: { 
            type: 'field',
            placeholder: 'This is pretty awesome',
            demo: true
          }
        })
        +section({
          title: { 
            name: 'Dropdown',
            details: 'Default'
          },
          content: { 
            type: 'dropdown',
            value: 'Сколько гостей'
          }
        })
        +section({
          title: { 
            name: 'masked text field',
            details: 'Default'
          },
          content: { 
            type: 'field',
            placeholder: 'ДД.ММ.ГГГГ',
            masked: true
          }
        })
        .fields__date-dropdown
          +section({
            title: { name: 'date Dropdown' },
            content: { 
              type: 'dropdown',
              mode: 'date'
            }
          })
          +section({
            title: { name: 'date Dropdown' },
            content: { 
              type: 'dropdown',
              value: '2019-08-19',
              mode: 'date'
            }
          })
        +section({
          title: { name: 'filter date dropdown' },
          content: { 
            type: 'dropdown',
            value: '19 авг - 23 авг',
            mode: 'filter'
          }
        })
        +section({
          title: { name: 'subscription text field' },
          content: { 
            type: 'field',
            placeholder: 'Email',
            subscription: true
          }
        })
      .checks
        +check-section({
          id: 'checkbox1',
          type: 'checkbox',
          title: 'Checkbox Buttons',
          checks: [
            {label: 'Можно курить'},
            {label: 'Можно с питомцами', checked: true},
            {label: 'Можно пригласить гостей (до 10 человек)', checked: true}
          ]
        })
        +check-section({
          id: 'radio1',
          type: 'radio',
          title: 'Radio Buttons',
          checks: [
            {label: 'Мужчина', checked: true},
            {label: 'Женщина'}
          ]
        })
        +check-section({
          id: 'toggle1',
          type: 'toggle',
          title: 'Toggle',
          checks: [
            {label: 'Получать спецпредложения', checked: true},
            {label: 'Получать спецпредложения'}
          ]
        })
        +check-section({
          id: 'like1',
          type: 'like',
          title: 'like button',
          checks: [
            {label: '2'},
            {label: '12', checked: true}
          ]
        })
        +check-section({
          id: 'rate1',
          type: 'rate',
          title: 'rate button',
          checks: [{checked: false},{checked: false},{checked: false},{checked: true},{checked: false}],
          demo: [{checked: false},{checked: false},{checked: false},{checked: false},{checked: true}]
        })
      .buttons
        +section({
          title: { 
            name: 'Range Slider', 
            details: '5 000₽ - 10 000₽' 
          },
          content: {
            type: 'slider',
            min: 31.75,
            max: 63.5
          }
        })
        +section({
          title: { name: 'buttons' },
          content: {
            type: 'buttons',
            buttons: [
              {text: 'CLICK ME', style: 'blue', notArrow: true, demo: true},
              {text: 'CLICK ME', style: 'border', notArrow: true, demo: true},
              {text: 'CLICK ME', style: 'link', notArrow: true, demo: true},
              {text: 'перейти к оплате'}
            ]
          }
        })
        +section({
          title: { name: 'pagination' },
          content: { 
            type: 'pagination',
            last: 15,
            description: '1 – 12 из 100+ вариантов аренды'
          }
        })
    .dropdowns
      .dropdowns_section_1
        +section({
          title: { 
            name: 'dropdown',
            details: 'Default'
          },
          content: { 
            type: 'dropdown',
            value: '2 спальни, 2 кровати...',
            demo: true
          }
        })
        +section({
          title: { 
            name: 'dropdown',
            details: 'expanded'
          },
          content: { 
            type: 'dropdown',
            value: '2 спальни, 2 кровати...',
            list: [
              { name: 'спальни', count: 2 },
              { name: 'кровати', count: 2 },
              { name: 'ванные комнаты' }
            ],
            expanded: true
          }
        })
      .dropdowns_section_2
      .dropdowns_section_3
    .check-lists
      .check-lists_section_1
      .check-lists_section_2
      .check-lists_section_3
    .others
      .extras
      .comments
