extends ../../../components/layout/layout

include ../../../components/logo/logo.pug

include sections/field-elements/field-elements.pug
include sections/check-elements/check-elements.pug
include sections/button-elements/button-elements.pug

include sections/dropdowns/dropdowns.pug
include sections/lists/lists.pug
include sections/others/others.pug

block variables
  - const title = "TOXIN - UI kit"
  - const description = "Элементы форм"
  - const keywords = "toxin, ui-kit, form, elements"

block content
  HEADER.page__header
    +logo({ isSimplified: true })
  MAIN.page__main
    .form-elements
      SECTION.form-elements__section.form-elements__section_first
        .form-elements-section
          ARTICLE.form-elements-section__column
            +field-elements
          ARTICLE.form-elements-section__column.form-elements-section__column_shifted
            +check-elements
          ARTICLE.form-elements-section__column
            +button-elements
      SECTION.form-elements__section
        .form-elements-section
          ARTICLE.form-elements-section__column
            +dropdowns
          ARTICLE.form-elements-section__column.form-elements-section__column_shifted
            +dropdowns("full-set")
          ARTICLE.form-elements-section__column
            +dropdowns("full-set-example")
      SECTION.form-elements__section.form-elements__section_neared
        .form-elements-section
          ARTICLE.form-elements-section__column
            +lists("expandable-checks")
          ARTICLE.form-elements-section__column.form-elements-section__column_shifted
            +others("rich-checks")
          ARTICLE.form-elements-section__column
            +lists("bullet")
      SECTION.form-elements__section
        .form-elements-section
          ARTICLE.form-elements-section__column.form-elements-section__column_shrunken
            +lists("extra")
          ARTICLE.form-elements-section__column.form-elements-section__column_wide
            +others("comment")
