extends ../../../layout

include ../../../components/logo/logo.pug
include ../../../components/field-section/field-section.pug

block variables
  - var title = 'TOXIN - UI kit'

block content
  .form-elements
    +logo
    .inputs
      .fields
        +field-section('Text Field', 'Default')
        +field-section('Text Field', 'Hover / Focus')
      .checks
      .buttons
    .dropdowns
      .dropdowns_section_1
      .dropdowns_section_2
      .dropdowns_section_3
    .check-lists
      .check-lists_section_1
      .check-lists_section_2
      .check-lists_section_3
    .others
      .extras
      .comments
