// @import '../../../components/logo/logo.scss';
@import '../../../components/section/section.scss';

@import '../../../components/slider/slider.scss';
@import '../../../components/button/button.scss';
@import '../../../components/pagination/pagination.scss';
@import '../../../components/field/field.scss';
@import '../../../components/dropdown/dropdown.scss';
@import '../../../components/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../../components/checkbox-group/checkbox-group.scss';
@import '../../../components/radio-group/radio-group.scss';
@import '../../../components/toggle-group/toggle-group.scss';
@import '../../../components/like/like.scss';
@import '../../../components/rate-group/rate-group.scss';
@import '../../../components/bullet-list/bullet-list.scss';
@import '../../../components/extra-list/extra-list.scss';
@import '../../../components/comment/comment.scss';

// .logo {
//     position: absolute;
//     left: 30px;
//     top: 30px;
// }

.form-elements-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo-zone,
    .form-elements {
        max-width: 1432px;
        width: 100%;
    }
    .logo-zone {
        padding: 30px;
    }
    .form-elements {
        padding: 35px 141px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &__dropdowns {
            margin-top: 100px;
        }
        &__check-lists {
            margin-top: 173px;
        }
        &__others {
            margin-top: 94px;
            margin-bottom: 131px;
        }
        .inputs,
        .dropdowns,
        .check-lists,
        .others {
            max-width: 1158px;
            min-width: 900px;
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .inputs {
            // &__fields,
            // &__checks,
            // &__buttons {
            //     flex-grow: 1;
            // }
            &__checks {
                margin-right: 34px;
                padding-left: 52px;
            }
            .fields,
            .checks,
            .buttons {
                max-width: 320px;
                width: 100%;

                display: flex;
                flex-direction: column;
            }
            .fields {
                // border: 1px solid red;
            }
        }
    }
}

.form-elements {    
    .inputs {
        .fields {
            .section {
                max-width: 320px;
                min-width: 266px;
                width: 100%;

                margin-top: 20px;
                &:first-child {
                    margin-top: 0;
                    .section__title_details {
                        margin-top: -3px;
                    }
                }
                &:nth-child(2) {
                    margin-top: 21px;   
                    .section__title_details {
                        font-size: 11.5px;
                    }                 
                }
                &:nth-child(4) {
                    margin-top: 22px;  
                    .section__title_details {
                        margin-top: -3px;
                    }                  
                }
                &:last-child {
                    margin-top: 41px;
                }
            }
            & > :nth-child(5) {
                max-width: 320px;
                min-width: 266px;
                width: 100%;
                
                display: flex;
                justify-content: space-between;

                margin-top: 41px;
                & > * {
                    min-width: 133px;
                    max-width: 150px;
                    width: 100%;
                }
                & > :last-child {
                    margin-top: 0;
                }
                & ~ * {
                    width: 266px;
                    margin-top: 40px;
                }
            }
        }
        .checks {              
            .section {
                align-self: flex-end;
                max-width: 320px;
                min-width: 266px;
                width: 100%;

                margin-top: 33px;
                &:first-child {
                    margin-top: 0;
                }
                &:nth-child(3){
                    & > :nth-child(2),
                    & > :nth-child(3) {
                        margin-top: 11px;
                    }
                }
                &:nth-child(4){
                    margin-top: 31px;
                }
                &:last-child {
                    margin-top: 48px;
                }
                &__block_rate {
                    margin-top: 10px;
                }
            }
        }
        .buttons {            
            .section {
                max-width: 320px;
                min-width: 266px;
                width: 100%;

                align-self: flex-end;

                margin-top: 40px;

                &:nth-child(2){
                    & > * {
                        margin-left: 1px;
                    }
                    & > :nth-child(2) > :first-child {
                        margin-left: 1px;
                    }
                    & > :nth-child(4) > * {
                        margin-top: 1px;
                    }
                }
                &:last-child {
                    & > :first-child {
                        margin-left: 1px;
                    }
                    & > :last-child {
                        margin-left: 2px;
                        margin-top: -1px;
                    }
                }
            }
            & > :first-child {
                padding-right: 54px;
                margin-top: 0;
                & > :last-child {
                    margin-left: 1px;
                }
            }
        }
    }
    
    .dropdowns {
        .dropdowns_section_1 {
            flex-grow: 1;
            
            margin-right: 42px;
            .section {
                max-width: 266px;
                min-width: 266px;
                width: 100%;

                margin-top: 20px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        .dropdowns_section_2 {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            margin-right: 30px;
            .section {
                align-self: flex-end;
                max-width: 320px;
                min-width: 266px;
                width: 100%;
            }
        }
        .dropdowns_section_3 {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            .section {
                align-self: flex-end;
                max-width: 320px;
                min-width: 266px;
                width: 100%;
            }
        }
    }
    
    .check-lists {
        .check-lists_section_1 {
            flex-grow: 1;
            margin-right: 42px;
            .section {
                max-width: 266px;
                min-width: 266px;
                width: 100%;

                margin-top: 44px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        .check-lists_section_2 {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            margin-right: 30px;
            .section {
                align-self: flex-end; 
                max-width: 320px;
                min-width: 266px;
                width: 100%;
            }
        }
        .check-lists_section_3 {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            .section {
                align-self: flex-end; 
                max-width: 320px;
                min-width: 266px;
                width: 100%;
            }
        }
    }
    .others {
        .extras {
            flex-grow: 1;
            .section {
                max-width: 280px;
                min-width: 266px;
                width: 100%;
            }
        }
        .comments {
            align-self: center;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            margin-bottom: 5px;
            margin-left: 42px;
            .section {
                align-self: flex-end;
                max-width: 711px;
                min-width: 266px;
                width: 100%;
            }
        }
    }    
}

@media only screen and (max-width : 950px) {
    .form-elements {
        .inputs {
            flex-wrap: wrap;
            min-width: 600px;
            margin-top: 110px;
            .fields {
                display: flex;
                flex-direction: column;
                .section {
                    align-self: flex-end;
                }
                & > :nth-child(5) {
                    align-self: flex-end;
                }
            }
            .checks {
                margin-right: 0;
                .section {
                    align-self: flex-start;
                }
            }
            .buttons {
                order: 2;
                margin-top: 40px;
                .section {
                    align-self: center;
                    max-width: 586px;
                    width: 100%;
                    &:first-child {
                        padding-right: 0;
                    }
                    &__block_btn {
                        max-width: 100%;
                        width: 100%;
                        & > :last-child {
                            max-width: 100%;
                            width: 100%;
                        }
                    }
                }
            }
            &::after {
                content: '';
                width: 100%;
                order: 1;
            }
        }
        .dropdowns {
            flex-wrap: wrap;
            min-width: 600px;
            margin-top: 50px;
            .dropdowns_section_1 {
                display: flex;
                flex-direction: column;
                margin-right: 54px;
                .section {
                    align-self: flex-end;
                }
            }
            .dropdowns_section_2 {
                margin-right: 0;
                .section {
                    max-width: 266px;
                    align-self: flex-start;
                }
            }
            .dropdowns_section_3 {
                order: 2;
                margin-top: 140px;
                .section {
                    align-self: center;
                    max-width: 586px;
                    width: 100%;
                }
            }
            &::after {
                content: '';
                width: 100%;
                order: 1;
            }
        }
        .check-lists {
            flex-wrap: wrap;
            min-width: 600px;
            margin-top: 21s0px;
            .check-lists_section_1 {
                display: flex;
                flex-direction: column;
                margin-right: 54px;
                .section {
                    align-self: flex-end;
                }
            }
            .check-lists_section_2 {
                margin-right: 0;
                .section {
                    align-self: flex-start;
                }
            }
            .check-lists_section_3 {
                order: 2;
                margin-top: 40px;
                .section {
                    align-self: center;
                    max-width: 586px;
                    width: 100%;
                }
            }
            &::after {
                content: '';
                width: 100%;
                order: 1;
            }
        }
        .others {
            flex-wrap: wrap;
            min-width: 600px;
            margin-top: 50px;
            margin-bottom: 70px;
            .extras {
                display: flex;
                flex-direction: column;
                .section {
                    align-self: center;
                    max-width: 706px;
                    width: 100%;
                }
            }
            .comments {
                margin-left: 0;
                margin-top: 40px;
                .section {
                    align-self: center;
                    max-width: 706px;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width : 630px) {
    .form-elements {
        .inputs {
            flex-wrap: nowrap;
            flex-direction: column;
            min-width: 300px;
            margin-top: 100px;
            .fields {
                align-self: center;
                max-width: 100%;
                width: 100%;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
                & > :nth-child(5) {
                    max-width: 100%;
                    width: 100%;
                    .section {
                        max-width: 100%;
                        width: 100%;
                        flex-grow: 1;
                        &:last-child {
                            margin-left: 20px;
                        }
                    }
                }
            }
            .checks {
                align-self: center;
                max-width: 100%;
                width: 100%;
                margin-top: 40px;
                padding-left: 0;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
            }
            .buttons {
                align-self: center;
                max-width: 100%;
                width: 100%;
                padding-right: 0;
            }
        }
        .dropdowns {
            flex-wrap: nowrap;
            flex-direction: column;
            min-width: 300px;
            .dropdowns_section_1 {
                align-self: center;
                max-width: 100%;
                width: 100%;
                margin-right: 0;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
            }
            .dropdowns_section_2 {
                align-self: center;
                max-width: 100%;
                width: 100%;
                margin-top: 140px;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
            }
            .dropdowns_section_3 {
                align-self: center;
                max-width: 100%;
                width: 100%;
                padding-right: 0;
                margin-top: 180px;
            }
        }
        .check-lists {
            flex-wrap: nowrap;
            flex-direction: column;
            min-width: 300px;
            margin-top: 210px;
            .check-lists_section_1 {
                align-self: flex-start;
                margin-right: 0;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
            }
            .check-lists_section_2 {
                align-self: flex-start;
                margin-top: 40px;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
            }
            .check-lists_section_3 {
                align-self: flex-start;
                padding-right: 0;
            }
        }
        .others {
            flex-wrap: nowrap;
            flex-direction: column;
            min-width: 300px;
            margin-bottom: 30px;
            .extras {
                align-self: center;
                max-width: 100%;
                width: 100%;
                .section {
                    max-width: 100%;
                    width: 100%;
                }
            }
            .comments {
                align-self: center;
                max-width: 100%;
                width: 100%;
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
}