@import '../../../components/logo/logo.scss';
@import '../../../components/section/section.scss';

@import '../../../components/slider/slider.scss';
@import '../../../components/button/button.scss';
@import '../../../components/pagination/pagination.scss';
@import '../../../components/field/field.scss';
@import '../../../components/dropdown/dropdown.scss';
@import '../../../components/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../../components/checkbox-group/checkbox-group.scss';
@import '../../../components/radio-group/radio-group.scss';
@import '../../../components/toggle-group/toggle-group.scss';
@import '../../../components/like/like.scss';
@import '../../../components/rate-group/rate-group.scss';
@import '../../../components/bullet-list/bullet-list.scss';
@import '../../../components/extra-list/extra-list.scss';
@import '../../../components/comment/comment.scss';

.logo {
    position: absolute;
    left: 30px;
    top: 30px;
}

.form-elements {
    width: 100%;
    padding: 0 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    .inputs {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-between;

        min-width: 900px;
        max-width: 1158px;
        width: 100%;

        margin-top: 143px;
        .fields {
            flex-grow: 1;
            .section {
                max-width: 320px;
                min-width: 266px;
                width: 100%;

                margin-top: 20px;
                &:first-child {
                    margin-top: 0;
                }
                
            }
            & > :nth-child(5) {
                max-width: 320px;
                min-width: 266px;
                width: 100%;
                
                display: flex;
                justify-content: space-between;

                margin-top: 40px;
                & > * {
                    min-width: 133px;
                    max-width: 150px;
                    width: 100%;
                }
                & > :last-child {
                    margin-top: 0;
                }
                & ~ * {
                    width: 266px;
                    margin-top: 40px;
                }
            }
        }
        .checks {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            margin-right: 34px;
            padding-left: 52px;                
            .section {
                align-self: flex-end;
                max-width: 320px;
                min-width: 266px;
                width: 100%;

                margin-top: 33px;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-top: 48px;
                }
            }
        }
        .buttons {          
            flex-grow: 1;  
            display: flex;
            flex-direction: column;
            
            .section {
                max-width: 320px;
                min-width: 266px;
                width: 100%;

                align-self: flex-end;

                margin-top: 40px;
            }
            & > :first-child {
                padding-right: 54px;
                margin-top: 0;
            }
        }
    }
    
    .dropdowns {        
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        max-width: 1158px;
        min-width: 900px;
        width: 100%;

        margin-top: 105px;
        .dropdowns_section_1 {
            flex-grow: 1;
            
            margin-right: 42px;
            .section {
                max-width: 266px;
                min-width: 266px;
                width: 100%;

                margin-top: 20px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        .dropdowns_section_2 {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            margin-right: 30px;
            .section {
                align-self: flex-end;
                max-width: 320px;
                min-width: 266px;
                width: 100%;
            }
        }
        .dropdowns_section_3 {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            .section {
                align-self: flex-end;
                max-width: 320px;
                min-width: 266px;
                width: 100%;
            }
        }
    }
    
    .check-lists {
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        max-width: 1158px;
        min-width: 900px;
        width: 100%;
        
        margin-top: 54px;
        .check-lists_section_1 {
            flex-grow: 1;
            margin-right: 42px;
            .section {
                max-width: 266px;
                min-width: 266px;
                width: 100%;

                margin-top: 44px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        .check-lists_section_2 {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            margin-right: 30px;
            .section {
                align-self: flex-end; 
                max-width: 320px;
                min-width: 266px;
                width: 100%;
            }
        }
        .check-lists_section_3 {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            .section {
                align-self: flex-end; 
                max-width: 320px;
                min-width: 266px;
                width: 100%;
            }
        }
    }
    
    .others {
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        max-width: 1158px;
        min-width: 900px;
        width: 100%;

        margin-top: 95px;
        margin-bottom: 131px;
        .extras {
            flex-grow: 1;
            .section {
                max-width: 280px;
                min-width: 266px;
                width: 100%;
            }
        }
        .comments {
            align-self: center;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            margin-bottom: 5px;
            margin-left: 42px;
            .section {
                align-self: flex-end;
                max-width: 711px;
                min-width: 266px;
                width: 100%;
            }
        }
    }    
}

@media only screen and (max-width : 950px) {
    .form-elements {
        .inputs {
            flex-wrap: wrap;
            min-width: 600px;
            margin-top: 110px;
            .checks {
                margin-right: 0;
                .section {
                    align-self: flex-start;
                }
            }
            .buttons {
                margin-top: 40px;
                padding-right: 60px;
                .section {
                    align-self: flex-start;
                }
            }
        }
        .dropdowns {
            flex-wrap: wrap;
            min-width: 600px;
            margin-top: 50px;
            .dropdowns_section_2 {
                margin-right: 0;
                .section {
                    align-self: flex-start;
                }
            }
            .dropdowns_section_3 {
                margin-top: 40px;
                padding-right: 60px;
                .section {
                    align-self: flex-start;
                }
            }
        }
        .check-lists {
            flex-wrap: wrap;
            min-width: 600px;
            margin-top: 50px;
            .check-lists_section_2 {
                margin-right: 0;
                .section {
                    align-self: flex-start;
                }
            }
            .check-lists_section_3 {
                margin-top: 40px;
                padding-right: 60px;
                .section {
                    align-self: flex-start;
                }
            }
        }
        .others {
            flex-wrap: wrap;
            min-width: 600px;
            margin-top: 50px;
            margin-bottom: 70px;
            .comments {
                margin-left: 0;
                margin-top: 40px;
                .section {
                    align-self: flex-start;
                }
            }
        }
    }
}

@media only screen and (max-width : 650px) {
    .form-elements {
        .inputs {
            flex-wrap: nowrap;
            flex-direction: column;
            min-width: 320px;
            margin-top: 100px;
            .fields {
                align-self: center;
            }
            .checks {
                align-self: center;
                margin-top: 40px;
                padding-left: 0;
            }
            .buttons {
                align-self: center;
                padding-right: 0;
            }
        }
        .dropdowns {
            flex-wrap: nowrap;
            flex-direction: column;
            min-width: 320px;
            .dropdowns_section_1 {
                align-self: center;
                margin-right: 0;
            }
            .dropdowns_section_2 {
                align-self: center;
                margin-top: 40px;
            }
            .dropdowns_section_3 {
                align-self: center;
                padding-right: 0;
            }
        }
        .check-lists {
            flex-wrap: nowrap;
            flex-direction: column;
            min-width: 320px;
            .check-lists_section_1 {
                align-self: center;
                margin-right: 0;
            }
            .check-lists_section_2 {
                align-self: center;
                margin-top: 40px;
            }
            .check-lists_section_3 {
                align-self: center;
                padding-right: 0;
            }
        }
        .others {
            flex-wrap: nowrap;
            flex-direction: column;
            min-width: 320px;
            margin-bottom: 30px;
            .extras {
                align-self: center;
            }
            .comments {
                align-self: center;
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
}