extends ../../../layouts/ui-kit/ui-kit

include ../../../components/field-elements/field-elements.pug
include ../../../components/check-elements/check-elements.pug
include ../../../components/button-elements/button-elements.pug
include ../../../components/dropdowns/dropdowns.pug
include ../../../components/lists/lists.pug
include ../../../components/others/others.pug

block variables
  -
    const options = {
      title: "TOXIN - UI kit",
      description: "Элементы форм",
      keywords: "toxin, ui-kit, form, elements",
    }

block content
  ARTICLE.form-elements
    SECTION.form-elements__section.form-elements__section_first
      SECTION.form-elements__column
        +field-elements
      SECTION.form-elements__column.form-elements__column_shifted
        +check-elements
      SECTION.form-elements__column
        +button-elements
    SECTION.form-elements__section
      SECTION.form-elements__column
        +dropdowns
      SECTION.form-elements__column.form-elements__column_shifted
        +dropdowns("full-set")
      SECTION.form-elements__column
        +dropdowns("full-set-example")
    SECTION.form-elements__section.form-elements__section_neared
      SECTION.form-elements__column
        +lists("expandable-checks")
      SECTION.form-elements__column.form-elements__column_shifted
        +others("rich-checks")
      SECTION.form-elements__column
        +lists("bullet")
    SECTION.form-elements__section
      SECTION.form-elements__column.form-elements__column_shrunken
        +lists("extra")
      SECTION.form-elements__column.form-elements__column_wide
        +others("comment")
