.chart {
    display: flex;
    position: relative;
    &__total {
        position: absolute;
        display: flex;
        flex-direction: column;
        color: $color-purple;
        text-align: center;
        top: 36px;
        left: 29px;
        span:first-child {
            font-family: $font-title-bold;
            font-size: 24px;
            line-height: 30px;
        }
        span:last-child {
            font-family: $font-main-bold;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
        }
    }
    .unit {
        fill: none;
        stroke-width: 1.1;
    }
    .caption-list {
        margin-left: 30px;
        margin-top: 27px;
        padding-left: 15px;

        font-family: $font-main;
        font-size: 14px;
        line-height: 24px;
        color: $color-75per;

        &__item {
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 10px;
                height: 10px;
                left: -15px;
                top: 7px;
                border-radius: 5px;
            }
            &:nth-child(1)::before {
                background: linear-gradient(180deg, $color-yellow 0%, $color-yellow-end 100%);
            }
            &:nth-child(2)::before {
                background: linear-gradient(180deg, $color-green 0%, $color-green-end 100%);
            }
            &:nth-child(3)::before {
                background: linear-gradient(180deg, $color-purple 0%, $color-purple-end 100%);
            }
            &:nth-child(4)::before {
                background: linear-gradient(180deg, $color-gray 0%, $color-gray-end 100%);
            }
        }
    }

    #gradient_color_1 {
        .gradient_start { stop-color: $color-yellow; }
        .gradient_end { stop-color: $color-yellow-end; }
    }
    #gradient_color_2 {
        .gradient_start { stop-color: $color-green; }
        .gradient_end { stop-color: $color-green; }
    }
    #gradient_color_3 {
        .gradient_start { stop-color: $color-purple; }
        .gradient_end { stop-color: $color-purple-end; }
    }
    #gradient_color_4 {
        .gradient_start { stop-color: $color-gray; }
        .gradient_end { stop-color: $color-gray-end; }
    }
}