include ../total-rate/total-rate.pug
include ../rate-circle/rate-circle.pug
include ../caption-list/caption-list.pug

mixin chart(items = [])
  - const blockName = "chart";

  - let sum = 0;
  each item in items
    - sum += item.value ? item.value : 0;

  - let perValues = [];
  each item, index in items
    - perValues[index] = item.value ? (item.value / sum) * 100 : 0;
  - const firstSecondSwap = perValues[0];
  - perValues[0] = perValues[1];
  - perValues[1] = firstSecondSwap;

  DIV(class=blockName)
    DIV(class=`${blockName}__total`)
      +total-rate(sum)
    DIV(class=`${blockName}__circle`)
      +rate-circle(perValues)
    DIV(class=`${blockName}__caption-list`)
      +caption-list(items)
