.chart {
  position: relative;
  display: flex;

  &__total {
    position: absolute;
    top: 36px;
    left: 29px;
  }

  &__circle {
    margin: 0;
  }

  &__caption-list {
    margin-top: 27px;
    margin-left: 30px;

    @media only screen and (max-width: 400px) {
      margin: 0;
    }
  }

  @media only screen and (max-width: 400px) {
    flex-direction: column;
  }
}
