@import '../colors-style/colors-style.scss';
@import '../type-style/type-style.scss';

.btn {
  position: relative;
  min-width: 61px;
  max-width: 320px;
  width: 100%;
  min-height: 44px;
  background: linear-gradient(180deg, $color-purple 0%, $color-purple-end 100%);
  border-radius: 22px;
  cursor: pointer;
  &__caption {
    @include h3-type;
    @include text('white');
  }
  &_hovered,
  &:hover {
    opacity: 0.5;
  }
  &_border_only {
    .btn__caption {
      color: $color-purple;
      display: flex;
      flex-direction: column;
      justify-content: center;

      position: absolute;
      background-color: white;
      width: calc(#{100%} - #{4px});
      height: 40px;
      border-radius: 22px;

      top: 2px;
      left: 2px;
    }
  }
  &_text_only {
    min-height: 15px;
    background: none;
    .btn__caption {
      color: $color-purple;
    }
    &:hover,
    &.btn_hovered {
      opacity: 1;
      .btn__caption {
        color: $color-50per;
      }
    }
  }
  &::before {
    content: '';
    position: absolute;
    min-width: 44px;
    min-height: 44px;
    top: 0;
    right: 0;
    background: no-repeat center url('./button-arrow-forward.png');
  }
  &_none_arrow {
    &::before {
      display: none;
    }
  }
}