@import '/styles/colors';

.copyright-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22.5px 140px;
  background-color: $bg-main;
  box-shadow: 0 10px 20px $shadow-light-hard;

  &__socials {
    margin-left: 20px;

    @media only screen and (max-width: 400px) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  @media only screen and (max-width: 1180px) {
    padding: 22.5px 40px;
  }

  @media only screen and (max-width: 980px) {
    padding: 22.5px 20px;
  }

  @media only screen and (max-width: 400px) {
    flex-direction: column;
  }
}
