include ../copyright/copyright.pug
include ../socials/socials.pug

mixin copyright-bar
  - const blockName = "copyright-bar";

  DIV(class=blockName)
    DIV(class=`${blockName}__copyright`)
      +copyright
    DIV(class=`${blockName}__socials`)
      +socials
