include ../copyright/copyright.pug
include ../socials/socials.pug

mixin copyright-bar
  - const blockName = "copyright-bar";

  SECTION(class=blockName)
    SECTION(class=`${blockName}__copyright`)
      +copyright
    SECTION(class=`${blockName}__socials`)
      +socials
