@import '/styles/types';

.countable-item {
  display: flex;
  align-items: center;

  &__name {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    padding-bottom: 4px;
    padding-left: 7px;

    @include h3-type;
  }

  &__counter {
    flex-shrink: 0;
  }
}
