include ../counter/counter.pug

mixin countable-item(options = {})
  - const blockName = "countable-item";
  - const { name, count, category } = options;

  SECTION(class=blockName)
    P(class=`${blockName}__name`)= name
    SECTION(class=`${blockName}__counter`)
      +counter(count, category)
