@import '../colors-style/colors-style.scss';
@import '../type-style/type-style.scss';

$block: 'button';

.#{$block} {
  position: relative;
  min-width: 61px;
  max-width: 320px;
  width: 100%;
  min-height: 44px;
  background: linear-gradient(180deg, $color-purple 0%, $color-purple-end 100%);
  border-radius: 22px;
  cursor: pointer;
  &__caption {
    @include h3-type;
    @include text('white');
  }
  &_hovered,
  &:hover {
    opacity: 0.5;
  }
  &_border_only {
    .#{$block}__caption {
      color: $color-purple;
      display: flex;
      flex-direction: column;
      justify-content: center;

      position: absolute;
      background-color: white;
      width: calc(#{100%} - #{4px});
      height: 40px;
      border-radius: 22px;

      top: 2px;
      left: 2px;
    }
  }
  &_text_only {
    min-height: 15px;
    background: none;
    .#{$block}__caption {
      color: $color-purple;
    }
    &:hover,
    &.#{$block}_hovered {
      opacity: 1;
      .#{$block}__caption {
        color: $color-50per;
      }
    }
  }
  &_with_arrow {
    &::before {
      content: 'arrow_forward';
      position: absolute;
      min-width: 44px;
      min-height: 44px;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
  }
}