@import '/assets/colors';
@import '/assets/types';

$block: 'button';

.#{$block} {
  @include icon-type;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 61px;
  max-width: 320px;
  min-height: 44px;
  padding: 0;
  background: $brand-gradient;
  border: 0;
  border-radius: 22px;
  cursor: pointer;

  &__caption {
    @include h3-type;

    color: $font-inverse;
  }

  &_hovered,
  &:hover,
  &:focus {
    outline: none;
    opacity: 0.5;
  }

  &_border-only {
    display: block;
    min-width: 99px;
    .#{$block}__caption {
      position: absolute;
      top: 2px;
      left: 2px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: calc(#{100%} - #{4px});
      height: 40px;
      color: $font-brand;
      background-color: $bg-main;
      border-radius: 22px;
    }
    &.#{$block}_hovered,
    &:hover {
      background: $brand-gradient-pale;
      opacity: 1;
    }
  }

  &_text-only {
    min-height: 15px;
    background: none;
    .#{$block}__caption {
      color: $font-brand;
    }
    &:hover,
    &.#{$block}_hovered {
      opacity: 1;
      .#{$block}__caption {
        color: $font-medium;
      }
    }
  }

  &_with-arrow {
    &::before {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 44px;
      min-height: 44px;
      color: $font-inverse;
      content: 'arrow_forward';
    }
  }

  &_compacted {
    min-height: 34px;
    padding: 0 20px;
    &.#{$block}_border-only {
      min-width: 87px;
      .#{$block}__caption {
        width: calc(#{100%} - #{4px});
        height: 30px;
      }
    }
  }

  &_none {
    display: none;
  }

  &_linked {
    &,
    &:hover,
    &:visited {
      text-decoration: none;
    }
  }
}
