@import '/styles/colors';

$list-size: 900px;

.menu {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  justify-content: flex-end;

  &__nav-links {
    display: flex;
    align-items: center;
    min-height: 36px;

    @media only screen and (max-width: $list-size) {
      min-width: 100%;
    }
  }

  &__user-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 36px;
    margin-left: 20px;

    @media only screen and (max-width: $list-size) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 20px;
      margin-left: 0;
    }
  }

  &__user-panel-item {
    margin-left: 20px;
    outline: none;

    @media only screen and (max-width: $list-size) {
      min-width: 100%;
      margin-top: 10px;
      margin-left: 0;
    }

    &_first {
      margin-left: 0;

      @media only screen and (max-width: $list-size) {
        margin-top: 0;
      }
    }

    &_only {
      position: relative;
      display: flex;
      align-items: center;
      margin-left: 18.5px;
      text-align: right;

      &::before {
        position: absolute;
        top: -4px;
        left: -17px;
        min-width: 1px;
        min-height: 30px;
        background-color: $line;
        content: '';

        @media only screen and (max-width: $list-size) {
          top: -15px;
          left: 0;
          min-width: 100%;
          min-height: 1px;
          background-color: $line;
        }
      }

      @media only screen and (max-width: $list-size) {
        margin-left: 0;
        text-align: left;
      }
    }
  }

  @media only screen and (max-width: $list-size) {
    justify-content: flex-start;
    min-width: 170px;
    max-width: fit-content;
    padding: 10px 20px 20px;
    background-color: $bg-main;
    box-shadow: 0 0 25px $shadow;
  }
}
