@import '../../colors.scss';

$list-size: 900px;
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: space-between;
  flex-wrap: wrap;
  &__nav-links {
    min-height: 36px;
    display: flex;
    align-items: center;
    @media only screen and (max-width : $list-size) {
      min-width: 100%;
    }
  }
  &__user-panel {
    display: flex;
    align-items: center;
    min-height: 36px;
    margin-left: 20px;
    @media only screen and (max-width : $list-size) {
      margin-top: 20px;
      margin-left: 0;
    }
  }
  @media only screen and (max-width : $list-size) {
    justify-content: flex-start;
    max-width: fit-content;
    background-color: white;
    padding: 10px 20px 20px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  }
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin-left: 20px;
    @media only screen and (max-width : $list-size) {
      margin-left: 0;
      margin-top: 10px;
    }
    &_first {
      margin-left: 0;
      @media only screen and (max-width : $list-size) {
        margin-top: 0;
      }
    }
    &_dropdown {
      position: relative;
    }
  }
  @media only screen and (max-width : $list-size) {
    flex-direction: column;
    min-width: 100%;
  }
}

.user-panel {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__item {
    margin-left: 20px;
    outline: none;
    @media only screen and (max-width : $list-size) {
      margin-left: 0;
      margin-top: 10px;
      min-width: 100%;
    }
    &_first {
      margin-left: 0;
      @media only screen and (max-width : $list-size) {
        margin-top: 0;
      }
    }
    &_only {
      margin-left: 21px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        min-width: 1px;
        min-height: 30px;
        left: -21px;
        top: -4px;
        background-color: $color-10per;
      }
    }
  }
  @media only screen and (max-width : $list-size) {
    flex-direction: column;
    align-items: flex-start;
  }
}