@import '../../colors.scss';

.menu {
  display: flex;
  align-items: center;
  &__user-panel {
    margin-left: 20px;
  }
}

.nav-links {
  display: flex;
  &__item {
    margin-left: 20px;
    &_first {
      margin-left: 0;
    }
    &_dropdown {
      position: relative;
    }
  }
}

.user-panel {
  display: flex;
  &__item {
    margin-left: 20px;
    &_first {
      margin-left: 0;
    }
    &_only {
      margin-left: 21px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        min-width: 1px;
        min-height: 30px;
        left: -21px;
        top: -4px;
        background-color: $color-10per;
      }
    }
  }
}