.menu {
    ul {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    &__item {
        margin-left: 20px;
        white-space: nowrap;
        font-family: $font-main;
        align-self: center;
        min-height: 39px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        a {
            font-weight: normal;
            color: $color-50per;
            &:hover,
            &.hover {
                font-family: $font-main-bold;
                color: $color-75per;
            }
        }
        &_dropdown {
            margin-right: 25px;
            & a {
                display: block;
                position: relative;
                &.hover::after,
                &:hover::after {
                    background-image: url('components/menu/menu__item_expand_more_75.png');
                }
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 25px;
                    height: 21px;
                    top: -3px;
                    right: -25px;
                    background: no-repeat center url('components/menu/menu__item_expand_more_50.png');
                }
            }
        }
        &_user {
            margin-left: 41px;
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 1px;
                height: 30px;
                left: -21px;
                top: 4px;
                background-color: rgba(31, 32, 65, 0.1);
            }
        }

        .button {
            min-width: 196px;
            max-width: 196px;
            width: 100%;
            height: 34px;
            &_border {
                min-width: 87px;
                max-width: 87px;
                width: 100%;
                .button__text {
                    height: 30px;
                }
            }
            &::before{
                height: 34px;
            }
        }
    }
    &__button {
        display: none;
    }
}

@media only screen and (max-width : 820px) {
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        ul {
            display: none;
            position: absolute;
            top: 45px;
            right: 0;
            min-width: 270px;
            max-width: 320px;
            width: 100%;
            height: fit-content;
            background-color: white;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            z-index: 150;
            padding: 10px 27px;
            padding-bottom: 15px;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            &.active {
                display: flex;
                animation: opacity-0-1 0.3s;
            }
        }
        &__item {
            align-self: flex-start;
            margin: 5px;
            min-height: 25px;
            &_user {
                margin-top: 16px;
                &::before {
                    width: 100%;
                    height: 1px;
                    left: 0;
                    top: -10px;
                }
            }
        }
        &__button {
            display: block;
            position: relative;
            height: 30px;
            width: 30px;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &::before,
            &::after,
            span {
                display: block;
                height: 3px;
                width: 30px;
                border-radius: 1px;
                background-color: $color-purple;
            }
            &::before,
            &::after{
                content: '';
                position: absolute;
                left: 0;
            }
            &::before{ top: 0; }
            &::after{ bottom: 0; }
            &.active {
                &::before,
                &::after{
                    background-color: $color-purple-end;
                    transition: all 0.3s;
                }
                &::before {
                    transform: rotate(45deg);
                    top: 13.5px;
                }
                &::after {
                    transform: rotate(-45deg);
                    bottom: 13.5px;
                }
                span {
                    display: none;
                } 
            }
        }
    }
}

@keyframes opacity-0-1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}