@import '../colors-style/colors-style.scss';

.dropdown-field {
  position: relative;
  &__expand-more {
    position: absolute;
    min-width: 44px;
    min-height: 44px;
    right: 0;
    background-color: transparent;
    color: $color-50per;
    cursor: pointer;
  }
  &__expand-more_hovered,
  &__expand-more:hover {
    color: $color-75per;
  }
}