@import '/styles/colors';
@import '/styles/types';

$block: 'like-button';

.#{$block} {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 40px;
  max-width: 40px;
  height: 20px;
  min-height: 20px;
  padding-left: 10px;
  cursor: pointer;

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 40px;
    height: 20px;
    opacity: 0;
    &:checked+.#{$block}__label {
      color: $font-brand;

      &::before {
        border-color: $brand;
      }
    }
    &:checked~.#{$block}__icon::before {
      color: $font-brand;
      content: 'favorite';
    }
    &:not(:checked)+.#{$block}__label {
      color: $font-light;

      &::before {
        border-color: $main-light;
      }
    }
    &:not(:checked)~.#{$block}__icon::before {
      color: $font-light;
      content: 'favorite_border';
    }
    &:focus+.#{$block}__label::before {
      outline: none;
      box-shadow: 0 0 5px $shadow-highlight;
    }
  }

  &__label {
    @include base-type;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 10px;
    line-height: 1;
    user-select: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 20px;
      border: 1px solid $main-light;
      border-radius: 10px;
      content: '';
    }
  }

  &__icon {
    @include icon-type;

    position: absolute;
    top: 0;
    left: 0;
    min-width: 20px;
    min-height: 20px;

    &::before {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      color: $font-light;
      font-size: 10px;
      content: 'favorite_border';
    }
  }

  &_checked {
    color: $font-brand;
    .#{$block}__label::before {
      border-color: $brand;
    }
    .#{$block}__icon::before {
      color: $font-brand;
      content: 'favorite';
    }
  }
}
