@import '../../colors.scss';
@import '../../types.scss';

$block: 'like-button';

.#{$block} {
  display: block;
  max-width: 40px;
  min-width: 40px;
  width: 100%;
  min-height: 20px;
  height: 20px;
  padding-left: 10px;
  position: relative;
  cursor: pointer;
  &__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    z-index: -1;
    opacity: 0;
    &:checked+.#{$block}__label {
      color: $color-purple;
      &::before {
        border-color: $color-purple;
      }
    }
    &:checked~.#{$block}__icon::before {
      content: 'favorite';
      color: $color-purple;
    }
    &:not(:checked)+.#{$block}__label {
      color: $color-25per;
      &::before {
        border-color: $color-25per;
      }
    }
    &:not(:checked)~.#{$block}__icon::before {
      content: 'favorite_border';
      color: $color-25per;
    }
  }
  &__label {
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    @include text('mod_like');
    padding-bottom: 2px;
    user-select: none;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 20px;
      border: 1px solid $color-25per;
      border-radius: 10px;
    }
  }
  &__icon { 
    @include icon-type;
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    top: 0;
    left: 0;
    &::before {
      content: 'favorite_border';
      position: absolute;
      width: 20px;
      height: 20px;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-25per;
    }
  }
  &_checked {
    color: $color-purple;
    .#{$block}__label::before {
      border-color: $color-purple;
    }
    .#{$block}__icon::before {
      content: 'favorite';
      color: $color-purple;
    }
  }
}