include ../check-button/check-button.pug

//-
  options.isChecked
  options.name
  options.value

mixin like-button(options)
  if !options
    - options = {}
  - options.isLike = true
  +check-button(options)
    SPAN.like-button__icon