.dropdown-panel {
  &__list {
    display: flow-root;
    margin: 0;
    padding: 0;
  }

  &__countable-item {
    margin: 6px 6px 7px 7px;
    list-style: none;
  }

  &__control {
    padding: 13px 6px 12px 13px;
  }
}
