@import '/assets/colors';
@import '/assets/types';

.invoice-line {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  &__name {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 239px;

    @include text('rare_less');

    &_with-line {
      max-width: 100%;
      overflow: hidden;

      &::after {
        position: relative;
        top: -5px;
        left: 4px;
        min-width: 100%;
        min-height: 1px;
        border-bottom: 1px dotted $color-25per;
        content: '';
      }
    }
  }

  &__info {
    @include h3-type;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    color: $color-25per;
    text-transform: lowercase;
    background-color: white;
    border: 1px solid $color-25per;
    border-radius: 10px;

    &:focus {
      border-color: $color-50per;
      outline: none;
    }
  }
}
