@import '/styles/colors';
@import '/styles/types';

$block: 'invoice-line';

.#{$block} {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0;

  &__name {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 239px;
    margin: 0;

    @include text('rare_less');

    &_with-line {
      max-width: 100%;
      overflow: hidden;

      &::after {
        position: relative;
        top: -5px;
        left: 4px;
        min-width: 100%;
        min-height: 1px;
        border-bottom: 1px dotted $main-light;
        content: '';
      }
    }
  }

  &__info {
    @include h3-type;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    color: $font-light;
    text-transform: lowercase;
    background-color: $bg-main;
    border: 1px solid $main-light;
    border-radius: 10px;
    cursor: pointer;

    &:focus {
      border-color: $main-medium;
      outline: none;
    }
  }

  &_title {
    @include h2-type;
  }
}
