@import '/assets/colors';
@import '/assets/types';

$block: 'radio-group';

.#{$block} {
  display: flex;
  width: 100%;
  min-width: 133px;
  max-width: 100%;
  min-height: 20px;

  &__option {
    position: relative;
    margin-left: 20px;
    padding-left: 30px;

    &_first {
      margin-left: 0;
    }
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 20px;
    height: 20px;
    opacity: 0;
    &:checked+.#{$block}__label {
      color: $font-dark;

      &::before {
        border-color: $brand;
      }

      &::after {
        display: block;
      }
    }
    &:not(:checked)+.#{$block}__label {
      color: $font-medium;

      &::before {
        border-color: $main-light;
      }

      &::after {
        display: none;
      }
    }
    &:focus+.#{$block}__label::before {
      outline: none;
      box-shadow: 0 0 5px $shadow-highlight-dark;
    }
  }

  &__label {
    @include text('rare_less');

    display: flex;
    color: $font-medium;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $main-light;
      border-radius: 10px;
      content: '';
    }

    &::after {
      position: absolute;
      top: 4px;
      left: 4px;
      display: none;
      width: 12px;
      height: 12px;
      background: $brand-gradient;
      border-radius: 10px;
      content: '';
    }

    &_checked {
      color: $font-dark;

      &::before {
        border-color: $brand;
      }

      &::after {
        display: block;
      }
    }

    &_first {
      margin-left: 0;
    }
  }
}
