@import '/assets/colors.scss';

$block: 'burger';
.#{$block} {
  display: flex;
  &__check {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 1px;
    height: 1px;
    z-index: -1;
    opacity: 0;
    &:focus~.#{$block}__button {
      &::before,
      &::after,
      span {
        background-color: $color-purple-end;
        transform: scale(1.2);
        transition: all 0.3s;
      }
    }
    &:checked~.#{$block} {
      &__button {
        &::before,
        &::after{
          background-color: $color-purple-end;
          transition: all 0.3s;
        }
        &::before {
          transform: rotate(45deg);
          top: 13.5px;
        }
        &::after {
          transform: rotate(-45deg);
          bottom: 13.5px;
        }
        span {
          display: none;
        } 
      }
      &__menu {
        display: block;
        position: absolute;
        right: 0;
        top: 50px;
        z-index: 1;
        @media only screen and (min-width : 901px) {
          display: block;
          position: static;
        }
      }
    }
  }
  &__button {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-width: 30px;
    min-height: 30px;
    background-color: transparent;
    cursor: pointer;
    @media only screen and (max-width : 900px) {
      display: inline-flex;
    }
    &::before,
    &::after,
    span {
      display: block;
      height: 3px;
      width: 30px;
      border-radius: 1px;
      background-color: $color-purple;
    }
    &::before,
    &::after{
        content: '';
        position: absolute;
        left: 0;
    }
    &::before{ top: 0; }
    &::after{ bottom: 0; }
  }
  &__menu {
    @media only screen and (max-width : 900px) {
      display: none;
    }
  }
}