@import '/styles/colors';

$block: 'burger';
.#{$block} {
  display: flex;

  &__check {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
    &:focus~.#{$block}__button {
      &::before,
      &::after,
      span {
        background-color: $bg-brand-variation;
        transform: scale(1.2);
        transition: all 0.3s;
      }
    }
    &:checked~.#{$block} {
      &__button {
        &::before,
        &::after {
          background-color: $bg-brand-variation;
          transition: all 0.3s;
        }

        &::before {
          top: 13.5px;
          transform: rotate(45deg);
        }

        &::after {
          bottom: 13.5px;
          transform: rotate(-45deg);
        }

        span {
          display: none;
        }
      }

      &__menu {
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 1;
        display: block;

        @media only screen and (min-width: 1031px) {
          position: static;
          display: block;
        }
      }
    }
  }

  &__button {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    min-width: 30px;
    min-height: 30px;
    background-color: transparent;
    cursor: pointer;

    @media only screen and (max-width: 1030px) {
      display: inline-flex;
    }

    &::before,
    &::after,
    span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: $bg-brand;
      border-radius: 1px;
    }

    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: '';
    }
    &::before { top: 0; }
    &::after { bottom: 0; }
  }

  &__menu {
    @media only screen and (max-width: 1030px) {
      display: none;
    }
  }
}
