@import '/styles/colors';

$burger: linear-gradient(
  to bottom,
  $brand 3px,
  transparent 3px,
  transparent 14px,
  $brand 14px,
  $brand 17px,
  transparent 17px,
  transparent 27px,
  $brand 27px
);
$burger-focus: linear-gradient(
  to bottom,
  $brand-variation 3px,
  transparent 3px,
  transparent 13px,
  $brand-variation 13px,
  $brand-variation 17px,
  transparent 17px,
  transparent 27px,
  $brand-variation 27px
);
$block: 'burger';
.#{$block} {
  display: flex;

  &__check {
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
    &:focus~.#{$block}__button {
      background: $burger-focus;
      transform: scale(1.2);
      transition: all 0.3s;

      &::before,
      &::after {
        background-color: $bg-brand-variation;
      }
    }
    &:checked~.#{$block} {
      &__button {
        background: none;

        &::before,
        &::after {
          background-color: $bg-brand-variation;
          transition: all 0.3s;
        }

        &::before {
          top: 13.5px;
          transform: rotate(45deg);
        }

        &::after {
          bottom: 13.5px;
          transform: rotate(-45deg);
        }
      }

      &__menu {
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 1;
        display: block;

        @media only screen and (min-width: 981px) {
          position: static;
          display: block;
        }
      }
    }
  }

  &__button {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    min-width: 30px;
    min-height: 30px;
    background: $burger;
    cursor: pointer;

    @media only screen and (max-width: 980px) {
      display: inline-flex;
    }

    &::before,
    &::after {
      position: absolute;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: $bg-brand;
      border-radius: 1px;
      content: '';
    }

    &::before { top: 0; }
    &::after { bottom: 0; }
  }

  &__menu {
    @media only screen and (max-width: 980px) {
      display: none;
    }
  }
}
