extends ../../../layouts/website/website

include ../../../components/room-photos/room-photos
include ../../../components/card/card
include ../../../components/card-form/card-form
include ../../../components/room-info/room-info

block variables
  -
    const options = { 
      title: "TOXIN - Room details",
      description: "Пример страницы с детальным описанием номера",
      keywords: "toxin, room, details",
      withBorder: true,
    }
  -
    const roomPhotosOptions = {
      images: [
        "../assets/images/room-888-view-1.jpg",
        "../assets/images/room-888-view-2.jpg",
        "../assets/images/room-888-view-3.jpg",
      ],
    }
    const cardOptions = {
      title: {
        main: { prefix: "№", content: "888", postfix: "Люкс" },
        details: { first: "9 990₽", second: "в сутки" },
      },
    }

block content
  ARTICLE.room-details
    SECTION.room-details__photos
      +room-photos(roomPhotosOptions)
    SECTION.room-details__content
      SECTION.room-details__info
        +room-info
      SECTION.room-details__card
        +card(cardOptions)
          +card-form({ type: "room" })
