.room-details {
  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 70px;
    justify-content: center;
    padding: 70px 140px;

    @media only screen and (max-width: 600px) {
      padding: 40px;
    }

    @media only screen and (max-width: 400px) {
      padding: 30px 2px;
    }
  }

  &__info {
    max-width: 712px;
  }

  &__card {
    flex-basis: 380px;

    @media only screen and (max-width: 800px) {
      flex-basis: auto;
    }
  }
}
