.page {
  min-width: 320px;
  width: 100%;
  height: fit-content;
}

.room-details {
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);
}

.room-content {
  padding: 70px 140px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -40px;
  margin-left: -70px;
  &__info {
    margin-top: 40px;
    margin-left: 70px;
    max-width: 712px;
  }
  &__card {
    margin-top: 40px;
    flex-basis: 380px;
    margin-left: 70px;
    @media only screen and (max-width : 800px) {
      flex-basis: auto;
    }
  }
  @media only screen and (max-width : 600px) {
    padding: 40px 40px;
  }
  @media only screen and (max-width : 400px) {
    padding: 30px 2px;
  }
}

.room-info {
  &__section {
    margin-top: 32px;
    &_first {
      margin-top: 0;
    }
    &_last {
      margin-top: 23px;
    }
  }
}

.room-info-section {
  &_grouped {
    display: flex;
    @media only screen and (max-width : 800px) {
      flex-direction: column;
      // align-items: center;
    }
  }
  &__subsection {
    margin-left: 82px;
    flex-basis: 340px;
    @media only screen and (max-width : 800px) {
      margin-left: 0;
      margin-top: 40px;
      flex-basis: auto;
    }
    &_first {
      margin-left: 0;
      flex-basis: 280px;
      @media only screen and (max-width : 800px) {
        margin-top: 0;
        flex-basis: auto;
      }
    }
  }
}
