extends ../../../layouts/website/website

include ../../../components/filter/filter.pug
include ../../../components/rooms/rooms.pug

block variables
  - const options = { 
  -   title: "TOXIN - Search room",
  -   description: "Пример страницы с поиском номеров и фильтром",
  -   keywords: "toxin, search, rooms, filter",
  -   withBorder: true,
  - }

block content
  .search-room
    ASIDE.search-room__filter
      +filter({
        dateFrom: "2019-08-19",
        dateTo: "2019-08-23",
        guests: { count: [3, 1] },
        priceRange: [5000, 10000],
        ruleChecks: [
          { label: "Можно курить" },
          { label: "Можно с питомцами", isChecked: true },
          { label: "Можно пригласить гостей (до 10 человек)", isChecked: true }
        ],
        accessibleChecks: [
          { label: "Широкий коридор", details: "Ширина коридоров в номере не менее 91 см." },
          { label: "Помощник для инвалидов", details: "На 1 этаже вас встретит специалист и проводит до номера." }
        ],
        amenities: { count: [2, 2] },
        additions: {
          checks: [
            { label: "Завтрак" },
            { label: "Письменный стол", isChecked: true },
            { label: "Стул для кормления", isChecked: true },
            { label: "Кроватка", isChecked: true },
            { label: "Телевизор" },
            { label: "Шампунь" }
          ]
        }
      })
    ARTICLE.search-room__rooms
      +rooms({
        title: "Номера, которые мы для вас подобрали",
        lastPage: 15,
        numbers: [
          {
            number: "888", isLux: true, price: 9990, rate: 5, reviews: 145, 
            images: [ "../assets/images/room-888.jpg", "../assets/images/room-350.jpg", "../assets/images/room-352.jpg", "../assets/images/room-444.jpg" ],
            isHovered: true,
          },
          {
            number: "840", price: 9900, rate: 4, reviews: 65, 
            images: [ "../assets/images/room-840.jpg", "../assets/images/room-350.jpg", "../assets/images/room-352.jpg", "../assets/images/room-444.jpg" ]
          },
          {
            number: "980", isLux: true, price: 8500, rate: 3, reviews: 35, 
            images: [ "../assets/images/room-980.jpg", "../assets/images/room-350.jpg", "../assets/images/room-352.jpg", "../assets/images/room-444.jpg" ]
          },
          {
            number: "856", price: 7300, rate: 5, reviews: 19, 
            images: [ "../assets/images/room-856.jpg", "../assets/images/room-350.jpg", "../assets/images/room-352.jpg", "../assets/images/room-444.jpg" ]
          },
          {
            number: "740", price: 6000, rate: 4, reviews: 44, 
            images: [ "../assets/images/room-740.jpg", "../assets/images/room-350.jpg", "../assets/images/room-352.jpg", "../assets/images/room-444.jpg" ]
          },
          {
            number: "982", price: 5800, rate: 3, reviews: 56, 
            images: [ "../assets/images/room-982.jpg", "../assets/images/room-350.jpg", "../assets/images/room-352.jpg", "../assets/images/room-444.jpg" ]
          },
          {
            number: "678", price: 5500, rate: 5, reviews: 45, 
            images: [ "../assets/images/room-678.jpg", "../assets/images/room-350.jpg", "../assets/images/room-352.jpg", "../assets/images/room-444.jpg" ]
          },
          {
            number: "450", price: 5300, rate: 4, reviews: 39, 
            images: [ "../assets/images/room-450.jpg", "../assets/images/room-350.jpg", "../assets/images/room-352.jpg", "../assets/images/room-444.jpg" ]
          },
          {
            number: "350", price: 5000, rate: 3, reviews: 77, 
            images: [ "../assets/images/room-350.jpg", "../assets/images/room-350.jpg", "../assets/images/room-352.jpg", "../assets/images/room-444.jpg" ]
          },
          {
            number: "666", price: 5000, rate: 5, reviews: 25, 
            images: [ "../assets/images/room-666.jpg", "../assets/images/room-350.jpg", "../assets/images/room-352.jpg", "../assets/images/room-444.jpg" ]
          },
          {
            number: "444", price: 5000, rate: 3, reviews: 15, 
            images: [ "../assets/images/room-444.jpg", "../assets/images/room-350.jpg", "../assets/images/room-352.jpg", "../assets/images/room-444.jpg" ]
          },
          {
            number: "352", price: 5000, rate: 3, reviews: 55, 
            images: [ "../assets/images/room-352.jpg", "../assets/images/room-350.jpg", "../assets/images/room-352.jpg", "../assets/images/room-444.jpg" ]
          }
        ]
      })