.page {
  width: 100%;
  min-width: 320px;
  height: max-content;
}

.search-room {
  display: flex;
  padding: 30px 140px 70px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);

  @media only screen and (max-width: 1180px) {
    padding: 30px 40px 50px;
  }

  @media only screen and (max-width: 980px) {
    padding: 20px 20px 40px;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  &__rooms {
    margin-left: 60px;

    @media only screen and (max-width: 980px) {
      margin-left: 20px;
    }

    @media only screen and (max-width: 600px) {
      margin-top: 40px;
      margin-left: 0;
    }
  }
}
