include ../field/field.pug
include ../dropdown/dropdown.pug

mixin field-section(name, details, value, placeholder)
  .field-section
    .field-section__title
      .field-section__name= name
      if details
        .field-section__details= details 
      else
        .field-section__details.field-section__details_none
    if (name == 'Text Field') && (details == 'Default')
      +field('default', 'text', '', 'Email')
    else if (name == 'Text Field') && (details == 'Hover / Focus')
      +field('hover', 'text', '', 'This is pretty awesome')
    else if (name == 'Dropdown') && (details == 'Default')
      +dropdown('Сколько гостей')
    else if (name == 'masked text field') && (details == 'Default')
      +field('masked', 'text', '', 'ДД.ММ.ГГГГ', '(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}')
    else if name == 'date Dropdown'
      +dropdown(value ? value : '', 'date')
    else if name == 'filter date dropdown'
      +dropdown(value, 'filter')
    else if name == 'subscription text field'
      +dropdown(value, 'field')