include ../field/field.pug
include ../dropdown/dropdown.pug

mixin field-section(name, state)
  .field-section
    .field-section__title
      .field-section__name= name
      .field-section__state= state
    if (name == 'Text Field') && (state == 'Default')
      +field('default', '', 'Email')
    else if (name == 'Text Field') && (state == 'Hover / Focus')
      +field('hover', '', 'This is pretty awesome')
    else if (name == 'Dropdown') && (state == 'Default')
      +dropdown('Сколько гостей')