@import '../field/field.scss';
@import '../dropdown/dropdown.scss';

.field-section {
    position: relative;
    margin-bottom: 20.5px;
    &__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        font-family: $font-main;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $color-50per;
    }
    &__name {
        align-self: flex-end;
        font-family: $font-main-bold;
        color: $color;
    }
}