include ../../../../components/form-section/form-section.pug
include ../../../../components/form-set/form-set.pug
include ../../../../components/text-field/text-field.pug
include ../../../../components/dropdown/dropdown.pug
include ../../../../components/date-section/date-section.pug
include ../../../../components/date-filter/date-filter.pug
include ../../../../components/subscription/subscription.pug

mixin field-elements 
  .field-elements
    SECTION.field-elements__section.field-elements__section_first
      +form-section
        +form-set({ title: "Text Field", details: "Default" })
          +text-field({ placeholder: "Email", type: "email" })
    SECTION.field-elements__section
      +form-section
        +form-set({ title: "Text Field", details: "Hover / Focus" })
          +text-field({
            placeholder: "This is pretty awesome",
            isHovered: true,
            isFocused: true,
          })
    SECTION.field-elements__section
      +form-section
        +form-set({ title: "Dropdown" })
          +dropdown({
            name: "guests-field",
            list: [
              { name: "Взрослые", category: "гость" },
              { name: "Дети", category: "гость" },
              { name: "Младенцы", category: "младенец" }
            ],
          })
    SECTION.field-elements__section
      +form-section
        +form-set({ title: "Masked Text Field" })
          +text-field({
            placeholder: "ДД.ММ.ГГГГ",
            isMasked: true,
          })
    SECTION.field-elements__section.field-elements__section_rarefied
      +date-section({
        name: "dates-fields",
        dateTo: "2019-08-19",
        dateFromTitle: "Date dropdown",
        dateToTitle: "Date dropdown",
      })
    SECTION.field-elements__section.field-elements__section_rarefied
      +form-section({ isShortened: true })
        +form-set({ title: "Filter Date Dropdown" })
          +date-filter({
            name: "dates-field",
            dateFrom: "2019-08-19",
            dateTo: "2019-08-23",
          })
    SECTION.field-elements__section.field-elements__section_rarefied
      +form-section({ isShortened: true })
        +form-set({ title: "Subscription Text Field" })
          +subscription
            +text-field({
              placeholder: "Email",
              isDirected: true,
              name: "email",
              type: "email",
            })
