include ../../../../components/form-section/form-section.pug
include ../../../../components/form-set/form-set.pug
include ../../../../components/text-field/text-field.pug
include ../../../../components/dropdown/dropdown.pug

mixin field-elements 
  .field-elements
    SECTION.field-elements__section.field-elements__section_first
      +form-section
        +form-set({ title: "Text Field", details: "Default" })
          +text-field({ placeholder: "Email" })
    SECTION.field-elements__section
      +form-section
        +form-set({ title: "Text Field", details: "Hover / Focus" })
          +text-field({
            placeholder: "This is pretty awesome",
            isHovered: true,
            isFocused: true,
          })
    SECTION.field-elements__section
      +form-section
        +form-set({ title: "Dropdown" })
          +dropdown({ value: "Сколько гостей" })
    SECTION.field-elements__section
      +form-section
        +form-set({ title: "Masked Text Field" })
          +text-field({
            placeholder: "ДД.ММ.ГГГГ",
            isMasked: true,
          })
    SECTION.field-elements__section.field-elements__section_rarefied
      +form-section({ isPaired: true })
        .form-section__set.form-section__set_first
          +form-set({ title: "Date Dropdown" })
            +dropdown({ type: "date" })
        .form-section__set
          +form-set({ title: "Date Dropdown" })
            +dropdown({
              type: "date",
              value: '2019-08-19',
            })
    SECTION.field-elements__section.field-elements__section_rarefied
      +form-section({ isShortened: true })
        +form-set({ title: "Filter Date Dropdown" })
          +dropdown({
            type: "date",
            value: "19 авг - 23 авг",
            isFilter: true,
          })
    SECTION.field-elements__section.field-elements__section_rarefied
      +form-section({ isShortened: true })
        +form-set({ title: "Subscription Text Field" })
          +text-field({
            placeholder: "Email",
            isDirected: true,
          })
