include ../../../../components/section/section.pug

include ../../../../components/form-section/form-section.pug
include ../../../../components/form-set/form-set.pug

include ../../../../components/slider/slider.pug
include ../../../../components/button/button.pug
include ../../../../components/pagination/pagination.pug

mixin button-elements
  .button-elements
    .button-elements__section.button-elements__section_first
      +form-section
        +form-set({ title: "Range Slider", details: "5 000₽ - 10 000₽", indented: true })
          +slider({ id: "range-slider", values: [0, 30.4, 63.5, 100] })
    .button-elements__section
      +form-section
        +form-set({ title: "Buttons", empty: true })
          .form-set__elements-container
            .form-set__group.form-set__group_inlined
              .form-set__element.form-set__element_wided
                +button({ id: "button-default", caption: "click me", isWithArrow: false })
              .form-set__element.form-set__element_inlined.form-set__element_indent-in_buttons-left.form-set__element_wided
                +button({ id: "button-default-hover", caption: "click me", isWithArrow: false, isHovered: true })
            .form-set__group.form-set__group_inlined.form-set__group_indent-in_buttons
              .form-set__element.form-set__element_wided
                +button({ id: "button-border", caption: "click me", isWithArrow: false, isBorderOnly: true })
              .form-set__element.form-set__element_inlined.form-set__element_indent-in_buttons-left.form-set__element_wided
                +button({ id: "button-border-hover", caption: "click me", isWithArrow: false, isBorderOnly: true, isHovered: true })
            .form-set__group.form-set__group_inlined.form-set__group_indent-in_buttons
              .form-set__element
                +button({ id: "button-link", caption: "click me", isWithArrow: false, isTextOnly: true })
              .form-set__element.form-set__element_inlined.form-set__element_indent-in_buttons-left
                +button({ id: "button-link-hover", caption: "click me", isWithArrow: false, isTextOnly: true, isHovered: true })
            .form-set__element.form-set__element_indent-in_buttons-top
              +button({ id: "button-with-arrow", caption: "перейти к оплате" })
    .button-elements__section
      +form-section
        +form-set({ title: "Pagination", indented: true })
          +pagination({ id: "pagination", lastPage: 15, description: '1 – 12 из 100+ вариантов аренды' })
    