@import '/assets/colors.scss';
@import '/assets/types.scss';

.subscription {
  // display: block;
  position: relative;
  &__button {
    @include icon-type;
    position: absolute;
    min-width: 44px;
    min-height: 44px;
    right: 0;
    background-color: transparent;
    cursor: pointer;
    background: linear-gradient(180deg, $color-purple 0%, $color-purple-end 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $color-purple;
  }
  &__button_hover,
  &__button:hover,
  &__button:focus {
    color: $color-purple-end;
    font-weight: bold;
    outline: none;
  }
}