@import '/styles/colors';
@import '/styles/types';

$block: 'counter';
.#{$block} {
  display: flex;

  &__element {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    min-height: 30px;
    max-height: 30px;
    padding: 0;
    background-color: transparent;
  }

  &__button {
    @include base-h-type;

    color: $font-medium;
    font-weight: normal;
    font-size: 17px;
    border: 1px solid $main-light;
    border-radius: 22px;
    cursor: pointer;

    &_disabled,
    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &_hovered,
    &:hover,
    &:focus {
      color: $font-dark;
      border-color: $main-medium;
      outline: none;
      &.#{$block}__button_disabled {
        color: $font-medium;
        border-color: $main-light;
      }
    }
  }

  &__count {
    @include h3-type;

    min-width: 32px;
    margin: 0;
    line-height: 4;
  }
}
