.page {
  min-width: 320px;
  width: 100%;
  height: fit-content;
}

.sign-in {
  position: relative;
  z-index: 0;
  padding: 172px 10px;
  display: flex;
  &__card {
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
  @media only screen and (max-width: 600px) {
    padding: 40px 10px;
  }
}