extends ../../../layouts/website/website

include ../../../components/card/card.pug
include ../../../components/card-form/card-form.pug
include ../../../components/carousel/carousel.pug

block variables
  -
    const options = { 
      title: "TOXIN - Sign in",
      description: "Пример страницы входа",
      keywords: "toxin, sign-in",
    }
  -
    const carouselOptions = {
      slides: [
        "../assets/images/log-room-2.jpg",
        "../assets/images/log-room-1.jpg",
      ],
      delaySec: 10,
    }

block content
  +carousel(carouselOptions)
    ARTICLE.sign-in
      +card({ title: "Войти" })
        +card-form({ type: "log-in" })
