@import '../colors-style/colors-style.scss';

$block: 'expandable-checkbox-list';

.#{$block} {
  min-height: 29px;
  &__check {
    position: absolute;
    width: 1px;
    height: 1px;
    z-index: -1;
    opacity: 0;
    &:checked~.#{$block}__list {
      display: block;
    }
    &:checked~.#{$block}__expand-more {
      transform:  scale(-1, -1);
    }
    &:not(:checked)~.#{$block}__list {
      display: none;
    }
    &:not(:checked)~.#{$block}__expand-more {
      transform:  none;
    }
  }
  &__expand-more {
    min-width: 44px;
    min-height: 44px;
    margin-top: -29px;
    float: right;
    cursor: pointer;
    &::before {
      content: 'expand_more';
      position: absolute;
      min-width: 44px;
      min-height: 44px;
      background-color: transparent;
      color: $color-50per;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__expand-more_hovered::before,
  &__expand-more:hover::before {
    color: $color-75per;
  }
  &__list {
    padding-top: 18px;
  }
}