@import '/styles/colors';

.rate-circle {
  &__unit {
    fill: none;
    stroke-width: 1.1;
  }

  &__gradient {
    &_yellow {
      &_start { stop-color: $additional-1; }
      &_end { stop-color: $additional-1-variation; }
    }

    &_green {
      &_start { stop-color: $accent-variation; }
      &_end { stop-color: $accent; }
    }

    &_purple {
      &_start { stop-color: $brand; }
      &_end { stop-color: $brand-variation; }
    }

    &_gray {
      &_start { stop-color: $additional-2; }
      &_end { stop-color: $additional-2-variation; }
    }
  }
}
