$indent-top: 10px;
$indent-left: 20px;

.form-section {
  &_shortened {
    max-width: 266px;
  }
  &_paired {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$indent-left;
    margin-top: -$indent-top;
  }
  &__set {
    flex: 1 1 90px;
    margin-top: $indent-top;
    margin-left: $indent-left;
  }
}