include ../form-field/form-field.pug

mixin form-section(props)
  FIELDSET.form-section
    if props.title
      LEGEND.form-section__title-fields
        H3.title-fields= props.title
          if props.details
            .title-fields__details
              P.details= props.details
    .form-section__form-field
      +form-field(props.field)