//-
  options.isPaired
  options.isShortened

mixin form-section(options)
  if !options
    - options = {}

  .form-section(
    class=options.isPaired ? "form-section_paired" : ""
    class=options.isShortened ? "form-section_shortened" : ""
  )
    block