.form-section {
  max-width: 100%;
  min-width: 90px;
  width: 100%;
  min-height: 15px;
  &__title-fields {
    width: 100%;
  }
  &__form-field {
    margin-top: 5px;
  }
}

.title-fields {
  // padding-bottom: 5px;
  width: 100%;
  &__details {
    float: right;
  }
}