mixin form-section(props)
  case props.type
    when "text-field"
      .form-section
        if props.title 
          h3.title.form-section__title= props.title
            if props.details 
              p.details.title__details= props.details
    default
      DIV= "ERROR"