//-
  options.paired
  options.shortened

mixin form-section(options)
  if !options
    - options = {}

  .form-section(class=`
    ${options.paired ? ' form-section_paired' :''}
    ${options.shortened ? ' form-section_shortened' :''}
  `)
    block