include ../text-field/text-field.pug
include ../dropdown-field/dropdown-field.pug
include ../check-field/check-field.pug

mixin form-section(props)
  FIELDSET.form-section
    if props.title
      LEGEND.form-section__title-section
        H3.title-section= props.title
          if props.details
            .title-section__details
              P.details= props.details
    .form-section__fields-section
      if props.field
        if props.field.dropdown
          +dropdown-field(props.field)
        else
          +text-field(props.field)
      else if props.fields
        .fields-group
          each field in props.fields
            .fields-group__item
            if field.check
              +check-field(field)