extends ../../../layout

include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/card/card.pug
include ../../../components/carousel/carousel.pug

block variables
  - var title = 'TOXIN - Landing'

block content
    +header
    main.landing__main
      +carousel('landing')
      +card({
        type: 'wishes',
        date1: '2019-08-19',
        date2: '2019-08-23',
        datepicker: '',
        guests: {
          adults: 2,
          kids: 1,
          babies: 0,
          expanded: true
        }
      })
      p.landing__text= 'Лучшие номера для вашей работы, отдыха и просто вдохновения'
    +footer