.like {
    display: inline-block;
    position: relative;
    width: 40px;
    margin: 6px 0;
    & ~ * {
        margin-left: 10px;
    }
    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;        
        &:checked+label {
            color: $color-purple;
            &::before {
                background-image: url('components/like/favorite.png');
                background-position: 4px 5px;
                border-color: $color-purple;
            }
        }
    }
    &__label {
        padding-top: 2px;
        font-family: $font_main;

        display: block;
        width: 20px;
        margin-left: 15px;
        margin-top: 2px;
        text-align: center;
        font-size: 10px;
        line-height: 12px;
        color: $color-25per;
        &::before {
            content: '';
            position: absolute;
            display: block;
            height: 20px;
            left: 0;
            border: 1px solid $color-25per;

            width: 40px;
            border-radius: 10px;
            top: 0px;
            background: no-repeat center url('components/like/favorite_border.png');
            background-position: 4px 5px;
        }
    }
}