@import '/styles/colors';
@import '/styles/types';

$block: 'extra-list';
.#{$block} {
  width: 100%;
  min-width: 280px;
  min-height: fit-content;
  margin: 0;
  padding: 0;

  &__item {
    position: relative;
    width: fit-content;
    padding: 20px 0;
    padding-left: 58px;
    list-style: none;
    border-bottom: 1px solid $main-light-medium;

    &_first {
      padding-top: 0;
      .#{$block}__icon {
        top: 0;
      }
    }

    &_last {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }

  &__details {
    margin: 0;
    padding: 0;

    @include text('rare_more');
  }

  &__icon {
    @include icon-type;

    position: absolute;
    top: 0;
    top: 20px;
    left: 0;
    min-width: 48px;
    min-height: 48px;
    color: $font-brand;
    font-size: 48px;
    line-height: 1;
    background: $brand-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
