@import '/assets/colors.scss';
@import '/assets/types.scss';

$block: 'extra-list';
.#{$block} {
  min-width: 280px;
  width: 100%;
  min-height: fit-content;
  &__item {
    padding: 21px 0;
    padding-left: 58px;
    border-bottom: 1px solid $color-10per;

    position: relative;
    width: fit-content;
    &_first {
      padding-top: 0;
      .#{$block}__icon {
        top: 0;
      }
    }
    &_last {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  &__content {
    width: fit-content;
    position: relative;
    
    border-bottom: 1px solid $color-10per;
  }
  &__title {
    font-weight: bold;
  }
  &__details {
    @include text('rare_more');
  }
  &__icon {
    @include icon-type;
    position: absolute;
    min-width: 48px;
    min-height: 48px;
    font-size: 48px;
    line-height: 1;
    top: 0;
    left: 0;
    top: 20px;
    background: linear-gradient(180deg, $color-purple 0%, $color-purple-end 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $color-purple;
  }
}