@import '/styles/colors';
@import '/styles/types';

.reviews-counter {
  @include base-h-type;

  margin: 0;
  color: $font-medium;

  &__text {
    padding-left: 4px;

    @include base-type;

    color: $font-medium;
  }
}
