@import '../../colors.scss';
@import '../../types.scss';

.reviews-counter {
  @include base-h-type;
  color: $color-50per;
  &__text {
    padding-left: 4px;
    @include base-type;
    @include text('light_middle');
  }
}