extends ../../../layouts/ui-kit/ui-kit

include ../../../components/colors-section/colors-section
include ../../../components/types-section/types-section

block variables
  -
    const options = {
      title: "TOXIN - UI kit",
      description: "Цвета и шрифты",
      keywords: "toxin, ui-kit, colors, type",
    }

block content
  .colors-and-type
    ARTICLE.colors-and-type__colors
      +colors-section
    ARTICLE.colors-and-type__types
      +types-section
