.page {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  height: max-content;
  margin: 0 auto;

  &__header {
    padding: 30px;
  }
  &__main {
    padding: 37px 150px;
    @media only screen and (max-width : 1000px) {
      padding: 37px 30px;
    }
    @media only screen and (max-width : 800px) {
      padding: 0 30px;
    }
  }
}

.colors-and-type {
  display: flex;
  justify-content: space-between;
    
  &__types {
    margin-left: 25px;
    @media only screen and (max-width : 800px) {
      margin-left: 0;
      margin-top: 25px;
    }
  }
  @media only screen and (max-width : 800px) {
    flex-direction: column;
    align-items: center;
  }
}

.colors {
  min-width: 281px;
}

.types {
  min-width: 444px;
  @media only screen and (max-width : 800px) {
    min-width: 320px;
  }
}