extends ../../../layout

include ../../../components/logo/logo.pug
include ../../../components/type-section/type-section.pug
include ../../../components/color-section/color-section.pug

block variables
  - var title = 'TOXIN - UI kit'

block content
  .colors-and-type-page
    .logo-zone.colors-and-type-page__section
      +logo
    .colors-and-type.colors-and-type-page__section
      .colors
        +color-section({ name: 'Dark Shade 100%', code: '#1F2041' })
        +color-section({ name: 'Dark Shade 75%', code: '#1F2041' })
        +color-section({ name: 'Dark Shade 50%', code: '#1F2041' })
        +color-section({ name: 'Dark Shade 25%', code: '#1F2041' })
        +color-section({ name: 'Dark Shade 5%', code: '#1F2041' })
        +color-section({ name: 'Purple', code: '#BC9CFF' })
        +color-section({ name: 'Green', code: '#6FCF97' })
      .types.colors-and-type__types
        +type-section({ name: 'H1', example: 'This one is the sub-section or widget title' })
        +type-section({ name: 'H2', example: 'Next one is the item title inside widgets' })
        +type-section({ name: 'H3', example: 'This is a label or CTA text' })
        +type-section({ name: 'Body', example: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.' })