extends ../../../layouts/ui-kit/ui-kit

include sections/colors/colors
include sections/types/types

block variables
  -
    const options = {
      title: "TOXIN - UI kit",
      description: "Цвета и шрифты",
      keywords: "toxin, ui-kit, colors, type",
    }

block content
  .colors-and-type
    ARTICLE.colors-and-type__colors
      +colors
    ARTICLE.colors-and-type__types
      +types
