@import 'types';
@import 'colors';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 1px;
  min-height: 100%;
  background-color: $bg-main;

  @include base-type;
}
