$main: #1f2041;
$main-dark: rgba(31, 32, 65, 0.75);
$main-medium: rgba(31, 32, 65, 0.5);
$main-light: rgba(31, 32, 65, 0.25);
$main-light-medium: rgba(31, 32, 65, 0.1);
$main-light-hard: rgba(31, 32, 65, 0.05);
$brand: #bc9cff;
$brand-variation: #8ba4f9;
$brand-gradient: linear-gradient(180deg, $brand 0%, $brand-variation 100%);
$brand-gradient-pale: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
$brand-gradient-pale-hard: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
$accent: #6fcf97;
$accent-variation: #66d2ea;
$accent-gradient: linear-gradient(180deg, $accent 0%, $accent-variation 100%);
$additional-1: #ffe39c;
$additional-1-variation: #ffba9c;
$additional-1-gradient: linear-gradient(180deg, $additional-1 0%, $additional-1-variation 100%);
$additional-2: #919191;
$additional-2-variation: #3d4975;
$additional-2-gradient: linear-gradient(180deg, $additional-2 0%, $additional-2-variation 100%);
$font-main: $main;
$font-dark: $main-dark;
$font-medium: $main-medium;
$font-light: $main-light;
$font-brand: $brand;
$font-variation: $brand-variation;
$font-inverse: white;
$bg-main: white;
$bg-variation: #f4f4f6;
$bg-brand: $brand;
$bg-brand-variation: $brand-variation;
$bg-additional: $main-light;
$line: $main-light-medium;
$shadow: rgba(0, 0, 0, 0.2);
$shadow-light-medium: $main-light-medium;
$shadow-light-hard: $main-light-hard;
$shadow-highlight: $main-light;
$shadow-highlight-dark: $main-medium;
