@import '../radio-group/radio-group.scss';

.rate {
    width: 120px;
    display: inline-block;
    //margin: 0;
    & ~ * {
        margin-left: 20px;
    }
    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked~label::before {
            background: no-repeat center url('components/rate/star_border.png');
        }
        &:checked+label {
            &::before {
                background: no-repeat center url('components/rate/star.png');
            }
        }
    }
    &__label {
        position: relative;
        display: inline-block;
        & ~ * {
            margin-left: 24px;
        }
        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 24px;
            height: 24px;
            top: -6px;
            left: 0;
            background: no-repeat center url('components/rate/star.png');
        }
    }
}