include ../../../../../components/form-set/form-set.pug
include ../../../../../components/slider/slider.pug
include ../../../../../components/button/button.pug
include ../../../../../components/pagination/pagination.pug

mixin button-elements
  .button-elements
    SECTION.button-elements__section.button-elements__section_first
      -
        const formSetOptions = {
          title: "Range Slider",
          details: "5 000₽ - 10 000₽",
          isIndented: true,
        }
      +form-set(formSetOptions)
        +slider({ values: [0, 5000, 10000, 16000] })
    SECTION.button-elements__section
      +form-set({ title: "Buttons", isEmpty: true })
        .form-set__elements-container
          .form-set__group.form-set__group_inlined
            .form-set__element.form-set__element_widen
              +button({ caption: "click me" })
            .form-set__element.form-set__element_inlined.form-set__element_indent-in_buttons-left.form-set__element_widen
              +button({ caption: "click me", isHovered: true })
          .form-set__group.form-set__group_inlined.form-set__group_indent-in_buttons
            .form-set__element.form-set__element_widen
              +button({ caption: "click me", isBorderOnly: true })
            .form-set__element.form-set__element_inlined.form-set__element_indent-in_buttons-left.form-set__element_widen
              -
                const borderButtonOptions = {
                  caption: "click me",
                  isBorderOnly: true,
                  isHovered: true,
                }
              +button(borderButtonOptions)
          .form-set__group.form-set__group_inlined.form-set__group_indent-in_buttons
            .form-set__element
              +button({ caption: "click me", isTextOnly: true })
            .form-set__element.form-set__element_inlined.form-set__element_indent-in_buttons-left
              -
                const textButtonOptions = {
                  caption: "click me",
                  isTextOnly: true,
                  isHovered: true,
                }
              +button(textButtonOptions)
          .form-set__element.form-set__element_indent-in_buttons-top
            +button({ caption: "перейти к оплате", withArrow: true })
    SECTION.button-elements__section
      -
        const paginationOptions = {
          lastPage: 15,
          description: "1 – 12 из 100+ вариантов аренды",
        }
      +form-set({ title: "Pagination", isIndented: true })
        +pagination(paginationOptions)
