@import '/assets/colors';
@import '/assets/types';

$block: 'expandable-list';
.#{$block} {
  float: right;
  max-height: 21px;

  &__check {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
    &:checked~.#{$block}__list {
      display: block;
    }
    &:checked~.#{$block}__expand-more {
      transform: scale(-1, -1) translateY(-2px);
    }
    &:not(:checked)~.#{$block}__list {
      display: none;
    }
    &:not(:checked)~.#{$block}__expand-more {
      transform: none;
    }
    &:focus~.#{$block}__expand-more::before {
      color: $color-75per;
    }
  }

  &__expand-more {
    @include icon-type;

    min-width: 24px;
    min-height: 21px;
    cursor: pointer;

    &::before {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 24px;
      min-height: 21px;
      color: $color-50per;
      background-color: transparent;
      content: 'expand_more';
    }
  }

  &__expand-more_hovered::before,
  &__expand-more:hover::before {
    color: $color-75per;
  }

  &__list {
    &_customary {
      position: absolute;
      top: 20px;
      right: 0;
      z-index: 1;
      width: max-content;
      min-width: 100%;
      max-width: 320px;
      padding: 10px;
      padding-top: 16px;
      color: $color-50per;
      background-color: white;
      box-shadow: 0 10px 20px $color-5per;
    }
  }

  &_with-checks {
    float: none;
    min-height: 29px;
    max-height: max-content;
    .#{$block}__check:checked~.#{$block}__expand-more {
      transform: scale(-1, -1);
    }
    .#{$block}__expand-more {
      float: right;
      min-width: 44px;
      min-height: 44px;
      margin-top: -29px;

      &::before {
        min-width: 44px;
        min-height: 44px;
      }
    }
    .#{$block}__list {
      padding-top: 18px;
    }
  }
}
