@import '/styles/colors';
@import '/styles/types';

$block: 'expandable-list';
.#{$block} {
  float: right;

  &__check {
    position: absolute;
    z-index: -1;
    width: 1px;
    height: 1px;
    opacity: 0;
    &:checked~.#{$block}__list {
      display: block;
    }
    &:checked~.#{$block}__expand-more {
      transform: scale(-1, -1) translateY(-2px);
    }
    &:not(:checked)~.#{$block}__list {
      display: none;
    }
    &:not(:checked)~.#{$block}__expand-more {
      transform: none;
    }
    &:focus~.#{$block}__expand-more::before {
      color: $font-dark;
    }
  }

  &__expand-more {
    @include icon-type;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 19.5px;
    min-height: 18px;
    cursor: pointer;

    &::before {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 19.5px;
      height: 18px;
      color: $font-medium;
      background-color: transparent;
      transform: translateY(1px);
      content: 'expand_more';
    }
  }

  &__expand-more_hovered::before,
  &__expand-more:hover::before {
    color: $font-dark;
  }

  &__list {
    &_customary {
      position: absolute;
      top: 20px;
      right: 0;
      z-index: 1;
      width: max-content;
      min-width: 100%;
      max-width: 320px;
      margin: 0;
      padding: 0;
      padding: 10px;
      padding-top: 16px;
      color: $font-medium;
      background-color: $bg-main;
      box-shadow: 0 10px 20px $shadow-light-hard;
    }
  }

  &__item {
    list-style: none;
  }

  &_with-checks {
    position: relative;
    float: none;
    min-height: 29px;
    max-height: max-content;
    .#{$block}__check:checked~.#{$block}__expand-more {
      transform: scale(-1, -1);
    }
    .#{$block}__expand-more {
      position: absolute;
      top: -29px;
      right: 0;
      min-width: 44px;
      min-height: 44px;
      transform: none;

      &::before {
        min-width: 44px;
        min-height: 44px;
      }
    }
    .#{$block}__list {
      padding-top: 18px;
    }
  }
}
