@import '/styles/colors';

.widgets {
  display: flex;
  gap: 40px;
  padding: 100px 140px;
  background-color: $bg-main;

  &__about {
    min-width: 160px;
    max-width: 260px;
  }

  &__message {
    margin-top: 18px;
  }

  &__widgets-list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    @media only screen and (max-width: 1100px) {
      justify-content: flex-start;
    }
  }

  &__widget {
    list-style: none;
  }

  @media only screen and (max-width: 900px) {
    flex-direction: column;
    padding: 40px 140px;
  }

  @media only screen and (max-width: 600px) {
    padding: 20px 40px;
  }
}
