.widgets {
  display: flex;
  padding: 100px 140px;
  background: #FFFFFF;
  &__about {
    max-width: 260px;
    min-width: 160px;
  }
  &__message {
    margin-top: 20px;
  }
  &__widgets-list {
    flex-grow: 1;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -40px;
    @media only screen and (max-width : 1100px) {
      justify-content: flex-start;
    }
    @media only screen and (max-width : 900px) {
      margin-top: 40px;
      margin-left: 0;
    }
  }
  &__widget {
    margin-left: 40px;
    margin-top: 40px;
  }
  @media only screen and (max-width : 900px) {
    padding: 40px 140px;
    flex-direction: column;
  }
  @media only screen and (max-width : 600px) {
    padding: 20px 40px;
  }
}