@mixin circle-d($d) {
  min-width: $d;
  max-width: $d;
  min-height: $d;
  max-height: $d;
  border-radius: 50%;
}

$block: 'logo';
.#{$block} {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 106px;
  max-width: 106px;
  min-height: 40px;

  &__pic {
    @include circle-d(40px);
  }

  &__text {
    min-width: 54px;
    min-height: 14px;
  }

  &_simplified {
    @include circle-d(48px);
    .#{$block}__pic {
      @include circle-d(48px);
    }
  }
}
