.logo {
    width: 48px;
    height: 48px;
    border: 3px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%;
    background-image: url('components/logo/elm1.png'), url('components/logo/elm2.png');
    background-repeat: no-repeat;
    background-size: 15px, 12px 8px;
    background-position: 8px 15px, 22px 15px;
}