@import '../type-style/type-style.scss';

.widget {
  min-width: 150px;
  max-width: 260px;
  &__title {
    padding-top: 4px;
  }
  &__content {
    margin-top: 21px;
  }
  &__form {
    margin-top: 22px;
  }
}

.link-list {
  &__item {
    margin-top: 20px;
    @include text('rare_less');
    &_first {
      margin-top: 0;
    }
  }
}