@import '/styles/types';

.widget {
  min-width: 150px;
  max-width: 260px;

  &__title {
    @include h3-type;

    margin: 0;
    padding-top: 4px;
  }

  &__content {
    margin-top: 21px;
  }

  &__form {
    margin-top: 20px;
  }

  &__text {
    margin: 0;
    padding: 0;
  }
}
