@import '/styles/colors';
@import '/styles/types';

.comment {
  display: flex;

  &__images {
    flex: 0 1 auto;
  }

  &__texts {
    flex: 1 1 auto;
    padding: 10px;
    padding-right: 0;
  }

  &__avatar {
    position: relative;
    width: 48px;
    min-width: 48px;
    height: 48px;
    min-height: 48px;
    margin: 0;
    margin-top: 9px;
    overflow: hidden;
    border-radius: 24px;
    box-shadow: 0 10px 20px $shadow-light-medium;
  }

  &__img {
    position: absolute;
    top: -10px;
    left: -20px;
  }

  &__like {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 12px;
  }

  &__username {
    margin: 0;
    font-weight: bold;
  }

  &__date-time {
    margin: 0;
    line-height: 1.7;
  }

  &__message {
    margin: 0;
    margin-top: 10px;
    line-height: 1.7;
  }
}
