extends ../../components/layout/layout

block variables
  - const title = "TOXIN"
  - const description = "Верстка макета TOXIN по второму заданию FSD"
  - const keywords = "toxin"
  - const websitePages = [
  -  [ "Landing page", "website/landing-page.html" ],
  -  [ "Search room/Filter", "website/search-room.html" ],
  -  [ "Room details", "website/room-details" ],
  -  [ "Registration", "website/registration.html" ],
  -  [ "Sign in", "website/sign-in.html" ],
  -]
  - const uiKitPages = [
  -  [ "Colors & Type", "ui-kit/colors-and-type.html" ],
  -  [ "Form Elements", "ui-kit/form-elements.html" ],
  -  [ "Cards", "ui-kit/cards.html" ],
  -  [ "Headers & Footers", "ui-kit/headers-and-footers.html" ],
  -]

block content
  .demo-menu
    UL.pages
      LI.pages__website= "Website Pages"
        UL.link-list
          each page in websitePages
            LI.link-list__item
              A.page-link(
                href=page[1]
              )=page[0]
      LI.pages__ui-kit= "UI-KIT"
        UL.link-list
          each page in uiKitPages
            LI.link-list__item
              A.page-link(
                href=page[1]
              )=page[0]