@import '/assets/types';

.demo-menu {
  display: flex;
  min-height: 100%;
  padding: 10px;
  background: #f4f4f6;

  .pages {
    margin: auto;
    padding: 70px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

    @include h1-type;

    &__ui-kit {
      margin-top: 40px;
    }
  }

  .link-list {
    width: 100%;
    max-width: 320px;

    &__item {
      margin-top: 10px;
      margin-left: 20px;
      list-style: circle;

      @include h3-type;
    }
  }

  .page-link {
    text-decoration: underline;
  }
}
