@import '/assets/types';

.pages {
  max-width: max-content;
  margin: auto;
  padding: 70px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  @include h1-type;

  &__ui-kit {
    margin-top: 40px;
  }

  &__list {
    width: 100%;
    max-width: 320px;
  }

  &__page {
    margin-top: 10px;
    margin-left: 20px;
    list-style: circle;

    @include h3-type;
  }

  &__link {
    text-decoration: underline;
  }
}
