@import '/assets/types.scss';

.demo-menu {
  background: #F4F4F6;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 70px;
  display: flex;
  .pages {
    background: white;
    margin: auto;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    @include h1-type;
    &__ui-kit {
      margin-top: 40px;
    }
  }
  .link-list {
    max-width: 320px;
    width: 100%;
    &__item {
      margin-top: 10px;
      margin-left: 20px;
      list-style: circle;
      @include h3-type;
    }
  }
  .page-link {
    text-decoration: underline;
  }
}