.button-elements {
  display: flex;
  flex-direction: column;

  &__section {
    margin-top: 40px;

    &_first {
      max-width: 266px;
      margin-top: 0;
    }

    &_compacted {
      margin-top: 30px;
    }
  }
}
