include ../button/button.pug

//-
  options.isClear

mixin dropdown-control(options)
  - const blockName = "dropdown-control"
  if !options
    - options = {}
  - const isClear = options.isClear === false ? false : true

  DIV(class=blockName)
    DIV(class=`${blockName}__clear`)
      +button({
        caption: "Очистить", 
        isWithArrow: false, 
        isTextOnly: true,
        isNone: isClear,
      })
    DIV(class=`${blockName}__apply`)
      +button({
        caption: "Применить", 
        isWithArrow: false, 
        isTextOnly: true 
      })