extends ../../../layout

include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/card/card.pug

block variables
  - var title = 'TOXIN - Landing'

block content
    +header
    main.landing__main
      +card({
        type: 'wishes',
        date1: '2019-08-19',
        date2: '2019-08-23',
        calendar: 'dropped',
        datepicker: ''
      })
      p.landing__text= 'Лучшие номера для вашей работы, отдыха и просто вдохновения'
    +footer