@import '/styles/colors';
@import '/styles/types';

$block: 'card';

.#{$block} {
  width: 100%;
  max-width: 380px;
  min-height: 257px;
  padding: 29px;
  background-color: $bg-main;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0 0 25px $shadow;

  &_medium {
    max-width: 320px;
    padding: 20px;
    padding-bottom: 15px;
    border: 1px solid $main-light;
    box-shadow: 0 10px 20px $shadow-light-hard;

    @media only screen and (max-width: 400px) {
      border: none;
      box-shadow: none;
    }
  }

  &_small {
    width: 100%;
    min-width: 270px;
    max-width: 440px;
    padding: 0;
    overflow: hidden;
    border: none;
    box-shadow: 0 10px 20px $shadow-light-hard;
    .#{$block}__body {
      padding: 20px;
    }
  }

  &__title {
    margin: 0;
    margin-top: 10px;

    &_margin_none {
      margin: 0;
    }
  }

  &__form {
    margin-top: 21px;

    &_margin_none {
      margin: 0;
    }
  }
}
