@import '../../types.scss';

.preview {
  max-width: 270px;
  max-height: 151px;
  overflow: hidden;
  position: relative;
  &__arrows {
    display: none;
  }
  &_hovered,
  &:hover {
    .preview__arrows {
      display: block;
    }
  }
}

.carousel-arrows-control {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  &__arrow {
    @include icon-type;
    flex-grow: 1;
    max-width: 42px;
    background: transparent;
    position: relative;
    &::before {
      content: 'chevron_left';
      position: absolute;
      top: 0;
      left: 0;
      max-width: 42px;
      width: 100%;
      min-height: 100%;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
    }
    &_next::before {
      content: 'chevron_right';
      left: auto;
      right: 0;
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    }
    &:focus {
      outline: none;
      &::before {
        font-size: 26px;
      }
    }
  }
} 

$block: 'carousel-points-control';
.#{$block} {
  position: absolute;
  min-width: 41px;
  min-height: 7px;
  display: flex;
  justify-content: space-between;
  bottom: 15px;
  right: 15px;
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked+.#{$block}__label {
      background-color: white;
    }
    &:not(:checked)+.#{$block}__label {
      background: none;
    }
    &:focus+.#{$block}__label {
      outline: auto;
    }
  }
  &__label {
    display: block;
    min-width: 7px;
    min-height: 7px;
    border-radius: 3.5px;
    border: 1px solid white;
    cursor: pointer;
    &_checked {
      background-color: white;
    }
  }
}