@import '/styles/colors';
@import '/styles/types';

@keyframes blur-in {
  from {
    filter: blur(20px);
  }
}

$block: 'preview';

.#{$block} {
  position: relative;
  overflow: hidden;

  &__img {
    display: block;
    width: 100%;

    &_animate {
      animation: blur-in 0.25s;
    }
  }

  &__arrows {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    display: none;
    justify-content: space-between;
    min-width: 100%;
    min-height: 100%;
  }

  &_hovered,
  &:hover {
    .#{$block}__arrows {
      display: flex;
    }
  }

  &__arrow {
    @include icon-type;

    position: relative;
    flex-grow: 1;
    max-width: 42px;
    padding: 0;
    background: transparent;
    border: 0;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 42px;
      min-height: 100%;
      color: $font-inverse;
      font-size: 22px;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      content: 'chevron_left';
    }

    &_next::before {
      right: 0;
      left: auto;
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      content: 'chevron_right';
    }

    &:focus {
      outline: none;

      &::before {
        font-size: 26px;
      }
    }
  }

  &__points {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    justify-content: space-between;
    min-width: 41px;
    min-height: 7px;
  }

  &__point-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked+.#{$block}__point-label {
      background-color: $bg-main;
    }
    &:not(:checked)+.#{$block}__point-label {
      background: none;
    }
    &:focus+.#{$block}__point-label {
      outline: auto;
    }
  }

  &__point-label {
    display: inline-block;
    min-width: 7px;
    min-height: 7px;
    border: 1px solid white;
    border-radius: 3.5px;
    cursor: pointer;

    &_checked {
      background-color: $bg-main;
    }
  }
}
