@import '/assets/colors.scss';
@import '/assets/types.scss';

@mixin dayCircle($color) {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  border-radius: 22px;
  @if $color == 'green' {
    background: linear-gradient(180deg, $color-green 0%, $color-green-end 100%);
  }
  @if $color == 'purple' {
    background: linear-gradient(180deg, $color-purple 0%, $color-purple-end 100%);
  }
  @media only screen and (max-width: 400px) {
    min-width: 27px;
    min-height: 27px;
  }
}

.calendar {
  &__control {
    margin-top: 18px;
  }
}

.ui-datepicker {
  .ui-datepicker-header {
    display: flex;
    justify-content: space-between;
    max-height: 24px;

    .ui-datepicker-prev {
      order: 1;
      cursor: pointer;
      .ui-icon{
        font-size: 0;
        &::before {
          content: 'arrow_back';
          @include icon-type;
          color: $color-purple;
        }
      }
    }
    .ui-datepicker-title {
      order: 2;
      @include h2-type;
    }
    .ui-datepicker-next {
      order: 3;
      cursor: pointer;
      .ui-icon{
        font-size: 0;
        &::before {
          content: 'arrow_forward';
          @include icon-type;
          color: $color-purple;
        }
      }
    }
  }
  .ui-datepicker-calendar {
    margin-top: 27px;
    margin-left: -2px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    tr {
      display: flex;
      flex-wrap: nowrap;
      min-width: 100%;
    }
    th,
    td {
      min-width: 40px;
      max-width: 40px;
      width: 100%;
      min-height: 40px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include h3-type;
      font-weight: normal;
      color: $color-50per;
      @media only screen and (max-width: 400px) {
        min-width: 27px;
        max-width: 27px;
        min-height: 27px;
      }
    }
    th {
      text-transform: capitalize;
      font-weight: bold;
      color: $color-purple;
    }
    a {
      color: $color-50per;
      &:hover {
        @include dayCircle('green');
      }
    }
  }
  .ui-datepicker-other-month a {
    color: $color-25per;
  }
  .ui-datepicker-period {
    background: linear-gradient(180deg,rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);
  }
  .ui-datepicker-period-from {
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
  }
  .ui-datepicker-period-to {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
  }
  .ui-datepicker-active a {
    @include dayCircle('green');
    &:hover {
      @include dayCircle('purple');
    }
  }
  .ui-datepicker-period-from a,
  .ui-datepicker-period-to a {
    @include dayCircle('purple');
  }
}