include ../button/button.pug

mixin calendar(id)
  .calendar
    .datepicker(id=`datepicker${id}`)
    .calendar__control
      +button({ id:`calendar__clear_${id}`, text: 'очистить', style: 'link', hover: true })
      +button({ id:`calendar__apply_${id}`, text: 'применить', style: 'link' })