@import '/assets/colors';
@import '/assets/types';

@mixin day-circle($color) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  color: white;
  font-weight: bold;
  border-radius: 22px;

  @if $color == 'green' {
    background: linear-gradient(180deg, $color-green 0%, $color-green-end 100%);
  }

  @if $color == 'purple' {
    background: linear-gradient(180deg, $color-purple 0%, $color-purple-end 100%);
  }

  @media only screen and (max-width: 400px) {
    min-width: 27px;
    min-height: 27px;
  }
}

.calendar {
  &__control {
    margin-top: 18px;
  }
}

.ui-datepicker {
  .ui-datepicker-header {
    display: flex;
    justify-content: space-between;
    max-height: 24px;

    .ui-datepicker-prev {
      order: 1;
      cursor: pointer;

      .ui-icon {
        font-size: 0;

        &::before {
          @include icon-type;

          color: $color-purple;
          content: 'arrow_back';
        }
      }
    }

    .ui-datepicker-title {
      @include h2-type;

      order: 2;
    }

    .ui-datepicker-next {
      order: 3;
      cursor: pointer;

      .ui-icon {
        font-size: 0;

        &::before {
          @include icon-type;

          color: $color-purple;
          content: 'arrow_forward';
        }
      }
    }
  }

  .ui-datepicker-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    margin-top: 27px;
    margin-left: -2px;

    tr {
      display: flex;
      flex-wrap: nowrap;
      min-width: 100%;
    }

    th,
    td {
      @include h3-type;

      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 40px;
      max-width: 40px;
      min-height: 40px;
      color: $color-50per;
      font-weight: normal;

      @media only screen and (max-width: 400px) {
        min-width: 27px;
        max-width: 27px;
        min-height: 27px;
      }
    }

    th {
      color: $color-purple;
      font-weight: bold;
      text-transform: capitalize;
    }

    a {
      color: $color-50per;
    }
  }

  .ui-datepicker-other-month a {
    color: $color-25per;
  }

  .ui-datepicker-period {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  }

  .ui-datepicker-period-from {
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
  }

  .ui-datepicker-period-to {
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
  }

  .ui-datepicker-active a {
    @include day-circle('green');
  }

  .ui-datepicker-period-from a,
  .ui-datepicker-period-to a {
    @include day-circle('purple');
  }

  .ui-datepicker-calendar a:hover {
    @include day-circle('green');
  }

  .ui-datepicker-active a:hover {
    @include day-circle('purple');
  }
}
