//-
  options.name
  options.code

mixin color-section(options)
  if !options
    - options = {}

  SECTION.color-section(data-color-name=options.name)
    H2.color-section__name= options.name
      P.details= options.code