@import '/styles/colors';
@import '/styles/types';

.color-section {
  position: relative;
  min-width: 250px;
  max-width: 300px;
  min-height: 70px;
  max-height: 70px;
  padding: 8px;
  padding-left: 110px;

  &__name {
    @include h2-type;

    min-width: 171px;
    margin: 0;
    line-height: 1.474;
  }

  &__details {
    @include h2-type;

    margin: 0;
    font-weight: normal;
    line-height: 1.474;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: $main;
    border-radius: 6px;
    content: '';
  }

  &_color {
    &_main::before {
      background-color: $main;
    }

    &_main-dark::before {
      background-color: $main-dark;
    }

    &_main-medium::before {
      background-color: $main-medium;
    }

    &_main-light::before {
      background-color: $main-light;
    }

    &_main-light-hard::before {
      background-color: $main-light-hard;
    }

    &_brand::before {
      background-color: $brand;
    }

    &_accent::before {
      background-color: $accent;
    }
  }
}
