//-
  options.name
  options.code

mixin color-section(options = {})
  - const blockName = "color-section"

  SECTION(
    class=blockName
    data-color-name=options.name
  )
    H2(class=`${blockName}__name`)=options.name
      SPAN(class=`${blockName}__details`)=options.code