@import '/assets/colors';
@import '/assets/types';

.color-section {
  position: relative;
  min-width: 250px;
  max-width: 300px;
  min-height: 70px;
  max-height: 70px;
  margin-bottom: 20px;
  padding: 8px;
  padding-left: 110px;

  &__name {
    @include h2-type;

    display: inline-flex;
    flex-direction: column;
    min-width: 171px;
    margin: 0;
    line-height: 1.474;
  }

  &__details {
    display: inline-block;
    font-weight: normal;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: $main;
    border-radius: 6px;
    content: '';
  }

  &[data-color-name='Dark Shade 75%']::before {
    background-color: $main-dark;
  }

  &[data-color-name='Dark Shade 50%']::before {
    background-color: $main-medium;
  }

  &[data-color-name='Dark Shade 25%']::before {
    background-color: $main-light;
  }

  &[data-color-name='Dark Shade 5%']::before {
    background-color: $main-light-hard;
  }

  &[data-color-name='Purple']::before {
    background-color: $brand;
  }

  &[data-color-name='Green']::before {
    background-color: $accent;
  }
}
