@import '../colors-style/colors-style.scss';

.color-section {
  max-width: 300px;
  max-height: 70px;
  min-width: 250px;
  min-height: 70px;
  padding: 8px;
  padding-left: 110px;
  margin-bottom: 20px;

  &__name {
    min-width: 171px;
    line-height: 1.474;
  }

  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: $color;
    border-radius: 6px;
  }
  &[data-color-name='Dark Shade 75%']::before {
    background-color: $color_75per;
  }
  &[data-color-name='Dark Shade 50%']::before {
    background-color: $color_50per;
  }
  &[data-color-name='Dark Shade 25%']::before {
    background-color: $color_25per;
  }
  &[data-color-name='Dark Shade 5%']::before {
    background-color: $color_5per;
  }
  &[data-color-name='Purple']::before {
    background-color: $color_purple;
  }
  &[data-color-name='Green']::before {
    background-color: $color_green;
  }
}