@import '/styles/colors';
@import '/styles/types';

.title-details {
  @include base-h-type;

  color: $font-medium;

  &__second {
    padding-left: 4px;

    @include base-type;
    @include text('small');

    color: $font-medium;
    white-space: nowrap;
  }
}
