//- 
  options.first
  options.second

mixin title-details(options = {})
  - const blockName = "title-details"
  - const { first, second } = options

  SPAN(class=blockName)
    SPAN(class=`${blockName}__first`)=first
    if second
      SPAN(class=`${blockName}__second`)=second