@import '/assets/colors';
@import '/assets/types';

.title-main {
  @include h2-type;

  &__prefix {
    @include base-h-type;
  }

  &__content {
    padding-left: 4px;

    &_large {
      @include h1-type;
    }
  }

  &__postfix {
    padding-left: 8px;

    @include h3-type;

    color: $color-purple;

    &_shifted {
      position: relative;
      bottom: -1px;
      left: -7px;
      display: inline-block;
    }
  }

  &_linked {
    &:hover *,
    &:focus * {
      color: $color-purple;
    }

    &:focus {
      outline: none;
    }
  }
}
