@import '/assets/colors.scss';
@import '/assets/types.scss';

.title-main {
  &__prefix {
    @include base-h-type;
  }
  &__content {
    padding-left: 4px;
  }
  &__postfix {
    padding-left: 8px;
    @include h3-type;
    color: $color-purple;
    &_shifted {
      display: inline-block;
      position: relative;
      left: -7px;
      bottom: -1px;
    }
  }
}