.form-set {
  max-width: 100%;
  min-width: 90px;
  width: 100%;
  min-height: 15px;
  &__title {
    width: 100%;
  }
  &__group {
    margin-top: 17px;
    &_inlined {
      display: flex;
    }
  }
  &__element {
    margin-top: 5px;
    &_inlined {
      margin-left: 10px;
    }
    &_indent {
      &_top {
        margin-top: 17px;
      }
      &_left {
        margin-left: 20px;
      }
    }
    &_first {
      margin-left: 0;
    }
    &_wided {
      min-width: 99px;
    }
  }
}
  
.title-section {
  width: 100%;
  &__details {
    float: right;
  }
}