//-
  options.title
  options.details
  options.empty
  options.grouped
  options.inlined
  options.indented

mixin form-set(options)
  if !options
      - options = {}

  FIELDSET.form-set
    if options.title 
      LEGEND.form-set__title
        H3.title-section= options.title
          if options.details
            .title-section__details
              P.details= options.details
    if options.empty 
      block 
    else if options.grouped
      .form-set__group(class=options.inlined ? 'form-set__group_inlined' :'')
        block
    else
      .form-set__element(class=options.indented ? 'form-set__element_indent_top' :'')
        block