@import '/styles/colors';
@import '/styles/types';

$block: 'form-set';

.#{$block} {
  width: 100%;
  min-width: 90px;
  max-width: 100%;
  min-height: 15px;
  margin: 0;
  padding: 0;
  border: 0;

  &__legend {
    width: 100%;
  }

  &__title {
    @include h3-type;

    width: 100%;
    margin: 0;
  }

  &__details {
    float: right;
    color: $font-medium;
    font-weight: normal;
  }

  &__description {
    @include text('small');
    @include text('rare_less');

    margin: 0;
    margin-top: 8px;
    color: $font-medium;
  }

  &__group {
    margin-top: 16px;

    &_inlined {
      display: flex;
      .#{$block}__element {
        margin-top: 0;
      }
    }

    &_indent-in {
      &_buttons {
        margin-top: 30px;
        line-height: 0;
      }
    }

    &_margin_none {
      margin: 0;
    }

    &_aligned {
      align-items: center;
      justify-content: space-between;
    }

    &_with-line {
      position: relative;

      &::before {
        position: absolute;
        top: -7px;
        left: 0;
        min-width: 100%;
        min-height: 1px;
        background-color: $line;
        content: '';
      }
    }
  }

  &__element {
    margin: 0;
    margin-top: 5px;
    line-height: 1;

    &_increased {
      flex-grow: 1;
    }

    &_align-mid {
      align-self: center;
    }

    &_indented {
      margin-top: 17px;
    }

    &_indent-mid {
      margin-top: 10px;
    }

    &_indent_left {
      margin-left: 10px;
    }

    &_indent-in {
      &_check-buttons {
        margin-top: 10px;
      }

      &_toggles {
        margin-top: 14px;
      }

      &_like-buttons {
        margin-left: 10px;
      }

      &_rate-buttons {
        margin-left: 20px;
      }

      &_buttons-left {
        margin-left: 19px;
      }

      &_buttons-top {
        margin-top: 30px;
      }
    }

    &_first {
      margin-left: 0;
    }

    &_widen {
      min-width: 99px;
    }

    &_margin_none {
      margin: 0;
    }
  }
}
