@import '/styles/colors';

.ui-kit {
  width: 100%;
  max-width: 1440px;
  height: max-content;
  min-height: 100%;

  &_color {
    &_gray {
      background-color: $bg-variation;
    }
  }

  &__header {
    padding: 30px;
  }

  &__content {
    display: flex;
    justify-content: center;
  }
}
