.field {
    min-width: 100%;
    height: 44px;
    border: 1px solid $color-25per;
    border-radius: 4px;
    padding: 9px 14px 11px 14px;
    font-family: $font-main;
    font-size: 14px;
    line-height: 24px;
    color: $color-75per;
    &::placeholder {
        color: $color-25per;
    }
    &_hover,
    &:hover,
    &_focus,
    &:focus {
        border-color: $color-50per;
        
        &::placeholder {
            color: $color-75per;
        }
    }
    &:invalid {
        background-color: $color-5per;
    }
}