include ../dropdown/dropdown.pug
include ../card/card.pug
include ../calendar/calendar.pug

mixin date-filter(options = {})
  - const blockName = "date-filter";
  - const { dateFrom, dateTo, name } = options;
  DIV(
    class=blockName,
    class=`js-${blockName}`,
    data-from=dateFrom,
    data-to=dateTo
  )
    -
      const dropdownOptions = {
        name,
        type: "date",
        dateFrom,
        dateTo,
        isFilter: true,
      }
    +dropdown(dropdownOptions)
      +card({ isMedium: true, isEmpty: true })
        -
          const calendarOptions = {
            from: dateFrom ? dateFrom : "",
            to: dateTo ? dateTo : "",
          }
        +calendar(calendarOptions)
