include ../dropdown/dropdown.pug
include ../card/card.pug
include ../calendar/calendar.pug

mixin date-filter(options = {})
  - const blockName = "date-filter"
  - const { dateFrom, dateTo, name } = options
  DIV(
    class=blockName 
    class=`js-${blockName}`
    data-from=dateFrom
    data-to=dateTo
  )
    +dropdown({
      name,
      type: "date",
      dateFrom,
      dateTo,
      isFilter: true,
    })
      +card({ isMedium: true, isEmpty: true })
        +calendar({
          from: dateFrom ? dateFrom : "",
          to: dateTo ? dateTo : "",
        })