include ../dropdown/dropdown.pug
include ../card/card.pug
include ../calendar/calendar.pug

mixin date-filter(options = {})
  - const blockName = "date-filter"
  DIV(
    class=blockName 
    class=`js-${blockName}`
    data-from=options.dateFrom
    data-to=options.dateTo
  )
    +dropdown({
      name: options.name,
      type: "date",
      dateFrom: options.dateFrom,
      dateTo: options.dateTo,
      isFilter: true,
    })
      +card({ isMedium: true, isEmpty: true })
        +calendar({
          from: options.dateFrom ? options.dateFrom : "",
          to: options.dateTo ? options.dateTo : "",
        })