mixin type-section-content(title, text)
  .type-section__title= title
  .type-section__example= text

mixin type-section(title, text)
  case title
    when 'H1'
      .type-section.type-section_h1
        +type-section-content(title, text)
    when 'H2'
      .type-section.type-section_h2
        +type-section-content(title, text)
    when 'H3'
      .type-section.type-section_h3
        +type-section-content(title, text)
    default
      .type-section.type-section_body
        +type-section-content(title, text)