@import '/styles/colors';
@import '/styles/types';

.type-section {
  display: flex;
  margin-top: 50px;

  &_first {
    margin-top: 0;
  }

  &__name,
  &__example {
    margin: 0;

    &_h1 {
      @include h1-type;
    }

    &_h2 {
      @include h2-type;
    }

    &_h3 {
      @include h3-type;
    }
  }

  &__name {
    min-width: 37px;
    margin: 0;
    color: $font-light;
    font-weight: normal;
    text-align: right;
  }

  &__example {
    max-width: 369px;
    margin: 0;
    margin-left: 30px;
  }
}
