@import '/assets/colors';

.type-section {
  display: flex;
  margin-top: 50px;

  &_first {
    margin-top: 0;
  }

  &__name {
    min-width: 37px;
    margin: 0;
    color: $color-25per;
    font-weight: normal;
    text-align: right;
  }

  &__example {
    max-width: 369px;
    margin: 0;
    margin-left: 30px;
  }
}
