@import '../colors-style/colors-style.scss';

.type-section {
  display: flex;
  &:not(:first-child) {
    margin-top: 50px;
  }
  &__name {
    min-width: 37px;
    text-align: right;
    color: $color-25per;
    font-weight: normal;
  }
  &__example {
    max-width: 369px;
    margin-left: 30px;
  }
}