include ../logo/logo.pug
include ../menu/menu.pug

//-
  options.id
  options.user
  options.isCustomed

mixin header(options = {})
  - const blockName = "header"
  DIV(class=blockName)
    DIV(class=`${blockName}__logo`)
      +logo
    NAV(class=`${blockName}__menu`)
      if (options.isCustomed)
        block
      else
        +menu({
          id: options.id,
          navLinks: [
            { link: "/change-link", text: "О нас" },
            { link: "/change-link", text: "Услуги", isDropdown: true, list: ['Элемент 1', 'Элемент 2', 'Элемент 3'] },
            { link: "/change-link", text: "Вакансии" },
            { link: "/change-link", text: "Новости" },
            { link: "/change-link", text: "Соглашения", isDropdown: true, list: ['Элемент 1', 'Элемент 2', 'Элемент 3'] },
          ],
          user: options.user ? { link: "/change-link", text: options.user } : null
        })
    