header.header {
    min-height: 70px;
    width: 100%;
    padding: 15px 140px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px $color-5per;

    display: flex;
    justify-content: space-between;
}

nav.menu {
    ul {
        height: 100%;
        display: flex;
        & > * {
            margin-left: 20px;
        }
    }
    .menu__item {
        white-space: nowrap;
        font-family: $font-main;
        align-self: center;
        a {
            font-weight: normal;
            color: $color-50per;
            &:hover,
            &.hover {
                font-family: $font-main-bold;
                color: $color-75per;
            }
        }
        &_dropdown {
            position: relative;
            margin-right: 25px;
            & a {
                &.hover::after,
                &:hover::after {
                    background-image: url('components/header/menu__item_expand_more_75.png');
                }
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 25px;
                    height: 21px;
                    top: -3px;
                    right: -25px;
                    background: no-repeat center url('components/header/menu__item_expand_more_50.png');
                }
            }
        }
        &_user {
            margin-left: 41px;
            position: relative;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 1px;
                height: 30px;
                left: -21px;
                top: -8px;
                background-color: rgba(31, 32, 65, 0.1);
            }
        }
        &:first-child {
            margin-left: 0;
        }
    }
    .button {
        margin-top: 3px;
        min-width: 196px;
        max-width: 196px;
        width: 100%;
        height: 34px;
        &_border {
            min-width: 87px;
            max-width: 87px;
            width: 100%;
            .button__text {
                height: 30px;
            }
        }
        &::before{
            height: 34px;
        }
    }
}

@media only screen and (max-width : 1120px) {
    header.header {
        padding-top: 5px;
    }
    .logo_full {
        margin-top: 10px;
    }
    nav.menu ul {
        flex-wrap: wrap;
        justify-content: flex-end;
        .menu__item:first-child {
            margin-left: 20px;
        }
        .menu__item {
            margin-top: 15px;
        }
        .button {
            margin-top: 15px;
        }
    }
}

@media only screen and (max-width : 880px) {
    header.header {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media only screen and (max-width : 800px) {
    header.header {
        justify-content: flex-start;
        max-height: 170px;
    }
    nav.menu ul {
        flex-direction: column;
        .menu__item {
            align-self: flex-start;
            margin-top: 15px;
        }
        .button {
            align-self: flex-start;
            margin-top: 15px;
        }
    }
}

@media only screen and (max-width : 700px) {
    header.header {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width : 560px) {
    header.header {
        max-height: 270px;
    }
    nav.menu ul {
        .button:last-child {
            margin-top: 10px;
        }
    }
}

@media only screen and (max-width : 400px) {
    header.header {
        flex-direction: column;
        max-height: 310px;
    }
    nav.menu ul {
        & > * {
            margin-left: 0;
        }
        .menu__item:first-child {
            margin-left: 0;
        }
    }
}