include ../logo/logo.pug
include ../menu/menu.pug
include ../burger/burger.pug

mixin header(options = {})
  - const blockName = "header";
  - const { name, isCustom, user } = options;
  -
    const menuOptions = {
      navLinks: [
        {
          link: "/mock-address/change-me",
          text: "О нас",
        },
        {
          link: "/mock-address/change-me",
          text: "Услуги",
          isDropdown: true,
          list: [
            {
              link: "/mock-address/change-me",
              text: "Прачечная",
            },
            {
              link: "/mock-address/change-me",
              text: "Трансфер",
            },
            {
              link: "/mock-address/change-me",
              text: "Триумф",
            },
          ],
          name: "services",
        },
        {
          link: "/mock-address/change-me",
          text: "Вакансии",
        },
        {
          link: "/mock-address/change-me",
          text: "Новости",
        },
        {
          link: "/mock-address/change-me",
          text: "Соглашения",
          isDropdown: true,
          list: [
            {
              link: "/mock-address/change-me",
              text: "Бронирование",
            },
            {
              link: "/mock-address/change-me",
              text: "Wi-Fi",
            },
            {
              link: "/mock-address/change-me",
              text: "Разоружение",
            },
          ],
          name: "agreements",
        },
      ],
      user: user
        ? {
            link: "/mock-address/change-me",
            text: user,
          }
        : null,
    }

  SECTION(class=blockName)
    DIV(class=`${blockName}__wrapper`)
      P(class=`${blockName}__logo`)
        +logo
      SECTION(class=`${blockName}__burger`)
        +burger(name)
          if (isCustom)
            block
          else
            +menu(menuOptions)
