@import '/styles/colors';

.header {
  width: 100%;
  background-color: $bg-main;
  box-shadow: 0 10px 20px $shadow-light-hard;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    min-height: 70px;
    margin: 0 auto;
    padding: 15px 140px;

    @media only screen and (max-width: 1180px) {
      padding: 15px 40px;
    }

    @media only screen and (max-width: 980px) {
      padding: 15px 20px;
    }

    @media only screen and (max-width: 400px) {
      padding: 15px 5px;
    }
  }

  &__logo {
    margin: 0;

    @media only screen and (max-width: 980px) {
      align-self: center;
    }
  }

  &__burger {
    position: relative;
    margin-left: 20px;
  }
}
