@import '../../colors.scss';

.header {
  min-height: 70px;
  min-width: 100%;
  padding: 15px 140px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px $color-5per;

  display: flex;
  justify-content: space-between;
  align-items: center;
}