@import '../../colors.scss';

.header {
  min-height: 70px;
  min-width: 100%;
  padding: 15px 140px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px $color-5per;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  &__logo {
    @media only screen and (max-width : 1100px) {
      align-self: flex-start;
    }
    @media only screen and (max-width : 900px) {
      align-self: center;
    }
  }
  &__burger {
    margin-left: 53px;
    position: relative;
  }
  @media only screen and (max-width : 1100px) {
    flex-wrap: nowrap;
  }
  @media only screen and (max-width : 600px) {
    padding: 10px 40px;
  }
}