@import '/styles/colors';

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  min-height: 70px;
  padding: 15px 140px;
  background-color: $bg-main;
  box-shadow: 0 10px 20px $shadow-light-hard;

  &__logo {
    @media only screen and (max-width: 1150px) {
      align-self: flex-start;
    }

    @media only screen and (max-width: 900px) {
      align-self: center;
    }
  }

  &__burger {
    position: relative;
    margin-left: 53px;
  }

  @media only screen and (max-width: 1150px) {
    flex-wrap: nowrap;
  }

  @media only screen and (max-width: 600px) {
    padding: 10px 40px;
  }
}
