include ../color-section/color-section.pug

mixin colors-section
  - const blockName = "colors-section";

  DIV(class=blockName)
    +color-section({ name: "Dark Shade 100%", code: "#1F2041" })
    +color-section({ name: "Dark Shade 75%", code: "#1F2041" })
    +color-section({ name: "Dark Shade 50%", code: "#1F2041" })
    +color-section({ name: "Dark Shade 25%", code: "#1F2041" })
    +color-section({ name: "Dark Shade 5%", code: "#1F2041" })
    +color-section({ name: "Purple", code: "#BC9CFF" })
    +color-section({ name: "Green", code: "#6FCF97" })
