@import '/styles/colors';

.website {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 10px 20px $shadow-light-hard;

  &__header {
    z-index: 1;
  }

  &__content {
    flex: 1 0 100%;
    height: 1px;
    min-height: 100%;

    &_with-border {
      border-bottom: 1px solid $main-light;
    }
  }

  &__footer {
    flex: 0 0 auto;
  }
}
