@import '/styles/colors';

.website {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  height: max-content;
  min-height: 100%;

  &__header {
    z-index: 1;
  }

  &__content {
    display: flex;
    flex: 1 0 100%;
    justify-content: center;
    height: 1px;
    min-height: 100%;

    &_with-border {
      border-bottom: 1px solid $main-light;
    }
  }

  &__footer {
    z-index: 1;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
  }
}
