@import '/assets/types';

.rooms {
  &__title {
    @include h1-type;

    margin: 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 12px;
    justify-content: space-around;
    max-width: 100%;
    margin: 0;
    margin-top: 20.5px;
    padding: 0;
  }

  &__number {
    list-style: none;
  }

  &__pagination {
    max-width: min-content;
    margin: auto;
    margin-top: 41px;
  }
}
