.rooms {
  &__list {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -12px;

    margin-top: 0.5px;
  }
  &__number {
    margin-top: 20px;
    margin-left: 12px;
  }
  &__pagination {
    max-width: fit-content;
    margin: auto;
    margin-top: 41px;
  }
}