.rooms {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 12px;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 20.5px;
  }

  &__pagination {
    max-width: min-content;
    margin: auto;
    margin-top: 41px;
  }
}
