@keyframes shift-in {
  to {
    left: 0;
  }
}

@keyframes shift-out {
  to {
    right: 100%;
  }
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 100%;
  height: 1px;
  min-height: 100%;
  overflow: hidden;

  &__slide {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: no-repeat center;
    background-size: cover;

    &_current {
      right: 0;
      z-index: 1;
    }

    &_next {
      left: 100%;
      z-index: 2;
    }

    &_animate {
      &_overlay {
        animation: shift-in 2s;
      }

      &_hiding {
        animation: shift-out 2s;
      }
    }
  }
}
