// @import '../../../components/logo/logo.scss';
// @import '../../../components/card/card.scss';

.page {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;

  &__header {
    padding: 30px;
  }
  &__main {
    padding: 42px 140px 131px;
  }
  &_gray {
    background: #F4F4F6;
  }
}

.cards {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  height: 1140px;
  margin-left: -40px;
  margin-top: -40px;
  &__unit {
    margin-left: 40px;
    margin-top: 40px;
  }
}

// .page_cards {
//     display: flex;
//     justify-content: center;
//     background: #F4F4F6;
// }

// .logo {
//     position: absolute;
//     left: 30px;
//     top: 30px;
// }

// .cards {
//     display: flex;
//     flex-flow: column wrap;
//     justify-content: flex-start;

//     margin: 140px;
//     margin-top: 150px;
//     max-width: 1160px;
//     width: 100%;
//     height: 1060px;

//     & > * {
//         margin: 40px 0 0 40px;
//     }
//     & > :nth-child(1) {
//         margin-top: 0;
//         margin-left: 0;
//     }
//     & > :nth-child(2) {
//         margin-left: 0;
//     }
//     & > :nth-child(3) {
//         margin-top: 0;
//     }
//     & > :nth-child(5) {
//         margin-top: 0;
//     }
// }

// .calendar_demo {
//     max-width: 320px;
//     width: 100%;
//     min-height: 299px;
//     max-height: 409px;
// }

// @media only screen and (max-width : 1435px) {
//     .cards {
//         margin-left: 30px;
//         margin-right: 30px;
//     }
// }

// @media only screen and (max-width : 1220px) {
//     .cards {
//         height: 1320px;
//         & > :nth-child(5) {
//             margin-top: 40px;
//         }
//         & > :nth-child(6) {
//             margin-top: 0;
//         }
//     }
// }

// @media only screen and (max-width : 1170px) {
//     .cards {
//         height: 1620px;
//         margin-left: 140px;
//         margin-right: 140px;
//         & > :nth-child(3) {
//             margin-top: 40px;
//             margin-left: 0;
//         }
//         & > :nth-child(4) {
//             margin-top: 0;
//         }
//         & > :nth-child(6) {
//             margin-top: 40px;
//         }
//     }
// }

// @media only screen and (max-width : 1040px) {
//     .cards {
//         margin-left: 30px;
//         margin-right: 30px;
//     }
// }

// @media only screen and (max-width : 860px) {
//     .cards {
//         height: 2010px;
//         & > :nth-child(4) {
//             margin-top: 40px;
//             margin-left: 0;
//         }
//         & > :nth-child(5) {
//             margin-top: 0;
//         }
//     }
// }

// @media only screen and (max-width : 800px) {
//     .cards {
//         margin-top: 110px;
//         margin-bottom: 40px;
//         height: 2420px;
//         & > :nth-child(5) {
//             margin-top: 40px;
//             margin-left: 0;
//         }
//         & > :nth-child(6) {
//             margin-top: 0;
//         }
//     }
// }

// @media only screen and (max-width : 750px) {
//     .cards {
//         min-height: 3020px;
//         margin-left: 140px;
//         margin-right: 140px;
//         & > :nth-child(6) {
//             margin-top: 40px;
//             margin-left: 0;
//         }
//         & > :nth-child(7) {
//             margin-left: 0;
//         }
//     }
// }

// @media only screen and (max-width : 600px) {
//     .cards {
//         margin-left: 30px;
//         margin-right: 30px;
//     }
// }

// @media only screen and (max-width : 410px) {
//     .cards {
//         height: 3150px;
//         margin-left: 10px;
//         margin-right: 10px;
//     }
// }

// @media only screen and (max-width : 380px) {
//     .cards {
//         height: 3260px;
//     }
// }

// @media only screen and (max-width : 370px) {
//     .cards {
//         height: 3100px;
//         & > :nth-child(6) {
//             margin-top: -25px;
//         }
//     }
// }

// @media only screen and (max-width : 350px) {
//     .cards {
//         height: fit-content;
//     }
// }