extends ../../../layout

include ../../../components/logo/logo.pug
include ../../../components/card/card.pug

block variables
  - const title = "TOXIN - UI kit"
  - const page = "page_gray"

block content
  HEADER.page__header
    +logo
  MAIN.page__main
    .cards
      ARTICLE.cards__unit
        +card("wishes")
      ARTICLE.cards__unit
        +card("check-in")
      ARTICLE.cards__unit
        +card("room")
      ARTICLE.cards__unit
        +card("log-in")
      ARTICLE.cards__unit
        +card("calendar")
      ARTICLE.cards__unit
        +card("room-rate")
    //- +card('wishes')
    //- +card('check-in')
    //- +card('room')
    //- +card('log-in')
    //- .calendar_demo
    //-   +card('calendar')
    //- +card('room-rate')
    //- +card({
    //-   type: 'room-rate',
    //-   pic: { src: '../images/room_840.png', alt: '№840' },
    //-   number: '840',
    //-   price: '9 900₽',
    //-   rate: 4,
    //-   review: '65'
    //- })