.cards {
  display: flex;
  flex-flow: column wrap;
  gap: 40px;
  align-content: flex-start;
  height: 1140px;
  padding: 0 140px;
  padding-top: 42px;

  &__unit {
    width: 100%;
    max-width: 380px;
  }

  @media only screen and (max-width: 1430px) {
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
    height: max-content;
    padding: 42px 40px 131px;

    &__unit {
      width: max-content;
    }
  }

  @media only screen and (max-width: 600px) {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px 40px;
  }
}
