.page {
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  height: max-content;
  margin: 0 auto;

  &__header {
    padding: 30px;
  }

  &__main {
    padding: 42px 140px 131px;

    @media only screen and (max-width: 1430px) {
      padding: 42px 40px 131px;
    }

    @media only screen and (max-width: 600px) {
      padding: 20px 10px 40px;
    }
  }

  &_gray {
    background: #f4f4f6;
  }
}

.cards {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  height: 1140px;
  margin-top: -40px;
  margin-left: -40px;

  &__unit {
    width: 100%;
    max-width: 380px;
    margin-top: 40px;
    margin-left: 40px;

    @media only screen and (max-width: 1430px) {
      margin-right: 10px;
      margin-left: 10px;
    }

    @media only screen and (max-width: 600px) {
      margin: 0;
      margin-top: 20px;
    }
  }

  @media only screen and (max-width: 1430px) {
    flex-direction: row;
    justify-content: space-around;
    min-width: 100%;
    height: max-content;
    margin-left: 0;
  }

  @media only screen and (max-width: 600px) {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: -20px;
  }
}
