extends ../../../layouts/ui-kit/ui-kit

include ../../../components/card/card.pug
include ../../../components/card-form/card-form.pug
include ../../../components/calendar/calendar.pug
include ../../../components/room/room.pug

block variables
  -
    const options = { 
      title: "TOXIN - UI kit",
      description: "Карточки",
      keywords: "toxin, ui-kit, cards",
      isGray: true,
    }
  -
    const roomCardOptions = {
      title: {
        main: { prefix: "№", content: "888", postfix: "Люкс" },
        details: { first: "9 990₽", second: "в сутки" },
      },
    }
    const calendarOptions = {
      from: "2019-08-19", 
      to: "2019-08-23",
      active: "2019-08-08",
    }
    const hoveredRoomOptions = {
      number: "888",
      isLux: true,
      price: 9990,
      rate: 5,
      reviews: 145,
      images: [
        "../assets/images/room-888.jpg",
        "../assets/images/room-350.jpg",
        "../assets/images/room-352.jpg",
        "../assets/images/room-444.jpg",
      ],
      isHovered: true,
    }
    const defaultRoomOptions = {
      number: "840",
      price: 9900,
      rate: 4,
      reviews: 65,
      images: [
        "../assets/images/room-840.jpg",
        "../assets/images/room-350.jpg",
        "../assets/images/room-352.jpg",
        "../assets/images/room-444.jpg",
      ],
    }

block content
  ARTICLE.cards
    SECTION.cards__unit
      +card({ title: "Найдём номера под ваши пожелания" })
        +card-form({ type: "wishes" })
    SECTION.cards__unit
      +card({ title: "Регистрация аккаунта" })
        +card-form({ type: "check-in" })
    SECTION.cards__unit
      +card(roomCardOptions)
        +card-form({ type: "room" })
    SECTION.cards__unit
      +card({ title: "Войти" })
        +card-form({ type: "log-in" })
    SECTION.cards__unit.js-calendar-unit
      +card({ isMedium: true, isEmpty: true })
        +calendar(calendarOptions)
    SECTION.cards__unit.cards__unit_small
      +room(hoveredRoomOptions)
    SECTION.cards__unit.cards__unit_small
      +room(defaultRoomOptions)