.page {
  max-width: 1440px;
  min-width: 320px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;

  &__header {
    padding: 30px;
  }
  &__main {
    padding: 42px 140px 131px;
  }
  &_gray {
    background: #F4F4F6;
  }
}

.cards {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  height: 1140px;
  margin-left: -40px;
  margin-top: -40px;
  &__unit {
    margin-left: 40px;
    margin-top: 40px;
    max-width: 380px;
    width: 100%;
  }
}