extends ../../../layout

include ../../../components/logo/logo.pug
include ../../../components/card/card.pug

block variables
  - var title = 'TOXIN - UI kit'
  - var page = 'page_cards'

block content
  +logo
  .cards
    +card('wishes')
    +card('check-in')
    +card('room')
    +card('log-in')
    +card('calendar')
    +card('room-rate')
    +card({
      type: 'room-rate',
      pic: { src: '../images/room_840.png', alt: '№840' },
      number: '840',
      price: '9 900₽',
      rate: 4,
      review: '65'
    })