@import '../../../components/logo/logo.scss';
@import '../../../components/card/card.scss';

.page_cards {
    display: flex;
    justify-content: center;
    background: #F4F4F6;
}

.logo {
    position: absolute;
    left: 30px;
    top: 30px;
}

.cards {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    margin: 140px;
    margin-top: 150px;
    max-width: 1160px;
    width: 100%;
    height: 1060px;
    // background-color: rgb(202, 214, 205);

    .card {
        margin: 40px 0 0 40px;
        &:nth-child(1) {
            height: 374px;
            margin-top: 0;
            margin-left: 0;
        }
        &:nth-child(2) {
            height: 646px;
            margin-left: 0;
        }
        &:nth-child(3) {
            height: 511px;
            margin-top: 0;
        }
        &:nth-child(4) {
            height: 358px;
        }
        &:nth-child(5) {
            width: 320px;
            height: 369px;
            margin-top: 0;
        }
        &:nth-child(6),
        &:nth-child(7) {
            // align-self: flex-end;
            width: 270px;
            height: 257px;
        }
    }
}