@import '../../fonts/fonts.scss';
@import '../colors-style/colors-style.scss';

@mixin base-type {
  font-size: 14px;
  line-height: 1.714;
  font-family: 'Montserrat', sans-serif;
  color: $color-75per;
}

@mixin base-h-type {
  @include base-type;
  font-weight: bold;
  color: $color;
  & > .details,
  & > :first-child > .details {
    font-weight: normal;
  }
}

@mixin h1-type {
  @include base-h-type;
  font-size: 1.714rem;
  line-height: 1.209;
}

@mixin h2-type {
  @include base-h-type;
  font-size: 1.357rem;
  line-height: 1.29;
}

@mixin h3-type {
  @include base-h-type;
  font-size: 0.857rem;
  line-height: 1.25;
  text-transform: uppercase;
  & > .details,
  & > :first-child > .details {
    color: $color-50per;
  }
}

html,
body {
  @include base-type;
}
h1 {
  @include h1-type;
}
h2 {
  @include h2-type;
}
h3 {
  @include h3-type;
}

@mixin text($mod) {
  @if $mod == 'light_middle' {
    color: $color-50per;
  }
  @if $mod == 'light_normal' {
    color: $color-75per;
  }
  @if $mod == 'rare_less' {
    line-height: 1.3;
  }
  @if $mod == 'mod_date' {
    @include base-type;
    text-transform: uppercase;
    font-size: 0.97857rem;
    &-text {
      letter-spacing: -1px;
    }
  }
  @if $mod == 'mod_like' {
    @include base-type;
    font-size: 0.65rem;
  }
  @if $mod == 'mod_pagination' {
    @include h3-type;
    font-weight: normal;
    color: $color-50per;
  }
  @if $mod == 'mod_counter-button' {
    @include base-h-type;
    font-size: 1.22rem;
    font-weight: normal;
    color: $color-50per;
  }
  @if $mod == 'white' {
    color: white;
  }
}

.text {
  &_light {
    &_middle {
      @include text('light_middle');
    }
    &_normal {
      @include text('light_normal');
    }
  }
  &_rare {
    &_less {
      @include text('rare_less');
    }
  }
  &_mod {
    &_like {
      @include text('mod_like');
    }
  }
}