.section {
    max-width: 100%;
    min-width: 90px;
    min-height: 15px;
    // border: 1px solid blue;
    &__title {
        display: flex;

        padding-bottom: 5px;

        font-family: $font-main-bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $color;
        &_name {
            flex-grow: 1;
        }
        &_details {
            font-family: $font-main;
            color: $color-50per;
            text-align: right;
        }
    }
    &__block_btn {
        display: flex;
        width: 218px;
        margin-bottom: 30px;
        margin-top: 15px;
        & > :first-child {
            margin-left: 0px;
        }
        & > * {
            margin-left: 20px;
        }
        
        
        &:nth-last-child(2) {
            width: 142px;
        }
        &:last-child {
            width: 100%;
        }
    }
}