include ../slider/slider.pug
include ../button/button.pug
include ../pagination/pagination.pug

mixin section(section)
  section.section
    if section.title
      if section.title.details
        .section__title
          h3.section__title_name= section.title.name
          p.section__title_details= section.title.details
      else
        h3.section__title.section__title_name= section.title.name
    if section.content
      case section.content.type
        when 'slider'
          +slider(section.content.min, section.content.max)
        when 'buttons'
          each btn, index in section.content.buttons
            .section__block
              +button(btn)
              if btn.demo
                +button(btn, btn.demo)
        when 'pagination'
          +pagination(section.content)
        default
          .block
      
    
