@import '/styles/colors';

.bullet-list {
  max-width: 260px;
  margin: 0;
  padding: 0;

  &__item {
    position: relative;
    margin-top: 10px;
    padding-left: 21px;
    line-height: 1.72;
    list-style: none;

    &_first {
      margin-top: 0;
    }

    &::before {
      position: absolute;
      top: 7px;
      left: 0;
      min-width: 10px;
      min-height: 10px;
      background: $bg-additional;
      border-radius: 5px;
      content: '';
    }
  }
}
