mixin bullet-list(options = {})
  - const blockName = "bullet-list";
  - const { items = [] } = options;

  UL(class=blockName)
    each item, index in items
      - const isFirst = index === 0;
      LI(
        class=`${blockName}__item`,
        class=isFirst ? `${blockName}__item_first` : ""
      )= item
