@import '/assets/colors.scss';

.bullet-list {
  max-width: 260px;
  &__item {
    line-height: 1.72;
    margin-top: 10px;
    padding-left: 21px;
    position: relative;
    &_first {
      margin-top: 0;
    }
    &::before{
      content: '';
      position: absolute;
      min-width: 10px;
      min-height: 10px;
      top: 7px;
      left: 0;
      border-radius: 5px;
      background: $color_25per;
    } 
  }
}