//- 
  options.items

mixin bullet-list(options = {})
  - const blockName = "bullet-list"
  if !options.items
    - options.items = []

  UL(class=blockName)
    each item, index in options.items
      LI(
        class=`${blockName}__item`
        class=(index===0) ? `${blockName}__item_first` :""
      )=item