.checkbox-group {
    display: flex;
    position: relative;
    margin: 5px 0;
    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked+label::before {
            background: no-repeat center url('components/checkbox-group/check.png');
            background-position: 4px 3px;
            border-color: $color-purple;
        }   
    }
    &__label {
        margin-left: 30px;
        padding-top: 2px;
        font-family: $font_main;
        font-size: 14px;
        line-height: 18px;
        color: $color-50per;
        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            left: 0;
            border: 1px solid $color-25per;
            border-radius: 4px;
        }
    }
}