mixin checkbox-group(checkbox, id)
  .checkbox-group
    if checkbox.checked
      input.checkbox-group__input(type='checkbox' id=id checked)
    else
      input.checkbox-group__input(type='checkbox' id=id)
    label.checkbox-group__label(for=id)=checkbox.label