@import '../colors-style/colors-style.scss';

$block: 'footer';
.#{$block} {
  &__copyright-bar {
    border-top: 1px solid $color-10per;
  }
  &_creative {
    max-width: 768px;
    width: 100%;
    padding: 120px 198px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px $color-5per;
    .#{$block}__copyright {
      margin-top: 20px;
    }
    .#{$block}__socials {
      margin-top: 25px;
    }
  }
}