@import '/styles/colors';

$block: 'footer';

@mixin creative {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 10px;
  background-color: $bg-main;
  box-shadow: 0 10px 20px $shadow-light-hard;

  .#{$block}__widgets,
  .#{$block}__wrapper {
    display: none;
  }

  .#{$block}__logo,
  .#{$block}__copyright,
  .#{$block}__socials {
    display: block;
  }

  .#{$block}__logo {
    margin: 0;
  }

  .#{$block}__copyright {
    margin-top: 20px;
  }

  .#{$block}__socials {
    margin-top: 25px;
  }
}

.#{$block} {
  min-width: 100%;

  &__wrapper {
    border-top: 1px solid $main-light-medium;
  }

  &__widgets,
  &__copyright-bar {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__logo,
  &__copyright,
  &__socials {
    display: none;
  }

  &_creative {
    @include creative;
  }

  @media only screen and (max-width: 1030px) {
    @include creative;
  }
}
