.socials {
  display: flex;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;

    &_first {
      margin-left: 0;
    }
  }

  &__link {
    display: inline-block;
    min-width: 24px;
    min-height: 24px;
    font-size: 0;
    background: no-repeat center;

    &_name {
      &_twitter {
        background-image: url('images/twitter.svg');
      }

      &_facebook {
        background-image: url('images/facebook.svg');
      }

      &_instagram {
        background-image: url('images/instagram.svg');
      }
    }

    &:hover,
    &:focus {
      outline: none;
      transform: scale(1.2);
      transition: all 0.1s ease-out;
    }
  }
}
