@import '/assets/types.scss';

$list-size: 900px;

$block: 'nav-links';
.#{$block} {
  &__item {
    margin-top: 20px;
    @include text('rare_less');
    &_first {
      margin-top: 0;
    }
  }
  &_head {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width : $list-size) {
      flex-direction: column;
      min-width: 100%;
    }
    .#{$block} {
      &__item {
        margin-top: 0;
        @include base-type;
  
        margin-left: 20px;
        @media only screen and (max-width : $list-size) {
          margin-left: 0;
          margin-top: 10px;
        }
        &_first {
          margin-left: 0;
          @media only screen and (max-width : $list-size) {
            margin-top: 0;
          }
        }
        &_dropdown {
          position: relative;
        }
      }
    }
  }
}
