extends ../../../layout

include ../../../components/header/header.pug
include ../../../components/footer/footer.pug
include ../../../components/card/card.pug

include ../../../components/section/section.pug

block variables
  - var title = 'TOXIN - Search room'

block content
    +header
    main.search__main
      aside.search__filter
        +section({
          title: { name: 'даты пребывания в отеле' },
          content: { 
            type: 'dropdown',
            value: '19 авг - 23 авг',
            mode: 'filter'
          }
        })
        +section({
          title: { name: 'Гости' },
            content: { 
              type: 'dropdown',
              value: '3 гостя, 1 младенец'
            }
        })
        +section({
          title: { 
            name: 'диапазон цены', 
            details: '5 000₽ - 10 000₽' 
          },
          content: {
            type: 'slider',
            min: 31.75,
            max: 63.5,
            details: 'Стоимость за сутки пребывания в номере'
          }
        })
        +section({
          title: { name: 'Правила дома' },
          content: { 
            type: 'checkbox',
            id: 'checkbox1',
            checks: [
              {label: 'Можно курить'},
              {label: 'Можно с питомцами', checked: true},
              {label: 'Можно пригласить гостей\n(до 10 человек)', checked: true}
            ]
          }
        })
        +section({
          title: { name: 'доступность' },
          content: { 
            type: 'checkbox',
            id: 'checkboxrich',
            checks: [
              {
                label: 'Широкий коридор',
                details: 'Ширина коридоров в номере\nне менее 91 см.'
              },
              {
                label: 'Помощник для инвалидов',
                details: `На 1 этаже вас встретит специалист\nи проводит до номера.`
              }
            ]
          }
        })
        +section({
          title: { name: 'удобства номера' },
            content: { 
              type: 'dropdown',
              value: '2 спальни, 2 кровати...'
            }
        })
        +section({
          title: { name: 'дополнительные удобства' },
          content: { 
            type: 'expandable-checkbox-list',
            id: 'checkbox-list',
            expanded: true,
            checks: [
              {label: 'Завтрак'},
              {label: 'Письменный стол', checked: true},
              {label: 'Стул для кормления', checked: true},
              {label: 'Кроватка', checked: true},
              {label: 'Телевизор'},
              {label: 'Шампунь'}
            ]
          }
        })
      article.search__rooms
        h1= 'Номера, которые мы для вас подобрали'
        section.cards
          +card('room-rate')
          +card({
            type: 'room-rate',
            pic: { src: '../images/room_840.png', alt: '№840' },
            number: '840',
            price: '9 900₽',
            rate: 4,
            review: '65'
          })
          +card({
            type: 'room-rate',
            pic: { src: '../images/room_980.png', alt: '№980' },
            number: '980',
            luxury: true,
            price: '8 500₽',
            rate: 3,
            review: '35'
          })
          +card({
            type: 'room-rate',
            pic: { src: '../images/room_856.png', alt: '№856' },
            number: '856',
            price: '7 300₽',
            rate: 5,
            review: '19'
          })
          +card({
            type: 'room-rate',
            pic: { src: '../images/room_740.png', alt: '№740' },
            number: '740',
            price: '6 000₽',
            rate: 4,
            review: '44'
          })
          +card({
            type: 'room-rate',
            pic: { src: '../images/room_982.png', alt: '№982' },
            number: '982',
            price: '5 800₽',
            rate: 3,
            review: '56'
          })
          +card({
            type: 'room-rate',
            pic: { src: '../images/room_678.png', alt: '№678' },
            number: '678',
            price: '5 500₽',
            rate: 5,
            review: '45'
          })
          +card({
            type: 'room-rate',
            pic: { src: '../images/room_450.png', alt: '№450' },
            number: '450',
            price: '5 300₽',
            rate: 4,
            review: '39'
          })
          +card({
            type: 'room-rate',
            pic: { src: '../images/room_350.png', alt: '№350' },
            number: '350',
            price: '5 000₽',
            rate: 3,
            review: '77'
          })
          +card({
            type: 'room-rate',
            pic: { src: '../images/room_666.png', alt: '№666' },
            number: '666',
            price: '5 000₽',
            rate: 5,
            review: '25'
          })
          +card({
            type: 'room-rate',
            pic: { src: '../images/room_444.png', alt: '№444' },
            number: '444',
            price: '5 000₽',
            rate: 3,
            review: '15'
          })
          +card({
            type: 'room-rate',
            pic: { src: '../images/room_352.png', alt: '№352' },
            number: '352',
            price: '5 000₽',
            rate: 3,
            review: '55'
          })
        +section({
          content: { 
            type: 'pagination',
            last: 15,
            description: '1 – 12 из 100+ вариантов аренды'
          }
        })
    +footer