@import '/styles/colors';
@import '/styles/types';

$block: 'check-button';
.#{$block} {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 133px;
  max-width: 100%;
  min-height: 20px;
  padding-left: 30px;
  cursor: pointer;

  &_rich {
    .#{$block} {
      &__label {
        max-width: 266px;
        color: $font-dark;
        font-weight: bold;
      }

      &__details {
        @include text('small');

        display: inline-block;
        max-width: 230px;
        margin-top: 6px;
        color: $font-medium;
        font-weight: normal;
        line-height: 1.2;
      }
    }
  }

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 20px;
    height: 20px;
    opacity: 0;
    &:checked+.#{$block}__label::before {
      background: no-repeat center url('images/check.svg');
      background-position: 4px 3px;
      border-color: $brand;
    }
    &:not(:checked)+.#{$block}__label::before {
      background: none;
      border-color: $main-light;
    }
    &:focus+.#{$block}__label::before {
      outline: none;
      box-shadow: 0 0 5px $shadow-highlight;
    }
  }

  &__label {
    @include text('rare_less');

    display: inline-block;
    max-width: 200px;
    color: $font-medium;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $main-light;
      border-radius: 4px;
      content: '';
    }

    &_checked::before {
      background: no-repeat center url('images/check.svg');
      background-position: 4px 3px;
      border-color: $brand;
    }
  }
}
