@import '/assets/types';

.bill {
  padding-left: 1px;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-top: 11px;
    list-style: none;

    &_first {
      margin-top: 0;
    }
  }

  &__total {
    @include h2-type;

    margin-top: 31px;
  }
}
