include ../card/card.pug
include ../card-title/card-title.pug
include ../card-form/card-form.pug
include ../preview/preview.pug

mixin room(options = {})
  - const blockName = "room";
  -
    const { images, isHovered, number, isLux, price, rate, 
      reviews } = options
  -
    const cardTitleOptions = {
      main: {
        prefix: "№",
        content: number,
        postfix: isLux ? "Люкс" : "",
        link: "room-details.html",
      },
      details: {
        first: `${price.toLocaleString("ru")}₽`,
        second: "в сутки",
      },
    }
    const cardFormOptions = {
      type: "room-rate",
      custom: { number, rate, reviews },
    }

  DIV(class=blockName)
    +card({ isSmall: true, isEmpty: true })
      HEADER.card__header
        +preview({ images, isHovered, number })
      SECTION.card__body
        H2.card__title.card__title_margin_none
          +card-title(cardTitleOptions)
        +card-form(cardFormOptions)
