include ../card/card.pug
include ../card-title/card-title.pug
include ../card-form/card-form.pug
include ../preview/preview.pug

//- 
  options.isLux
  options.price
  options.rate
  options.reviews
  options.images
  options.isHovered

mixin room(options = {})
  - const blockName = "room"
  DIV(class=blockName)
    +card({ isSmall: true, isEmpty: true })
      HEADER.card__header
        +preview({ 
          images: options.images,
          isHovered: options.isHovered,
          number: options.number,
        })
      SECTION.card__body
        H2.card__title.card__title_margin_none
          +card-title({
            main: { 
              prefix: "№", 
              content: options.number, 
              postfix: options.isLux ? "Люкс" : ""
            },
            details: { 
              first: `${options.price.toLocaleString("ru")}₽`, 
              second: "в сутки" 
            }
          })
        +card-form({ 
          for: "room-rate",
          options: { 
            number: options.number,
            rate: options.rate, 
            reviews: options.reviews 
          }
        })