extends ../../../layouts/website/website

include ../../../components/card/card.pug
include ../../../components/card-form/card-form.pug
include ../../../components/carousel/carousel.pug

block variables
  -
    const options = { 
      title: "TOXIN - Landing",
      description: "Пример landing-страницы",
      keywords: "toxin, landing",
    }
  -
    const carouselOptions = {
      slides: [
        "../assets/images/landing-room-1.jpg",
        "../assets/images/landing-room-2.jpg",
        "../assets/images/landing-room-3.jpg",
      ],
      delaySec: 10,
    }
    const cardFormOptions = {
      type: "wishes",
      custom: {
        guestList: [
          { name: "взрослые", category: "гость" },
          { name: "дети", category: "гость" },
          { name: "младенцы", category: "младенец" },
        ],
      },
    }

block content
  ARTICLE.landing
    .landing__background
      +carousel(carouselOptions)
    SECTION.landing__content
      SECTION.landing__card
        +card({ title: "Найдём номера под ваши пожелания" })
          +card-form(cardFormOptions)
      P.landing__about= "Лучшие номера для вашей работы, отдыха и просто вдохновения"
