.page {
  min-width: 320px;
  width: 100%;
  height: fit-content;
}

.landing {
  position: relative;
  z-index: 0;
  &__content {
    padding: 70px 134px 21px 140px;
    min-height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__about {
    max-width: 297px;
    align-self: flex-end;
    text-align: right;
  }
}