@import 'types';

html,
body {
  width: 100%;
  min-width: 320px;
  height: 1px;
  min-height: 100%;
  background-color: #fff;

  @include base-type;
}

h1 {
  @include h1-type;
}

h2 {
  @include h2-type;
}

h3 {
  @include h3-type;
}
