@import 'fonts/fonts.scss';
@import 'colors.scss';

@mixin base-type {
  font-size: 14px;
  line-height: 1.714;
  font-family: 'montserrat', sans-serif;
  font-weight: normal;
  color: $color-75per;
}

@mixin base-h-type {
  @include base-type;
  font-weight: bold;
  color: $color;
}

@mixin h1-type {
  @include base-h-type;
  font-size: 1.714rem;
  line-height: 1.209;
}

@mixin h2-type {
  @include base-h-type;
  font-size: 1.357rem;
  line-height: 1.29;
}

@mixin h3-type {
  @include base-h-type;
  font-size: 0.857rem;
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin text($mod) {
  @if $mod == 'light_middle' {
    color: $color-50per;
  }
  @if $mod == 'light_normal' {
    color: $color-75per;
  }
  @if $mod == 'bold' {
    font-weight: bold;
  }
  @if $mod == 'capitalize' {
    text-transform: capitalize;
  }
  @if $mod == 'small' {
    font-size: 0.857rem;
  }
  @if $mod == 'rare_less' {
    line-height: 1.3;
  }
  @if $mod == 'rare_more' {
    line-height: 1.75;
  }
  @if $mod == 'mod_details' {
    font-weight: normal;
    color: $color-50per;
  }
  @if $mod == 'mod_date' {
    @include base-type;
    text-transform: uppercase;
    font-size: 0.97857rem;
    &-text {
      letter-spacing: -1px;
    }
  }
  @if $mod == 'mod_like' {
    @include base-type;
    font-size: 0.65rem;
  }
  @if $mod == 'mod_pagination' {
    @include h3-type;
    font-weight: normal;
    color: $color-50per;
  }
  @if $mod == 'mod_number' {
    @include h3-type;
    font-weight: normal;
    color: $color-50per;
  }
  @if $mod == 'mod_counter-button' {
    @include base-h-type;
    font-size: 1.22rem;
    font-weight: normal;
    color: $color-50per;
  }
  @if $mod == 'mod_info-button' {
    @include h3-type;
    text-transform: lowercase;
    color: $color-25per;
  }
  @if $mod == 'white' {
    color: white;
  }
}

@mixin icon-type {
  font-family: 'material-icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}