@import 'fonts/fonts';
@import 'colors';

@mixin base-type {
  color: $font-dark;
  font-weight: normal;
  font-size: 14px;
  font-family: Montserrat, Arial, sans-serif;
  line-height: 1.714;
}

@mixin base-h-type {
  @include base-type;

  color: $font-main;
  font-weight: bold;
}

@mixin h1-type {
  @include base-h-type;

  font-size: 1.714rem;
  line-height: 1.209;
}

@mixin h2-type {
  @include base-h-type;

  font-size: 1.357rem;
  line-height: 1.29;
}

@mixin h3-type {
  @include base-h-type;

  font-size: 0.857rem;
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin text($mod) {
  @if $mod == 'small' {
    font-size: 0.857rem;
  }

  @if $mod == 'rare_less' {
    line-height: 1.3;
  }

  @if $mod == 'rare_more' {
    line-height: 1.75;
  }
}

@mixin icon-type {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Material Icons', sans-serif;
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  word-wrap: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
