@import 'fonts/fonts.scss';
@import 'colors.scss';

@mixin base-type {
  font-size: 14px;
  line-height: 1.714;
  font-family: 'montserrat', sans-serif;
  font-weight: normal;
  color: $color-75per;
}

@mixin base-h-type {
  @include base-type;
  font-weight: bold;
  color: $color;
}

@mixin h1-type {
  @include base-h-type;
  font-size: 1.714rem;
  line-height: 1.209;
}

@mixin h2-type {
  @include base-h-type;
  font-size: 1.357rem;
  line-height: 1.29;
}

@mixin h3-type {
  @include base-h-type;
  font-size: 0.857rem;
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin text($mod) {
  @if $mod == 'small' {
    font-size: 0.857rem;
  }
  @if $mod == 'rare_less' {
    line-height: 1.3;
  }
  @if $mod == 'rare_more' {
    line-height: 1.75;
  }
}

@mixin icon-type {
  font-family: 'material-icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}