@import '../checkbox-group/checkbox-group.scss';
@import '../radio-group/radio-group.scss';
@import '../toggle-group/toggle-group.scss';
@import '../like/like.scss';
@import '../rate/rate.scss';

.check-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 222px;
    min-height: 55px;
    &__title {
        margin-bottom: 10px;
        font-family: $font-main-bold;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        color: $color;
    }
}