$color: #1F2041;
$color-75per: rgba(31, 32, 65, 0.75);
$color-50per: rgba(31, 32, 65, 0.5);
$color-25per: rgba(31, 32, 65, 0.25);
$color-10per: rgba(31, 32, 65, 0.1);
$color-5per: rgba(31, 32, 65, 0.05);
$color-yellow: #FFE39C;
$color-yellow-end: #FFBA9C;
$color-purple: #BC9CFF;
$color-purple-end: #8BA4F9;
$color-green: #6FCF97;
$color-green-end: #66D2EA;
$color-gray: #919191;
$color-gray-end: #3D4975;

html,
body {
    background-color: #FFFFFF;
}