@import '/assets/colors';
@import '/assets/types';

$block: 'toggle';

.#{$block} {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 133px;
  max-width: 100%;
  min-height: 20px;
  padding-left: 50px;

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 40px;
    height: 20px;
    opacity: 0;
    &:checked+.#{$block}__label {
      &::before {
        border-color: $brand;
      }

      &::after {
        left: 24px;
        background: $brand-gradient;
      }
    }
    &:not(:checked)+.#{$block}__label {
      &::before {
        border-color: $main-light;
      }

      &::after {
        left: 4px;
        background: $bg-additional;
      }
    }
    &:focus+.#{$block}__label::before {
      outline: none;
      box-shadow: 0 0 5px $shadow-highlight;
    }
  }

  &__label {
    @include text('rare_less');

    display: flex;
    align-items: baseline;
    max-width: 320px;
    cursor: pointer;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 20px;
      border: 1px solid $main-light;
      border-radius: 10px;
      content: '';
    }

    &::after {
      position: absolute;
      top: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      background: $bg-additional;
      border-radius: 10px;
      content: '';
    }

    &_checked {
      &::before {
        border-color: $brand;
      }

      &::after {
        left: 24px;
        background: $brand-gradient;
      }
    }
  }
}
