@import '/styles/types';

$block: 'card-title';
.#{$block} {
  @include h1-type;

  display: flex;
  align-items: baseline;
  margin: 0;

  &_size {
    &_small {
      @include h2-type;
    }
  }

  &__main,
  &__details {
    margin: 0;
  }

  &__main {
    @include h1-type;

    flex-grow: 1;

    &_size {
      &_small {
        @include h2-type;
      }
    }
  }

  &__details {
    margin-left: 20px;
  }
}
