include ../title-main/title-main.pug
include ../title-details/title-details.pug

//- 
  options.main
  options.details

mixin card-title(options = {})
  - const blockName = "card-title"
  
  if (typeof options) === "string"
    SPAN(class=blockName)=options
  else
    - const { main, details } = options
    SPAN(class=blockName)
      SPAN(class=`${blockName}__main`)
        +title-main(main)
      if (details)
        SPAN(class=`${blockName}__details`)
          +title-details(details)