mixin caption-list(items = [])
  - const blockName = "caption-list"

  UL(class=blockName)
    each color, index in ['yellow', 'green', 'purple', 'gray']
      LI(
        class=`${blockName}__item`
        class=`${blockName}__item_${color}`
      )=items[index].label