mixin caption-list(items = [])
  - const blockName = "caption-list";

  UL(class=blockName)
    each pointColor, index in ["yellow", "green", "purple", "gray"]
      LI(
        class=`${blockName}__item`,
        class=`${blockName}__item_point-color_${pointColor}`
      )= items[index].label
