@import '/styles/colors';

.caption-list {
  margin: 0;
  padding: 0;
  padding-left: 15px;

  &__item {
    position: relative;
    list-style: none;

    &::before {
      position: absolute;
      top: 7px;
      left: -15px;
      min-width: 10px;
      min-height: 10px;
      border-radius: 5px;
      content: '';
    }

    &_yellow::before {
      background: $additional-1-gradient;
    }

    &_green::before {
      background: $accent-gradient;
    }

    &_purple::before {
      background: $brand-gradient;
    }

    &_gray::before {
      background: $additional-2-gradient;
    }
  }
}
