extends layout

block variables
  - var title = 'TOXIN'
  - var descr = 'Верстка макета TOXIN по второму заданию FSD'

block content
    ul.pages
      li.pages_type= 'UI-KIT'
        ul.pages_list
          li.pages_name
            a.pages_link(href='ui-kit/colors-and-type.html')= 'Colors & Type'