extends layout

block variables
  - var title = 'TOXIN'
  - var descr = 'Верстка макета TOXIN по второму заданию FSD'

block content
    .class-1= 'Список страниц:'
    hr
    a(href='pages/ui-kit/colors-and-type.html')= 'UI Kit - colors&type'
    hr
    a(href='pages/website/landing-page-1.html')= 'Landing - page 1'