block variables

doctype html
HTML(lang="ru")
  HEAD
    META(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    META(name="description", content=descr)
    META(name="viewport" content="width=device-width, initial-scale=1.0")
    TITLE=title
  BODY.page(class=page)
    block content