block variables

doctype html
HTML(lang="ru")
  HEAD
    META(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    META(name="description", content=descr)
    META(name="keywords", content=keywords)
    META(name="viewport" content="width=device-width, initial-scale=1.0")

    LINK(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    LINK(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    LINK(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    LINK(rel="manifest" href="/site.webmanifest")
    LINK(rel="mask-icon" href="/safari-pinned-tab.svg" color="#bc9cff")
    META(name="msapplication-TileColor" content="#bc9cff")
    META(name="theme-color" content="#ffffff")

    TITLE=title
  BODY.page(class=page)
    block content