@import 'reset.css';
@import 'fonts/Montserrat-Regular/fonts.css';
@import 'fonts/Montserrat-Bold/fonts.css';
@import 'fonts/Quicksand-Regular/Quicksand.css';
@import 'fonts/Quicksand-Bold/Quicksand.css';

$font-main: 'Conv_Montserrat-Regular', sans-serif;
$font-main-bold: 'Conv_Montserrat-Bold', sans-serif;
$font-title: 'Quicksand-Regular', sans-serif;
$font-title-bold: 'Quicksand-Bold', sans-serif;
$font-spare: 'Open Sans', sans-serif;

$color: #1F2041;
$color-75per: rgba(31, 32, 65, 0.75);
$color-50per: rgba(31, 32, 65, 0.5);
$color-25per: rgba(31, 32, 65, 0.25);
$color-5per: rgba(31, 32, 65, 0.05);
$color-purple: #BC9CFF;
$color-green: #6FCF97;

.page {
    max-width: 1920px;
    min-width: 320px;
}

.pages {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $font-title;
    &_type {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 24px;
        margin-top: 40px;
        &:first-child {
            margin-top: 0;
        }
    }
    &_list {
        margin: 5px 0;
    }
    &_name {
        margin: 15px 0;
        list-style: circle;
        font-size: 20px;
    }
    &_link {
        text-decoration: underline;
    }
}

h1 {
    font-family: $font-title-bold;
    font-size: 24px;
    line-height: 30px;
    color: $color;
    //коорректировка
    font-weight: bold;
    transform: scale(1.085, 1) translate(32px);
    // margin-left: 14px;
}
h3 {
    font-family: $font-main-bold;
    font-size: 12px;
    line-height: 15px;
    color: $color;
    text-transform: uppercase;
}

@import 'pages/ui-kit/colors-and-type/colors-and-type.scss';
@import 'pages/ui-kit/form-elements/form-elements.scss';
@import 'pages/ui-kit/cards/cards.scss';
@import 'pages/ui-kit/headers-and-footers/headers-and-footers.scss';

@import 'pages/website/landing-page-1/landing-page-1.scss';
@import 'pages/website/search-room-1/search-room-1.scss';