@import 'reset.css';

.page {
    max-width: 1920px;
    min-width: 320px;
}

.pages {
    min-height: 100%;
    display: flex;
    justify-content: center;
    &_type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 24px;
    }
    &_list {
        margin: 15px 0;
    }
    &_name {
        list-style: circle;
        font-size: 20px;
    }
    &_link {
        text-decoration: underline;
    }
}

@import 'pages/ui-kit/colors-and-type/colors-and-type.scss';