@import 'reset.css';
@import 'fonts/Montserrat-Regular/fonts.css';
@import 'fonts/Montserrat-Bold/fonts.css';
@import 'fonts/Quicksand-Bold/Quicksand.css';

$font-main: 'Conv_Montserrat-Regular', sans-serif;
$font-main-bold: 'Conv_Montserrat-Bold', sans-serif;
$font-title: 'Quicksand', sans-serif;
$font-spare: 'Open Sans', sans-serif;

.page {
    max-width: 1920px;
    min-width: 320px;
}

.pages {
    min-height: 100%;
    display: flex;
    justify-content: center;
    &_type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 24px;
    }
    &_list {
        margin: 15px 0;
    }
    &_name {
        list-style: circle;
        font-size: 20px;
    }
    &_link {
        text-decoration: underline;
    }
}

@import 'pages/ui-kit/colors-and-type/colors-and-type.scss';