@import '/assets/types';

.room-section {
  &__title {
    display: flex;
    justify-content: space-between;
    margin: 0;

    &_shifted {
      margin-left: 21px;
    }
  }

  &__details {
    @include base-type;
    @include text('rare_less');

    align-self: flex-end;
    margin-left: 20px;
    color: $color-50per;
    white-space: nowrap;
  }

  &__content {
    margin-top: 20px;
  }

  &__item {
    margin-top: 4px;

    &_first {
      margin-top: 11px;
    }
  }
}
