@import '../colors-style/colors-style.scss';
@import '../type-style/type-style.scss';

.like-btn {
  position: relative;
  min-width: 40px;
  max-width: 40px;
  width: 100%;
  min-height: 20px;
  z-index: 0;
  &__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    z-index: -1;
    opacity: 0;
    &:checked+.like-btn__label {
      color: $color-purple;
      &::before {
        background-image: url('./favorite.png');
        background-position: 4px 5px;
        border-color: transparent;
      }
      &::after {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        width: 40px;
        height: 20px;
        background: linear-gradient(180deg, $color-purple 0%, $color-purple-end 100%);
        border-radius: 10px;        
        z-index: -1;
      }
    }
    &:not(:checked)+.like-btn__label {
      color: $color-25per;
      &::before {
        background: no-repeat center url('./favorite-border.png');
        background-position: 4px 5px;
        border-color: $color-25per;
      }
      &::after {
        display: none;
      }
    }
  }
  &__label {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 18px;
    width: 38px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    text-align: center;
    @include text('mod_like');
    color: $color-25per;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      width: 40px;
      height: 20px;
      border: 1px solid $color-25per;
      border-radius: 10px;
      background: no-repeat center url('./favorite-border.png');
      background-position: 4px 5px;
    }

    &_checked {
      color: $color-purple;
      &::before {
        background-image: url('./favorite.png');
        background-position: 4px 5px;
        border-color: transparent;
      }
      &::after {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        width: 40px;
        height: 20px;
        background: linear-gradient(180deg, $color-purple 0%, $color-purple-end 100%);
        border-radius: 10px;        
        z-index: -1;
      }
    }
  }
}