include ../../../../components/form-section/form-section.pug
include ../../../../components/form-set/form-set.pug

include ../../../../components/check-button/check-button.pug
include ../../../../components/comment/comment.pug

mixin others(param)
  if (param === "rich-checks")
    +form-section
      +form-set({ title: "Rich Checkbox Buttons", isGrouped: true })
        .form-set__element.form-set__element_indent-in_check-buttons
          +check-button({ 
            label: "Широкий коридор",
            details: "Ширина коридоров в номере не менее 91 см.",
          })
        .form-set__element.form-set__element_indent-in_check-buttons
          +check-button({ 
            label: "Помощник для инвалидов",
            details: "На 1 этаже вас встретит специалист и проводит до номера.",
          })
  else if (param === "comment")
    +form-section
      +comment({
        username: "Мурад Сарафанов",
        avatar: "../images/murad.png",
        datetime: "5 дней назад",
        message: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.",
        likeValue: 12,
        isLiked: true,
      })