@import '../colors-style/colors-style.scss';
@import '../type-style/type-style.scss';

.text-field {
  max-width: 100%;
  min-width: 133px;
  width: 100%;
  max-height: 44px;
  min-height: 44px;

  padding: 9px 14px 11px 14px;

  border: 1px solid $color-25per;
  border-radius: 4px;

  color: $color-75per;

  &::placeholder {
    color: $color-25per;
  }

  &_hovered,
  &:hover,
  &_focused,
  &:focus {
    border-color: $color-50per;
        
    &::placeholder {
      color: $color-75per;
    }
  }

  &_masked:invalid {
    background-color: $color-5per;
  }

  &::-webkit-calendar-picker-indicator {
    display: none;
  }
  &::-webkit-datetime-edit {
    padding: 0;
    margin: 0;
    @include date-special;
  }
}