@import '/assets/colors.scss';
@import '/assets/types.scss';

.text-field {
  max-width: 100%;
  min-width: 133px;
  width: 100%;
  max-height: 44px;
  min-height: 44px;

  padding: 9px 14px 11px 14px;

  border: 1px solid $color-25per;
  border-radius: 4px;

  background-color: white;
  color: $color-75per;

  &::placeholder {
    color: $color-25per;
  }

  &_hovered,
  &:hover,
  &_focused,
  &:focus {
    border-color: $color-50per;
    outline: none;
    &::placeholder {
      color: $color-75per;
    }
  }

  &_directed {
    padding-right: 40px;
  }

  &_masked:invalid {
    color: $color-50per;
  }

  &::-webkit-calendar-picker-indicator {
    display: none;
  }
  &[type=date] {
    padding: 9px 12px 11px;
    text-transform: uppercase;
    font-size: 0.97857rem;
    cursor: text;
  }
  &::-webkit-datetime-edit {
    padding: 0;
    margin: 0;
    @include base-type;
    text-transform: uppercase;
    font-size: 0.97857rem;
    &-text {
      letter-spacing: -1px;
    }
  }

  &_border_none {
    border: none;
    min-height: 42px;
    max-height: 42px;
    &:focus {
      box-shadow: 0 10px 15px $color-5per;
    }
  }

  &_with-right-space {
    padding-right: 34px;
  }

  &:read-only {
    cursor: default;
  }
}