@import '/assets/colors';
@import '/assets/types';

.text-field {
  width: 100%;
  min-width: 133px;
  max-width: 100%;
  min-height: 44px;
  max-height: 44px;
  padding: 9px 14px 11px;
  color: $font-dark;
  background-color: $bg-main;
  border: 1px solid $main-light;
  border-radius: 4px;

  &::placeholder {
    color: $font-light;
  }

  &_directed {
    padding-right: 40px;
  }

  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  &[type='date'] {
    padding: 9px 12px 11px;
    font-size: 0.9786rem;
    text-transform: uppercase;
    cursor: text;
  }

  &::-webkit-datetime-edit {
    margin: 0;
    padding: 0;
    font-size: 0.9786rem;
    text-transform: uppercase;

    @include base-type;

    &-text {
      letter-spacing: -1px;
    }
  }

  &_hovered,
  &:hover,
  &_focused,
  &:focus {
    border-color: $main-medium;
    outline: none;

    &::placeholder {
      color: $font-dark;
    }
  }

  &_masked {
    &:invalid {
      color: $font-light;
    }

    &:focus {
      color: $font-dark;
    }

    &:invalid::-webkit-datetime-edit {
      color: $font-light;
    }

    &:focus::-webkit-datetime-edit {
      color: $font-dark;
    }
  }

  &_border_none {
    min-height: 42px;
    max-height: 42px;
    border: none;

    &:focus {
      box-shadow: 0 10px 15px $shadow-light-hard;
    }
  }

  &_with-right-space {
    padding-right: 34px;
  }

  &:read-only {
    cursor: default;
  }
}
