@import '/styles/colors';
@import '/styles/types';

.link {
  @include base-type;
  @include text('rare_less');

  color: $font-medium;
  text-decoration: none;

  &_selected {
    color: $font-dark;
    font-weight: bold;
  }

  &_hovered,
  &:hover {
    color: $font-dark;
  }

  &:focus {
    text-decoration: underline;
    outline: none;
  }

  &:hover,
  &:visited {
    text-decoration: none;
  }

  &::before {
    display: block;
    height: 0;
    overflow: hidden;
    font-weight: bold;
    visibility: hidden;
    content: attr(title);
  }
}
