@import '/assets/colors.scss';
@import '/assets/types.scss';

.link {
  @include base-type;
  @include text('rare_less');
  color: $color-50per;
  &_hovered,
  &:hover {
    color: $color-75per;
    font-weight: bold;
  }
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}