@import '/assets/types.scss';

.link {
  @include base-type;
  @include text('light_middle');
  @include text('rare_less');
  &_hovered,
  &:hover {
    @include text('light_normal');
    @include text('bold');
  }
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}