@import '/styles/colors';
@import '/styles/types';

.link {
  @include base-type;
  @include text('rare_less');

  color: $font-medium;
  text-decoration: none;

  &_hovered,
  &:hover {
    color: $font-dark;
    font-weight: bold;
  }

  &:focus {
    text-decoration: underline;
    outline: none;
  }

  &:hover,
  &:visited {
    text-decoration: none;
  }
}
