mixin slider(options = {})
  - const blockName = "slider";
  - const { values } = options;

  DIV(class=blockName, class=`js-${blockName}`)
    DIV(
      class=`js-${blockName}-root`,
      data-values=values
    )
