.slider {
    position: relative;
    width: 266px;
    height: 12px;
    margin-top: 21px;
    &__slot {
        position: absolute;
        top: 2px;
        width: 100%;
        height: 6px;
        border: 1px solid $color-25per;
        border-radius: 3px;
        &_selected {
            background: linear-gradient(180deg, $color-green 0%, #66D2EA 100%);
            border: none;
            &::before {
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                left: -9px;
                top: -5.5px;
                background: linear-gradient(180deg, $color-green 0%, #66D2EA 100%);
                border: 2px solid #FFFFFF;
                border-radius: 10px;
            }
            &::after {
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                right: -8px;
                top: -5.5px;
                background: linear-gradient(180deg, $color-green 0%, #66D2EA 100%);
                border: 2px solid #FFFFFF;
                border-radius: 10px;
            }
        }
    }
}