//-
  options.id
  options.values

mixin slider(options)
  if !options
    - options = {}

  .slider
    .slider__slot
      .slider__root(
        id=options.id
        data-values=options.values
      )