include ../../../../components/form-section/form-section.pug
include ../../../../components/form-set/form-set.pug

include ../../../../components/check-button/check-button.pug
include ../../../../components/radio-group/radio-group.pug
include ../../../../components/toggle/toggle.pug

include ../../../../components/radio-field/radio-field.pug

include ../../../../components/like-button/like-button.pug

include ../../../../components/check-button/check-button.pug
include ../../../../components/radio-group/radio-group.pug

mixin check-elements
  .check-elements
    SECTION.check-elements__section.check-elements__section_first
      +form-section
        +form-set({ title: "Checkbox Buttons", grouped: true })
          .form-set__element.form-set__element_top_10
            +check-button({ id: "check-btn-1", label: "Можно курить" })
          .form-set__element.form-set__element_top_10
            +check-button({ id: "check-btn-2", label: "Можно с питомцами", checked: true })
          .form-set__element.form-set__element_top_10
            +check-button({ id: "check-btn-3", label: "Можно пригласить гостей (до 10 человек)", checked: true })
    .check-elements__section
      +form-section
        +form-set({ title: "Radio Buttons", indented: true })
          +radio-group({
            id: "radio-buttons",
            options: [
              {label: "Мужчина", checked: true},
              {label: "Женщина"},
            ],
          })
    SECTION.check-elements__section
      +form-section
        +form-set({ title: "Toggle", grouped: true })
          .form-set__element
            +toggle({
              id: "toggle-1", 
              label: "Получать спецпредложения", 
              checked: true
            })
          .form-set__element
            +toggle({
              id: "toggle-2", 
              label: "Получать спецпредложения", 
              toggle: true
            })
    SECTION.check-elements__section
      +form-section
        +form-set({ title: "Like Button", grouped: true, inlined: true })
          .form-set__element
            +like-button({ id: "like-1", value: 2 })
          .form-set__element.form-set__element_inlined
            +like-button({ id: "like-2", value: 12, checked: true })
    SECTION.check-elements__section
      +form-section
        +form-set({ title: "Rate Button", grouped: true, inlined: true })
          .form-set__element
            +radio-field({
              id: 'rate-1',
              options: [
                {checked: true},
                {checked: true},
                {checked: true},
                {checked: true},
                {checked: true},
                {checked: true},
              ],
              rate: true,
            })
          .form-set__element.form-set__element_inlined.form-set__element_indent_left
            +radio-field({
              id: 'rate-2',
              options: [
                {checked: true},
                {checked: true},
                {checked: true},
                {checked: true},
                {checked: true},
                {checked: false},
              ],
              rate: true,
            })