include ../../../../components/form-set/form-set.pug
include ../../../../components/check-button/check-button.pug
include ../../../../components/radio-group/radio-group.pug
include ../../../../components/toggle/toggle.pug
include ../../../../components/like-button/like-button.pug
include ../../../../components/rate-button/rate-button.pug

mixin check-elements
  .check-elements
    SECTION.check-elements__section.check-elements__section_first
      +form-set({ title: "Checkbox Buttons", isGrouped: true })
        .form-set__element.form-set__element_indent-in_check-buttons
          +check-button({ label: "Можно курить" })
        .form-set__element.form-set__element_indent-in_check-buttons
          +check-button({ label: "Можно с питомцами", isChecked: true })
        .form-set__element.form-set__element_indent-in_check-buttons
          +check-button({ label: "Можно пригласить гостей (до 10 человек)", isChecked: true })
    SECTION.check-elements__section
      +form-set({ title: "Radio Buttons", isIndented: true })
        +radio-group({
          name: "sex",
          options: [
            {label: "Мужчина", isChecked: true},
            {label: "Женщина"},
          ],
        })
    SECTION.check-elements__section
      +form-set({ title: "Toggle", isGrouped: true })
        .form-set__element
          +toggle({
            label: "Получать спецпредложения", 
            isChecked: true
          })
        .form-set__element.form-set__element_indent-in_toggles
          +toggle({ label: "Получать спецпредложения" })
    SECTION.check-elements__section
      +form-set({ title: "Like Button", isGrouped: true, isInlined: true })
        .form-set__element
          +like-button({ value: 2 })
        .form-set__element.form-set__element_indent-in_like-buttons
          +like-button({ value: 12, isChecked: true })
    SECTION.check-elements__section
      +form-set({ title: "Rate Button", isGrouped: true, isInlined: true })
        .form-set__element
          +rate-button({ name: "rate-1", value: 4 })
        .form-set__element.form-set__element_indent-in_rate-buttons
          +rate-button({ name: "rate-2", value: 5 })